Repository PrismJS/prism, pull requests merged in 2018-12, with the labels that each got.

#1572 Added G-code language
  components.js
  components.json
  components/prism-gcode.js
  components/prism-gcode.min.js
  examples/prism-gcode.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/gcode/checksum_feature.test
  tests/languages/gcode/comment_feature.test
  tests/languages/gcode/keyword_feature.test
  tests/languages/gcode/property_feature.test
  tests/languages/gcode/string_feature.test
Labels: language-definitions, needs review

#1598 HTTP: Improved content highlighting
  components/prism-http.js
  components/prism-http.min.js
  tests/languages/css+http/css_inclusion.test
  tests/languages/javascript+http/javascript_inclusion.test
  tests/languages/json+http/json-suffix_inclusion.test
  tests/languages/json+http/json_inclusion.test
  tests/languages/markup+http/html_inclusion.test
  tests/languages/markup+http/xml-suffix_inclusion.test
  tests/languages/markup+http/xml_inclusion.test
Labels: enhancement, language-definitions, needs review

#1626 Display language aliases
  download.js
  index.html
Labels: enhancement, website

#1629 LESS: Removed useless insertBefore
  components/prism-less.js
  components/prism-less.min.js
Labels: enhancement, language-definitions, needs review

#1633 SCSS: Moved property definition
  components/prism-scss.js
  components/prism-scss.min.js
Labels: enhancement, language-definitions, needs review

#1612 Show Invisibles: Corrected load order
  components.js
  components.json
Labels: needs review, plugins

#1631 Removed unused `insertBefore` overload
  components/prism-core.js
  components/prism-core.min.js
  prism.js
Labels: enhancement, needs review

#1632 CSS: Comma punctuation
  components/prism-css.js
  components/prism-css.min.js
  components/prism-less.js
  components/prism-less.min.js
  prism.js
  tests/languages/css/function_feature.test
Labels: enhancement, language-definitions, needs review

#1562 Markdown: Added support for code blocks
  components/prism-markdown.js
  components/prism-markdown.min.js
  tests/languages/markdown/code_feature.test
Labels: enhancement, language-definitions, needs review

#1637 CSS extras: Selector pattern does not use the CSS selector pattern
  components/prism-css-extras.js
  components/prism-css-extras.min.js
Labels: enhancement, language-definitions, needs review

#1532 C# operator and punctuation changes
  components/prism-csharp.js
  components/prism-csharp.min.js
  tests/languages/csharp/issue1371.test
  tests/languages/csharp/operator_feature.test
  tests/languages/csharp/punctuation_feature.test
Labels: bug, language-definitions

#1474 Java improvements
  components/prism-java.js
  components/prism-java.min.js
  tests/languages/java/function_featrue.test
  tests/languages/java/generics_feature.test
  tests/languages/java/issue1351.test
  tests/languages/java/keyword_feature.test
  tests/languages/java/number_feature.test
  tests/languages/java/package_feature.test
Labels: enhancement, language-definitions, needs review

#1473 JS: Improved regex detection
  components/prism-javascript.js
  components/prism-javascript.min.js
  prism.js
  tests/languages/javascript/regex_feature.test
Labels: enhancement, language-definitions, needs review

#1523 Highlight Ruby method definitions without arguments
  components/prism-ruby.js
  components/prism-ruby.min.js
  tests/languages/crystal/attribute_feature.test
  tests/languages/crystal/keyword_feature.test
  tests/languages/erb/erb_in_markup_feature.test
  tests/languages/haml/tag_feature.test
  tests/languages/ruby/keyword_feature.test
  tests/languages/ruby/method_definition_feature.test
Labels: enhancement, language-definitions, needs review

#1628 InsertBefore: Ignore duplicates
  components/prism-core.js
  components/prism-core.min.js
  components/prism-csharp.min.js
  components/prism-jolie.js
  components/prism-jolie.min.js
  components/prism-sass.js
  components/prism-sass.min.js
  components/prism-tt2.js
  components/prism-tt2.min.js
  prism.js
Labels: enhancement, needs review

#1639 Python: Decorator support
  components/prism-python.js
  components/prism-python.min.js
  tests/languages/python/decorator_feature.test
Labels: enhancement, language-definitions, needs review

#1488 TOML support
  components.js
  components.json
  components/prism-toml.js
  components/prism-toml.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/toml/boolean_feature.test
  tests/languages/toml/comment_feature.test
  tests/languages/toml/date_feature.test
  tests/languages/toml/key_feature.test
  tests/languages/toml/number_feature.test
  tests/languages/toml/string_feature.test
  tests/languages/toml/table_feature.test
Labels: enhancement, language-definitions, needs review

#1642 Python: F-strings and string prefixes
  components/prism-python.js
  components/prism-python.min.js
  examples/prism-python.html
  tests/languages/python/string-interpolation_feature.test
  tests/languages/python/string_feature.test
Labels: enhancement, language-definitions, needs review

#1478 Add file extensions support for major languages
  components/prism-coffeescript.js
  components/prism-coffeescript.min.js
  components/prism-markdown.js
  components/prism-markdown.min.js
  components/prism-python.js
  components/prism-python.min.js
  components/prism-ruby.js
  components/prism-ruby.min.js
  components/prism-yaml.js
  components/prism-yaml.min.js
Labels: enhancement, language-definitions, needs consensus

#1446 Identify JavaScript function parameters
  components/prism-flow.js
  components/prism-flow.min.js
  components/prism-javascript.js
  components/prism-javascript.min.js
  prism.js
  tests/languages/javascript/class-method_feature.test
  tests/languages/javascript/function-variable_feature.test
  tests/languages/javascript/function_feature.test
  tests/languages/javascript/issue1526.test
  tests/languages/jsx/issue1294.test
  tests/languages/jsx/issue1335.test
  tests/languages/jsx/issue1421.test
Labels: enhancement, language-definitions, needs review

#1450 Identify CSS units and variables
  components/prism-css-extras.js
  components/prism-css-extras.min.js
  tests/languages/css!+css-extras/number_feature.test
  tests/languages/css!+css-extras/operator_feature.test
  tests/languages/css!+css-extras/unit_feature.test
  tests/languages/css!+css-extras/variable_feature.test
Labels: enhancement, language-definitions, needs consensus

#1648 add the pipe operators in reasonml
  components/prism-reason.js
  components/prism-reason.min.js
  tests/languages/reason/operator_feature.test
Labels: enhancement, language-definitions

#1658 Add Vala language
  components.js
  components.json
  components/prism-vala.js
  components/prism-vala.min.js
  examples/prism-vala.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  tests/languages/vala/class-name_feature.test
  tests/languages/vala/keyword_feature.test
  tests/languages/vala/number_feature.test
  tests/languages/vala/operator_feature.test
  tests/languages/vala/punctuation_feature.test
  tests/languages/vala/string_feature.test
Labels: language-definitions, needs changes

#1594 Add support for HCL
  components.js
  components.json
  components/prism-hcl.js
  components/prism-hcl.min.js
  examples/prism-hcl.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/hcl/comment_feature.test
  tests/languages/hcl/interpolation_feature.test
  tests/languages/hcl/keyword_feature.test
  tests/languages/hcl/number_feature.test
  tests/languages/hcl/property_feature.test
  tests/languages/hcl/string_feature.test
Labels: language-definitions, needs changes
