Repository PrismJS/prism, pull requests merged in 2019-02, with the labels that each got.

#1723 Autolinker: Fixed that all tokens were url-decoded
  plugins/autolinker/prism-autolinker.js
  plugins/autolinker/prism-autolinker.min.js
Labels: bug, needs review, plugins

#1722 Improve JavaScript parameter recognization
  components/prism-javascript.js
  components/prism-javascript.min.js
  prism.js
  tests/languages/javascript/class-method_feature.test
  tests/languages/javascript/function-variable_feature.test
  tests/languages/javascript/function_feature.test
Labels: enhancement, language-definitions, needs changes

#1725 Support JSX/TSX class-name with dot
  components/prism-jsx.js
  components/prism-jsx.min.js
  tests/languages/jsx/tag_feature.test
  tests/languages/tsx/tag_feature.test
Labels: enhancement, language-definitions

#1730 Ini: Added support for # comments
  components/prism-ini.js
  components/prism-ini.min.js
  tests/languages/ini/comment_feature.test
Labels: enhancement, language-definitions, needs review

#1735 SCSS: Added `keyword` alias for `null`
  components/prism-scss.js
  components/prism-scss.min.js
Labels: enhancement, language-definitions

#1740 JS: Made `undefined` a keyword
  components/prism-javascript.js
  components/prism-javascript.min.js
  prism.js
  tests/languages/javascript/keyword_feature.test
Labels: enhancement, language-definitions, needs review

#1741 gulp: Better error messages
  gulpfile.js
  package.json
Labels: enhancement, needs consensus

#1739 JS: Fixed `function-variable`
  components/prism-javascript.js
  components/prism-javascript.min.js
  prism.js
Labels: bug, language-definitions, needs review

#1755 Fixed typo
  plugins/file-highlight/prism-file-highlight.js
  prism.js
Labels: enhancement, needs consensus

#1763 Lisp: Fixed exponential string pattern
  components/prism-lisp.js
  components/prism-lisp.min.js
Labels: bug, language-definitions, needs review

#1765 JSON/P: Fixed example
  examples/prism-json.html
  examples/prism-jsonp.html
Labels: bug, enhancement

#1753 ANBF language
  components.js
  components.json
  components/prism-abnf.js
  components/prism-abnf.min.js
  examples/prism-abnf.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/abnf/comment_feature.test
  tests/languages/abnf/core-rule_feature.test
  tests/languages/abnf/definition_feature.test
  tests/languages/abnf/operator_feature.test
  tests/languages/abnf/punctuation_feature.test
  tests/languages/abnf/range_feature.test
  tests/languages/abnf/repetition_feature.test
  tests/languages/abnf/rule_feature.test
  tests/languages/abnf/string_feature.test
  tests/languages/abnf/terminal_feature.test
Labels: language-definitions, needs review

#1754 BNF and RBNF language
  components.js
  components.json
  components/prism-bnf.js
  components/prism-bnf.min.js
  examples/prism-bnf.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/bnf/definition_feature.test
  tests/languages/bnf/operator_feature.test
  tests/languages/bnf/rule_feature.test
  tests/languages/bnf/string_featrue.test
Labels: language-definitions, needs review

#1756 EBNF language
  components.js
  components.json
  components/prism-ebnf.js
  components/prism-ebnf.min.js
  examples/prism-ebnf.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/ebnf/comment_feature.test
  tests/languages/ebnf/definition_feature.test
  tests/languages/ebnf/operator_feature.test
  tests/languages/ebnf/punctuation_feature.test
  tests/languages/ebnf/rule_feature.test
  tests/languages/ebnf/special_feature.test
  tests/languages/ebnf/string_feature.test
Labels: language-definitions, needs review

#1744 JSON5
  components.js
  components.json
  components/prism-json5.js
  components/prism-json5.min.js
  examples/prism-json5.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/json5/number_feature.test
  tests/languages/json5/property_feature.test
  tests/languages/json5/string_feature.test
Labels: language-definitions, needs review

#1736 JS: Improved function pattern
  components/prism-javascript.js
  components/prism-javascript.min.js
  prism.js
  tests/languages/javascript/function_feature.test
Labels: enhancement, language-definitions, needs review

#1737 JS: Improved constant pattern
  components/prism-javascript.js
  components/prism-javascript.min.js
  prism.js
  tests/languages/javascript/constant_feature.test
Labels: enhancement, language-definitions, needs review

#1747 Smalltalk: Allowed empty strings and comments
  components/prism-smalltalk.js
  components/prism-smalltalk.min.js
  tests/languages/smalltalk/comment_feature.test
  tests/languages/smalltalk/string_feature.test
Labels: bug, language-definitions, needs review

#1752 Markup/HTML: Fixed Attributes
  components/prism-markup.js
  components/prism-markup.min.js
  prism.js
  tests/languages/markup/tag_attribute_feature.test
Labels: bug, language-definitions, needs review

#1738 JS: Fixed variables named "async"
  components/prism-javascript.js
  components/prism-javascript.min.js
  prism.js
  tests/languages/javascript/keyword_feature.test
  tests/languages/javascript/variable_feature.test
Labels: bug, language-definitions, needs review

#1743 JS Extras
  components.js
  components.json
  components/prism-js-extras.js
  components/prism-js-extras.min.js
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/javascript!+js-extras/arrow_feature.test
  tests/languages/javascript!+js-extras/console_feature.test
  tests/languages/javascript!+js-extras/dom_feature.test
  tests/languages/javascript!+js-extras/known-class-name_feature.test
  tests/languages/javascript!+js-extras/maybe-class-name_feature.test
  tests/languages/javascript!+js-extras/method-variable_feature.test
  tests/languages/javascript!+js-extras/method_feature.test
  tests/languages/javascript!+js-extras/property-access_feature.test
  tests/languages/javascript!+js-extras/spread_feature.test
Labels: language-definitions, needs review

#1541 Doc comment highlighting
  components.js
  components.json
  components/prism-javadoc.js
  components/prism-javadoc.min.js
  components/prism-javadoclike.js
  components/prism-javadoclike.min.js
  components/prism-jsdoc.js
  components/prism-jsdoc.min.js
  components/prism-phpdoc.js
  components/prism-phpdoc.min.js
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/javadoc+java/javadoc_inclusion.test
  tests/languages/javadoc/class-name_feature.test
  tests/languages/javadoc/code_feature.test
  tests/languages/javadoc/keyword_feature.test
  tests/languages/javadoc/parameter_feature.test
  tests/languages/javadoc/tag_feature.test
  tests/languages/jsdoc+javascript/jsdoc_inclusion.test
  tests/languages/jsdoc/class-name_feature.test
  tests/languages/jsdoc/example_feature.test
  tests/languages/jsdoc/keyword_feature.test
  tests/languages/jsdoc/parameter_feature.test
  tests/languages/phpdoc+php/phpdoc_inclusion.test
  tests/languages/phpdoc/class-name_feature.test
  tests/languages/phpdoc/keyword_feature.test
  tests/languages/phpdoc/parameter_feature.test
Labels: enhancement, language-definitions, needs review

#1506 Improved DFS
  components/prism-core.js
  components/prism-core.min.js
  prism.js
Labels: enhancement, needs review

#1652 PHP: Fixed closing tag issue
  components/prism-php.js
  components/prism-php.min.js
  tests/languages/markup+php/issue1582.test
  tests/languages/markup+php/php_with_closing_tag_in_markup_feature.test
  tests/languages/php/delimiter_feature.test
Labels: bug, language-definitions, needs review
