Repository PrismJS/prism, pull requests merged in 2019-05, with the labels that each got.

#1865 Batching read / writes to improve performance
  plugins/line-highlight/prism-line-highlight.js
  plugins/line-highlight/prism-line-highlight.min.js
Labels: enhancement, needs review, plugins

#1873 Custom class: Implemented TODOs
  plugins/custom-class/index.html
  plugins/custom-class/prism-custom-class.js
  plugins/custom-class/prism-custom-class.min.js
Labels: enhancement, needs review, plugins

#1877 JSONP Highlight: Fixed examples
  plugins/jsonp-highlight/index.html
Labels: enhancement, needs review, plugins, website

#1875 CSS: Cleaned up at-rule pattern
  components/prism-css.js
  components/prism-css.min.js
  prism.js
Labels: enhancement, language-definitions, needs review

#1872 CSS-Extras: Added `even` & `odd` keywords for `n-th` pattern
  components/prism-css-extras.js
  components/prism-css-extras.min.js
  tests/languages/css!+css-extras/selector_n-th_feature.test
Labels: enhancement, language-definitions, needs review

#1874 CSS: Extended `url` inside
  components/prism-css.js
  components/prism-css.min.js
  prism.js
  tests/languages/css/atrule_feature.test
  tests/languages/css/url_feature.test
Labels: enhancement, language-definitions, needs review

#1895 JS: Added support for numeric separators
  components/prism-javascript.js
  components/prism-javascript.min.js
  prism.js
  tests/languages/javascript/number_feature.test
Labels: enhancement, language-definitions, needs review

#1887 C++: Added support for binary numbers and single quote separators
  components/prism-cpp.js
  components/prism-cpp.min.js
  tests/languages/cpp/number_feature.test
Labels: enhancement, language-definitions, needs review

#1915 LaTeX: Added TeX and ConTeXt alias
  components.js
  components.json
  components/prism-latex.js
  components/prism-latex.min.js
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
Labels: enhancement, language-definitions, needs review

#1918 Julia: Add the ’in’ keyword
  components/prism-julia.js
  components/prism-julia.min.js
  tests/languages/julia/keyword_feature.test
Labels: enhancement, language-definitions, needs changes
