Repository PrismJS/prism, pull requests merged in 2019-04, with the labels that each got.

#1839 Rust: Improved punctuation and operators
  components/prism-rust.js
  components/prism-rust.min.js
  tests/languages/rust/operator_feature.test
  tests/languages/rust/punctuation_feature.test
Labels: enhancement, language-definitions, needs review

#1859 Link to Drupal tutorial added
  index.html
Labels: enhancement

#1846 JS: Added support for `s` regex flag
  components/prism-javascript.js
  components/prism-javascript.min.js
  prism.js
  tests/languages/javascript/regex_feature.test
Labels: enhancement, language-definitions, needs review

#1845 JS: Template strings: Increased bracket count of interpolations
  components/prism-javascript.js
  components/prism-javascript.min.js
  examples/prism-javascript.html
  prism.js
  tests/languages/javascript/template-string_feature.test
Labels: enhancement, language-definitions, needs review

#1842 Autolinker: Improved URL regex
  plugins/autolinker/prism-autolinker.js
  plugins/autolinker/prism-autolinker.min.js
Labels: enhancement, needs review, plugins

#1847 Tests: Added regex test
  package.json
  tests/regex-tests.js
Labels: enhancement, needs review

#1858 Core: Use `language-none` if no language class was detected
  components/prism-core.js
  components/prism-core.min.js
  prism.js
Labels: enhancement, needs review

#1857 Readme: Minor changes
  README.md
Labels: enhancement, needs review

#1853 JSON: Kinda fixed comment issue
  components/prism-json.js
  components/prism-json.min.js
  tests/languages/json/issue1852.test
Labels: bug, language-definitions, needs review

#1862 Fix for uncaught errors when 'commandLine' is an empty object.
  plugins/command-line/prism-command-line.js
  plugins/command-line/prism-command-line.min.js
Labels: bug, needs changes, plugins
