Repository PrismJS/prism, pull requests merged in 2019-07, with the labels that each got.

#1948 Protobuf improvements
  components/prism-protobuf.js
  components/prism-protobuf.min.js
  examples/prism-protobuf.html
  tests/languages/protobuf/annotation_feature.test
  tests/languages/protobuf/builtin_feature.test
  tests/languages/protobuf/class-name_feature.test
  tests/languages/protobuf/keyword_feature.test
  tests/languages/protobuf/map_feature.test
  tests/languages/protobuf/string_feature.test
Labels: enhancement, language-definitions, needs review

#1940 Added support for PC-Axis file format
  components.js
  components.json
  components/prism-pcaxis.js
  components/prism-pcaxis.min.js
  examples/prism-pcaxis.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/pcaxis/boolean_feature.test
  tests/languages/pcaxis/keyword_feature.test
  tests/languages/pcaxis/number_feature.test
  tests/languages/pcaxis/string_feature.test
  tests/languages/pcaxis/tlist_feature.test
Labels: language-definitions, needs review, new language

#1947 pacaligo: adding support for pascaligo, http://ligolang.org
  components.js
  components.json
  components/prism-pascaligo.js
  components/prism-pascaligo.min.js
  examples/prism-pascaligo.html
  package-lock.json
  tests/languages/pascaligo/boolean_feature.test
  tests/languages/pascaligo/builtin_feature.test
  tests/languages/pascaligo/comment_feature.test
  tests/languages/pascaligo/function_feature.test
  tests/languages/pascaligo/keyword_feature.test
  tests/languages/pascaligo/number_feature.test
  tests/languages/pascaligo/operator_feature.test
  tests/languages/pascaligo/string_feature.test
Labels: language-definitions, needs changes, new language

#1968 Core: Removed env.elements for 'before-highlightall'
  components/prism-core.js
  components/prism-core.min.js
  prism.js
Labels: enhancement, needs review

#1950 JS: Private fields
  components/prism-javascript.js
  components/prism-javascript.min.js
  components/prism-js-extras.js
  components/prism-js-extras.min.js
  prism.js
  tests/languages/javascript!+js-extras/method-variable_feature.test
  tests/languages/javascript!+js-extras/method_feature.test
  tests/languages/javascript!+js-extras/property-access_feature.test
  tests/languages/javascript/private_fields_feature.test
Labels: enhancement, language-definitions, needs review

#1907 Download page: Improved performance for chromium based browsers
  scripts/download.js
Labels: enhancement, needs review, website

#1956 F#: Improved char literals
  components/prism-fsharp.js
  components/prism-fsharp.min.js
  examples/prism-fsharp.html
  tests/languages/fsharp/string_feature.test
Labels: enhancement, language-definitions, needs review

#1955 Markdown: Improved URLs
  components/prism-markdown.js
  components/prism-markdown.min.js
  known-failures.html
  tests/languages/markdown/bold_feature.test
  tests/languages/markdown/italic_feature.test
  tests/languages/markdown/strike_feature.test
  tests/languages/markdown/url_feature.test
Labels: bug, enhancement, language-definitions, needs review

#1960 Fixed typo in Funky theme
  themes/prism-funky.css
Labels: bug, needs review, themes

#1961 Added support for DNS zone files
  components.js
  components.json
  components/prism-dns-zone-file.js
  components/prism-dns-zone-file.min.js
  examples/prism-dns-zone-file.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/dns-zone-file/class_feature.test
  tests/languages/dns-zone-file/comment_feature.test
  tests/languages/dns-zone-file/string_feature.test
  tests/languages/dns-zone-file/type_featrue.test
  tests/languages/dns-zone-file/variable_feature.test
Labels: language-definitions, needs review, new language

#1783 refactor(gulp): Use `async` functions
  .travis.yml
  gulpfile.js
Labels: enhancement, needs changes

#1835 gulp: Split gulpfile.js and expanded `changes` task
  gulpfile.js/changelog.js
  gulpfile.js/index.js
  gulpfile.js/paths.js
  gulpfile.js/premerge.js
  package-lock.json
  package.json
Labels: enhancement, needs review

#1964 Scheme: Added support for rational number literals
  components/prism-scheme.js
  components/prism-scheme.min.js
  tests/languages/scheme/number_feature.test
Labels: enhancement, language-definitions, needs review

#1962 Added support for Splunk SPL
  components.js
  components.json
  components/prism-splunk-spl.js
  components/prism-splunk-spl.min.js
  examples/prism-splunk-spl.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/splunk-spl/comment_feature.test
  tests/languages/splunk-spl/date_feature.test
  tests/languages/splunk-spl/keyword_feature.test
  tests/languages/splunk-spl/number_feature.test
  tests/languages/splunk-spl/operator_feature.test
  tests/languages/splunk-spl/string_feature.test
Labels: language-definitions, needs review, new language

#1967 Added basic support for LilyPond
  components.js
  components.json
  components/prism-lilypond.js
  components/prism-lilypond.min.js
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/lilypond/comment_feature.test
  tests/languages/lilypond/embedded-scheme_feature.test
  tests/languages/lilypond/keyword_feature.test
  tests/languages/lilypond/number_feature.test
  tests/languages/lilypond/string_feature.test
Labels: language-definitions, needs review, new language

#1986 reST: Fixed exponential pattern
  components/prism-rest.js
  components/prism-rest.min.js
Labels: bug, language-definitions, needs review

#1848 Markdown: Added tables
  components/prism-markdown.js
  components/prism-markdown.min.js
  tests/languages/markdown/code_feature.test
  tests/languages/markdown/table_feature.test
Labels: enhancement, language-definitions, needs review

#1979 Added tutorial for using Prism.js with React
  index.html
Labels: enhancement, needs review, website

#1928 Autoloader: Improved component path guessing
  index.html
  plugins/autoloader/index.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
Labels: enhancement, needs review, plugins

#1931 Highlight JS (tagged) template literals
  components.js
  components.json
  components/prism-javascript.js
  components/prism-javascript.min.js
  components/prism-js-templates.js
  components/prism-js-templates.min.js
  examples/prism-js-templates.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  prism.js
  tests/languages/javascript!+css+js-templates/css_inclusion.test
  tests/languages/javascript!+graphql+js-templates/graphql_inclusion.test
  tests/languages/javascript!+markdown+js-templates/markdown_inclusion.test
  tests/languages/javascript!+markup+js-templates/markup_inclusion.test
  tests/languages/javascript/issue1397.test
  tests/languages/javascript/template-string_feature.test
  tests/languages/jsx/issue1335.test
  tests/languages/jsx/issue1408.test
  tests/languages/markup!+css+javascript/issue1240.test
Labels: enhancement, language-definitions, needs review, new language

#1889 Diff: Added support for syntax highlighting inside diffs
  components.js
  components.json
  components/prism-diff.js
  components/prism-diff.min.js
  examples/prism-diff.html
  plugins/diff-highlight/index.html
  plugins/diff-highlight/prism-diff-highlight.css
  plugins/diff-highlight/prism-diff-highlight.js
  plugins/diff-highlight/prism-diff-highlight.min.js
  tests/languages/diff/diff_feature.test
  themes/prism-funky.css
Labels: enhancement, language-definitions, needs review

#1898 Markdown: Added support for auto-loading code block languages
  components/prism-markdown.js
  components/prism-markdown.min.js
  plugins/autoloader/index.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
Labels: enhancement, language-definitions, needs review, plugins

#1997 npm: Updated dependencies to fix 122 vulnerabilities
  package-lock.json
  package.json
Labels: enhancement, needs review
