Repository PrismJS/prism, pull requests merged in 2019-08, with the labels that each got.

#2012 Add RDF Turtle/TriG language
  components.js
  components.json
  components/prism-turtle.js
  components/prism-turtle.min.js
  examples/prism-turtle.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/turtle/blank-node_feature.test
  tests/languages/turtle/keyword_feature.test
  tests/languages/turtle/language-tag_feature.test
  tests/languages/turtle/local-name-with-colons_feature.test
  tests/languages/turtle/number_feature.test
  tests/languages/turtle/punctuation_feature.test
  tests/languages/turtle/string_feature.test
Labels: language-definitions, needs changes, new language

#1981 Substantial improvements to language-sas syntax highlighting
  components.js
  components.json
  components/prism-sas.js
  components/prism-sas.min.js
  examples/prism-sas.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  tests/languages/sas/datalines_feature.test
  tests/languages/sas/datetime_feature.test
  tests/languages/sas/format_feature.test
  tests/languages/sas/function_feature.test
  tests/languages/sas/input_feature.test
  tests/languages/sas/keyword_feature.test
  tests/languages/sas/macro_feature.test
  tests/languages/sas/macrodefinition_feature.test
  tests/languages/sas/macrokeyword_feature.test
  tests/languages/sas/number_feature.test
  tests/languages/sas/operator_feature.test
  tests/languages/sas/options_feature.test
  tests/languages/sas/proc-sql_feature.test
  tests/languages/sas/step_feature.test
  tests/languages/sas/string_feature.test
Labels: enhancement, language-definitions, needs changes

#2013 SAS: String pattern without backreferences to fix `proc-args` token
  components/prism-sas.js
  components/prism-sas.min.js
Labels: bug, language-definitions

#2006 Added support for GDScript
  components.js
  components.json
  components/prism-gdscript.js
  components/prism-gdscript.min.js
  examples/prism-gdscript.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/gdscript/class-name_feature.test
  tests/languages/gdscript/keyword_feature.test
  tests/languages/gdscript/number_feature.test
  tests/languages/gdscript/operator_feature.test
  tests/languages/gdscript/punctuation_feature.test
  tests/languages/gdscript/string_feature.test
Labels: language-definitions, needs review, new language

#2009 CSS Extras & PHP: Fixed too greedy number token
  components/prism-css-extras.js
  components/prism-css-extras.min.js
  tests/languages/css!+css-extras/number_feature.test
  tests/languages/php!+css-extras/issue2008.test
Labels: bug, language-definitions, needs review

#2010 Added support for Firestore security rules
  components.js
  components.json
  components/prism-firestore-security-rules.js
  components/prism-firestore-security-rules.min.js
  examples/prism-firestore-security-rules.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/erlang/atom_feature.test
  tests/languages/firestore-security-rules/comment_feature.test
  tests/languages/firestore-security-rules/keyword_feature.test
  tests/languages/firestore-security-rules/method_feature.test
  tests/languages/firestore-security-rules/number_feature.test
  tests/languages/firestore-security-rules/operator_feature.test
  tests/languages/firestore-security-rules/path_feature.test
  tests/languages/firestore-security-rules/punctuation_feature.test
  tests/languages/firestore-security-rules/string_feature.test
Labels: language-definitions, needs review, new language

#2018 Python: Fixed decorators
  components/prism-python.js
  components/prism-python.min.js
  tests/languages/python/decorator_feature.test
Labels: bug, language-definitions, needs review

#2016 Less: Fixed exponential backtracking
  components/prism-less.js
  components/prism-less.min.js
Labels: bug, language-definitions, needs review

#2019 Added suppprt for Zig
  components.js
  components.json
  components/prism-zig.js
  components/prism-zig.min.js
  examples/prism-zig.html
  tests/languages/zig/builtin-types_feature.test
  tests/languages/zig/builtin_feature.test
  tests/languages/zig/class-name_feature.test
  tests/languages/zig/keyword_feature.test
  tests/languages/zig/label_feature.test
  tests/languages/zig/number_feature.test
  tests/languages/zig/operator_feature.test
  tests/languages/zig/punctuation_feature.test
Labels: language-definitions, needs review, new language

#2020 Improved test page performance for Chromium
  test.html
Labels: enhancement, needs review, website

#1932 Core: Fixed greedy targeting bug
  components/prism-core.js
  components/prism-core.min.js
  package.json
  prism.js
  tests/core/greedy.js
  tests/helper/test-case.js
  tests/helper/token-stream-transformer.js
Labels: bug, core, needs review

#2030 Core: Fixed greedy lookbehinds
  components/prism-core.js
  components/prism-core.min.js
  prism.js
  tests/core/greedy.js
Labels: bug, core, needs review

#1973 Core: Minor improvements
  components/prism-core.js
  components/prism-core.min.js
  prism.js
Labels: core, enhancement, needs review
