Repository PrismJS/prism, pull requests merged in 2019-09, with the labels that each got.

#2038 Turtle: Minor improvements
  components/prism-turtle.js
  components/prism-turtle.min.js
Labels: enhancement, language-definitions

#2025 Added support for AQL
  components.js
  components.json
  components/prism-aql.js
  components/prism-aql.min.js
  examples/prism-aql.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/aql/comment_feature.test
  tests/languages/aql/number_feature.test
  tests/languages/aql/operator_feature.test
  tests/languages/aql/property_feature.test
  tests/languages/aql/string_feature.test
  tests/languages/aql/variable_feature.test
Labels: language-definitions, needs review, new language

#2036 Groovy: Minor improvements
  components/prism-groovy.js
  components/prism-groovy.min.js
  tests/languages/groovy/operator_feature.test
  tests/languages/groovy/string_feature.test
Labels: enhancement, language-definitions, needs review

#2031 Solidity support revisited revisited
  components.js
  components.json
  components/prism-solidity.js
  components/prism-solidity.min.js
  examples/prism-solidity.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/solidity/builtin_feature.test
  tests/languages/solidity/class-name_feature.test
  tests/languages/solidity/comment_feature.test
  tests/languages/solidity/keyword_feature.test
  tests/languages/solidity/operator_feature.test
  tests/languages/solidity/punctuation_feature.test
  tests/languages/solidity/string_feature.test
  tests/languages/solidity/version_feature.test
Labels: language-definitions, needs review, new language

#1942 Use modern JS in node usage section
  index.html
Labels: enhancement, needs review, website

#1911 Test: Added test for nice token names
  components/prism-aspnet.js
  components/prism-aspnet.min.js
  components/prism-jolie.js
  components/prism-jolie.min.js
  components/prism-opencl.js
  components/prism-opencl.min.js
  components/prism-wiki.js
  components/prism-wiki.min.js
  package.json
  tests/languages/aspnet/comment_feature.test
  tests/languages/aspnet/page-directive_feature.test
  tests/languages/csharp+aspnet/directive_feature.test
  tests/languages/jolie/deployment_features.test
  tests/languages/jolie/keyword_feature.test
  tests/languages/jolie/number_feature.test
  tests/languages/jolie/operator_feature.test
  tests/languages/markup+javascript+csharp+aspnet/script_feature.test
  tests/languages/opencl+cpp/type_feature.test
  tests/languages/wiki/emphasis_feature.test
  tests/pattern-tests.js
  tests/regex-tests.js
Labels: enhancement, needs review

#2034 Added Robot Framework plain text format
  components.js
  components.json
  components/prism-robot-framework.js
  components/prism-robot-framework.min.js
  examples/prism-robot-framework.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/robot-framework/comment_feature.test
  tests/languages/robot-framework/documentation_feature.test
  tests/languages/robot-framework/name_and_property_feature.test
  tests/languages/robot-framework/sections_feature.test
  tests/languages/robot-framework/settings_property_feature.test
  tests/languages/robot-framework/tag_feature.test
  tests/languages/robot-framework/variable_feature.test
Labels: language-definitions, needs review, new language

#1957 Doubly check the `manual` flag
  components/prism-core.js
  components/prism-core.min.js
  index.html
  prism.js
Labels: enhancement, needs changes

#1840 Made the download button its own plugin
  components.js
  components.json
  plugins/download-button/index.html
  plugins/download-button/prism-download-button.js
  plugins/download-button/prism-download-button.min.js
  plugins/file-highlight/index.html
  plugins/file-highlight/prism-file-highlight.js
  plugins/file-highlight/prism-file-highlight.min.js
  prism.js
Labels: needs review, new plugin, plugins

#1977 Website: FAQ update
  faq.html
Labels: bug, enhancement, needs review, website

#2029 D: Fixed strings
  components/prism-d.js
  components/prism-d.min.js
  tests/languages/d/comment_feature.test
  tests/languages/d/issue2027.test
  tests/languages/d/string_feature.test
  tests/languages/d/token-string_feature.test
Labels: bug, language-definitions, needs review

#2007 Added Inline color plugin
  components.js
  components.json
  components/prism-css-extras.js
  components/prism-css-extras.min.js
  plugins/inline-color/index.html
  plugins/inline-color/prism-inline-color.css
  plugins/inline-color/prism-inline-color.js
  plugins/inline-color/prism-inline-color.min.js
  plugins/previewers/index.html
  plugins/previewers/prism-previewers.js
  plugins/previewers/prism-previewers.min.js
  tests/languages/css!+css-extras/variable_feature.test
Labels: needs review, new plugin, plugins

#1966 Toolbar: Fixed overflow issue
  scripts/code.js
  style.css
Labels: enhancement, needs review, plugins

#1944 New Match Braces plugin
  components.js
  components.json
  plugins/match-braces/index.html
  plugins/match-braces/prism-match-braces.css
  plugins/match-braces/prism-match-braces.js
  plugins/match-braces/prism-match-braces.min.js
Labels: needs review, new plugin, plugins

#2041 single-quote-character not a string, fixes #2039
  components/prism-smalltalk.js
  components/prism-smalltalk.min.js
  tests/languages/smalltalk/string_character_feature.test
Labels: bug, language-definitions, needs changes

#2033 Added support for SPARQL language
  components.js
  components.json
  components/prism-sparql.js
  components/prism-sparql.min.js
  examples/prism-sparql.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/sparql/boolean_feature.test
  tests/languages/sparql/comment_feature.test
  tests/languages/sparql/function_feature.test
  tests/languages/sparql/keyword_feature.test
  tests/languages/sparql/number_feature.test
  tests/languages/sparql/string_feature.test
  tests/languages/sparql/tag_feature.test
  tests/languages/sparql/url_feature.test
  tests/languages/sparql/variable_feature.test
Labels: language-definitions, needs changes, new language

#2052 Added .github folder to npm ignore
  .npmignore
Labels: enhancement, needs review

#2055 AQL: More pseudo keywords
  components/prism-aql.js
  components/prism-aql.min.js
  tests/languages/aql/keyword_feature.test
  tests/languages/aql/property_feature.test
Labels: enhancement, language-definitions, needs changes

#2061 Add multiline strings to clojure, lisp style
  components/prism-clojure.js
  components/prism-clojure.min.js
  tests/languages/clojure/string_feature.test
Labels: enhancement, language-definitions, needs review

#2069 Issue template improvements
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/highlighting-bug-report.md
  .github/ISSUE_TEMPLATE/new-language-request.md
Labels: enhancement, needs review

#2076 Added plugin descriptions to plugin list
  components.js
  components.json
  index.html
  plugins/autolinker/index.html
  plugins/autoloader/index.html
  plugins/command-line/index.html
  plugins/copy-to-clipboard/index.html
  plugins/custom-class/index.html
  plugins/data-uri-highlight/index.html
  plugins/diff-highlight/index.html
  plugins/download-button/index.html
  plugins/file-highlight/index.html
  plugins/highlight-keywords/index.html
  plugins/inline-color/index.html
  plugins/jsonp-highlight/index.html
  plugins/keep-markup/index.html
  plugins/line-highlight/index.html
  plugins/line-numbers/index.html
  plugins/match-braces/index.html
  plugins/normalize-whitespace/index.html
  plugins/previewers/index.html
  plugins/remove-initial-line-feed/index.html
  plugins/show-invisibles/index.html
  plugins/show-language/index.html
  plugins/toolbar/index.html
  plugins/unescaped-markup/index.html
  plugins/wpd/index.html
  scripts/code.js
  style.css
Labels: enhancement, needs review, website

#2073 JS: Tokenize `:` as an operator
  components/prism-javascript.js
  components/prism-javascript.min.js
  prism.js
  tests/languages/coffeescript/property_feature.test
  tests/languages/flow/flow-punctuation_feature.test
  tests/languages/flow/function-variable_feature.test
  tests/languages/javascript/class-method_feature.test
  tests/languages/javascript/function-variable_feature.test
  tests/languages/javascript/function_feature.test
  tests/languages/javascript/operator_feature.test
  tests/languages/javascript/template-string_feature.test
  tests/languages/jsx/issue1235.test
  tests/languages/jsx/issue1335.test
  tests/languages/jsx/issue1408.test
  tests/languages/jsx/plain-text_feature.test
  tests/languages/pug/tag_feature.test
Labels: enhancement, language-definitions, needs review
