Repository PrismJS/prism, pull requests merged in 2019-10, with the labels that each got.

#2085 Minor improvements to SAS language support
  components/prism-sas.js
  components/prism-sas.min.js
  tests/languages/sas/comment_feature.test
  tests/languages/sas/keyword_feature.test
Labels: enhancement, language-definitions, needs changes

#2088 Add undefined to Typescript keywords
  components/prism-typescript.js
  components/prism-typescript.min.js
Labels: enhancement, language-definitions, needs changes

#2084 JS: Added Optional Chaining and Nullish Coalescing
  components/prism-javascript.js
  components/prism-javascript.min.js
  prism.js
  tests/languages/javascript/operator_feature.test
Labels: enhancement, language-definitions, needs review

#2080 Added support for FTL
  components.js
  components.json
  components/prism-ftl.js
  components/prism-ftl.min.js
  examples/prism-ftl.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/ftl/boolean_feature.test
  tests/languages/ftl/builtin-function_feature.test
  tests/languages/ftl/comment_feature.test
  tests/languages/ftl/directive_feature.test
  tests/languages/ftl/function_feature.test
  tests/languages/ftl/interpolation_feature.test
  tests/languages/ftl/number_feature.test
  tests/languages/ftl/operator.test
  tests/languages/ftl/punctuation_feature.test
  tests/languages/ftl/string_feature.test
Labels: language-definitions, needs review, new language

#2064 Minor improvements for C-like and Clojure
  components/prism-clike.js
  components/prism-clike.min.js
  components/prism-clojure.js
  components/prism-clojure.min.js
  prism.js
Labels: enhancement, language-definitions, needs review

#2063 Added support for ANTLR4
  components.js
  components.json
  components/prism-antlr4.js
  components/prism-antlr4.min.js
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/antlr4/action_feature.test
  tests/languages/antlr4/annotation_feature.test
  tests/languages/antlr4/character-class_feature.test
  tests/languages/antlr4/command_feature.test
  tests/languages/antlr4/comment_feature.test
  tests/languages/antlr4/definition_feature.test
  tests/languages/antlr4/keyword_feature.test
  tests/languages/antlr4/label_feature.test
  tests/languages/antlr4/operator_feature.test
  tests/languages/antlr4/string_feature.test
Labels: language-definitions, needs review, new language

#2050 Added support for etlua
  components.js
  components.json
  components/prism-etlua.js
  components/prism-etlua.min.js
  examples/prism-etlua.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/etlua/delimiter_feature.test
Labels: language-definitions, needs review, new language

#2079 Added SQF language
  components.js
  components.json
  components/prism-sqf.js
  components/prism-sqf.min.js
  examples/prism-sqf.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/sqf/boolean_feature.test
  tests/languages/sqf/comment_feature.test
  tests/languages/sqf/constant_feature.test
  tests/languages/sqf/keyword_feature.test
  tests/languages/sqf/macro_feature.test
  tests/languages/sqf/magic-variable_feature.test
  tests/languages/sqf/number_feature.test
  tests/languages/sqf/operator_feature.test
  tests/languages/sqf/string_feature.test
Labels: language-definitions, needs review, new language

#2082 Inlined some unnecessary rest properties
  components/prism-actionscript.js
  components/prism-actionscript.min.js
  components/prism-haml.js
  components/prism-haml.min.js
  components/prism-http.js
  components/prism-http.min.js
  components/prism-kotlin.js
  components/prism-php.js
  components/prism-php.min.js
  components/prism-pug.js
  components/prism-pug.min.js
  components/prism-stylus.js
  components/prism-velocity.js
  components/prism-xquery.js
  components/prism-xquery.min.js
Labels: enhancement, language-definitions, needs review

#2097 Ruby: Added missing keywords
  components/prism-ruby.js
  components/prism-ruby.min.js
  tests/languages/ruby/keyword_feature.test
Labels: enhancement, language-definitions

#2094 Markup: Improved doctype pattern
  components/prism-markup.js
  components/prism-markup.min.js
  prism.js
  tests/languages/markup/doctype_feature.test
Labels: enhancement, language-definitions, needs review

#2098 Ruby: Made `true` and `false` booleans
  components/prism-ruby.js
  components/prism-ruby.min.js
  tests/languages/ruby/boolean_feature.test
  tests/languages/ruby/keyword_feature.test
Labels: enhancement, language-definitions, needs review

#2091 Add support for Groovy and Lua code within PROC GROOVY and PROC LUA
  components.js
  components.json
  components/prism-sas.js
  components/prism-sas.min.js
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  tests/languages/groovy+sas/groovy_inclusion.test
  tests/languages/lua+sas/lua_inclusion.test
  tests/languages/sas/keyword_feature.test
  tests/languages/sql+sas/sql_inclusion.test
Labels: enhancement, language-definitions, needs changes

#2103 Core: Fixed race condition caused by deferring the script
  components/prism-core.js
  components/prism-core.min.js
  prism.js
Labels: bug, needs review

#2104 Core: IE11 workaround for currentScript
  components/prism-core.js
  components/prism-core.min.js
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  prism.js
Labels: bug, needs review

#2101 Java: Added missing :: operator
  components/prism-java.js
  components/prism-java.min.js
  tests/languages/java/function_featrue.test
  tests/languages/java/operator_feature.test
Labels: enhancement, language-definitions, needs review

#2095 Added support for BBCode
  components.js
  components.json
  components/prism-bbcode.js
  components/prism-bbcode.min.js
  examples/prism-bbcode.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/bbcode/tag_feature.test
Labels: language-definitions, needs review, new language

#2100 Added support for Moonscript
  components.js
  components.json
  components/prism-moonscript.js
  components/prism-moonscript.min.js
  examples/prism-moonscript.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/moonscript/boolean_feature.test
  tests/languages/moonscript/class-name_feature.test
  tests/languages/moonscript/comment_feature.test
  tests/languages/moonscript/keyword_feature.test
  tests/languages/moonscript/number_feature.test
  tests/languages/moonscript/operator_feature.test
  tests/languages/moonscript/property_feature.test
  tests/languages/moonscript/punctuation_feature.test
  tests/languages/moonscript/string_feature.test
  tests/languages/moonscript/variable_feature.test
Labels: language-definitions, needs review, new language

#2096 Added support for BrightScript
  components.js
  components.json
  components/prism-brightscript.js
  components/prism-brightscript.min.js
  examples/prism-brightscript.html
  tests/languages/brightscript/boolean_feature.test
  tests/languages/brightscript/class-name_feature.test
  tests/languages/brightscript/comment_feature.test
  tests/languages/brightscript/constant_feature.test
  tests/languages/brightscript/directive-statement_feature.test
  tests/languages/brightscript/keyword_feature.test
  tests/languages/brightscript/number_feature.test
  tests/languages/brightscript/operator_feature.test
  tests/languages/brightscript/property_feature.test
  tests/languages/brightscript/punctuation_feature.test
  tests/languages/brightscript/string_feature.test
Labels: language-definitions, needs review, new language
