Repository PrismJS/prism, pull requests merged in 2020-11, with the labels that each got.

#2586 Website: Updated and improved guide on "Extending Prism" page
  extending.html
Labels: enhancement, needs review, website

#2585 C: Better class name and macro name detection
  components/prism-c.js
  components/prism-c.min.js
  components/prism-opencl.js
  components/prism-opencl.min.js
  tests/languages/c/class-name_feature.test
  tests/languages/c/macro_feature.test
  tests/languages/opencl/builtin-type_feature.test
  tests/languages/opencl/keyword_feature.test
Labels: enhancement, language-definitions, needs review

#2596 TSX: Temporary workaround for the collisions of JSX tags and TS generics
  components/prism-jsx.js
  components/prism-jsx.min.js
  components/prism-tsx.js
  components/prism-tsx.min.js
  tests/languages/tsx/issue2594.test
Labels: enhancement, language-definitions, needs review

#2619 PHP: Removed C-like dependencies
  components.js
  components.json
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
Labels: enhancement, language-definitions

#2445 Unescaped Markup: Improvements
  plugins/unescaped-markup/prism-unescaped-markup.js
  plugins/unescaped-markup/prism-unescaped-markup.min.js
Labels: enhancement, needs review, plugins

#2599 Java: Improved package + class-name detection
  components/prism-java.js
  components/prism-java.min.js
  tests/languages/java/annotation_feature.test
  tests/languages/java/class-name_feature.test
  tests/languages/java/function_featrue.test
  tests/languages/java/generics_feature.test
  tests/languages/java/issue1351.test
  tests/languages/java/module_feature.test
  tests/languages/java/package_feature.test
  tests/languages/java/string_feature.test
  tests/languages/javadoc/code_feature.test
Labels: enhancement, language-definitions, needs review

#2580 Made Autoloader and Diff Highlight compatible
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/diff-highlight/index.html
  plugins/diff-highlight/prism-diff-highlight.js
  plugins/diff-highlight/prism-diff-highlight.min.js
Labels: bug, needs review, plugins

#2611 Scheme: Fixed false positives for functions
  components/prism-scheme.js
  components/prism-scheme.min.js
  tests/languages/scheme/issue2609.test
Labels: enhancement, language-definitions, needs review

#2623 Fixed sorted language list test
  tests/dependencies-test.js
Labels: bug

#2608 Add Dangerfile and provide bundle size info
  .github/workflows/danger.yml
  .npmignore
  dangerfile.js
  package-lock.json
  package.json
Labels: enhancement, needs changes

#2628 Add PromQL language support
  components.js
  components.json
  components/prism-promql.js
  components/prism-promql.min.js
  examples/prism-promql.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/promql/aggregate_selection.test
  tests/languages/promql/comment_feature.test
  tests/languages/promql/subquery_selection.test
  tests/languages/promql/time_series_selection.test
Labels: language-definitions, needs changes, new language

#2629 readme grammar adjustments
  README.md
  docs/index.html
Labels: docs, enhancement, needs changes

#2489 Kotlin: backticks in function name
  components/prism-kotlin.js
  components/prism-kotlin.min.js
  tests/languages/kotlin/function_feature.test
Labels: enhancement, language-definitions, needs changes

#2622 Added support for Apex
  components.js
  components.json
  components/prism-apex.js
  components/prism-apex.min.js
  examples/prism-apex.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  tests/languages/apex/annotation_feature.test
  tests/languages/apex/boolean_feature.test
  tests/languages/apex/class-name_feature.test
  tests/languages/apex/comment_feature.test
  tests/languages/apex/number_feature.test
  tests/languages/apex/operator_feature.test
  tests/languages/apex/punctuation_feature.test
  tests/languages/apex/sql_feature.test
  tests/languages/apex/string_feature.test
  tests/languages/apex/trigger_feature.test
Labels: language-definitions, needs review, new language

#2600 Tests: Better pretty print
  tests/core/greedy.js
  tests/helper/test-case.js
  tests/helper/token-stream-transformer.js
  tests/identifier-test.js
Labels: enhancement, needs review

#2643 SCSS: Add support for Sass modules
  components/prism-scss.js
  components/prism-scss.min.js
  tests/languages/scss/keyword_feature.test
  tests/languages/scss/module-modifier_feature.test
Labels: enhancement, language-definitions, needs changes

#2656 File Highlight: ie crash
  plugins/file-highlight/prism-file-highlight.js
  plugins/file-highlight/prism-file-highlight.min.js
  prism.js
Labels: enhancement, needs changes, plugins

#2632 Core: Fixed bug with greedy matching
  components/prism-core.js
  components/prism-core.min.js
  docs/prism-core.js.html
  prism.js
  tests/core/greedy.js
Labels: bug, core, needs review

#2634 Markdown front matter
  components.js
  components.json
  components/prism-markdown.js
  components/prism-markdown.min.js
  tests/languages/markdown/front-matter-block_empty_feature.test
  tests/languages/markdown/front-matter-block_feature.test
  tests/languages/yaml+markdown/front-matter_feature.test
Labels: enhancement, language-definitions, needs review

#2633 Core: Moved shared lookbehind logic into function
  components/prism-core.js
  components/prism-core.min.js
  docs/global.html
  docs/prism-core.js.html
  prism.js
Labels: core, enhancement, needs review

#2659 DataWeave: Adding support for DataWeave language
  components.js
  components.json
  components/prism-dataweave.js
  components/prism-dataweave.min.js
  examples/prism-dataweave.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/dataweave/boolean_feature.test
  tests/languages/dataweave/comment_feature.test
  tests/languages/dataweave/dates_feature.test
  tests/languages/dataweave/functions_feature.test
  tests/languages/dataweave/keywords_feature.test
  tests/languages/dataweave/null_feature.test
  tests/languages/dataweave/number_feature.test
  tests/languages/dataweave/operators_feature.test
  tests/languages/dataweave/property_feature.test
  tests/languages/dataweave/regex_feature.test
  tests/languages/dataweave/string_feature.test
Labels: language-definitions, needs changes, new language

#2658 JavaStackTrace: Added support for package prefix
  components/prism-javastacktrace.js
  components/prism-javastacktrace.min.js
  tests/languages/javastacktrace/stack-frame_feature.test
Labels: enhancement, language-definitions, needs review

#2654 Website: Added and updated documentation
  assets/style.css
  index.html
Labels: enhancement, needs review, website

#2652 Unescaped Markup: More doc regarding comments
  plugins/unescaped-markup/index.html
Labels: enhancement, needs review, website

#2649 Shell-session: Fixed false positives because of links in command output
  components/prism-shell-session.js
  components/prism-shell-session.min.js
  tests/languages/shell-session/info_feature.test
  tests/languages/shell-session/issue2644.test
Labels: enhancement, language-definitions, needs review

#2590 Added test for exponential backtracking
  package-lock.json
  package.json
  tests/pattern-tests.js
Labels: enhancement, needs review

#2648 Scheme: Fixed number pattern
  components/prism-scheme.js
  components/prism-scheme.min.js
  tests/languages/racket/number_feature.test
  tests/languages/scheme/number_feature.test
Labels: enhancement, language-definitions, needs review

#2662 Do not highlight CSP directive names with adjacent hyphens
  components/prism-csp.js
  components/prism-csp.min.js
  tests/languages/csp/issue2661.test
Labels: enhancement, language-definitions, needs changes
