Repository PrismJS/prism, pull requests merged in 2020-02, with the labels that each got.

#2198 PHPDoc: Fixed exponential backtracking
  components/prism-phpdoc.js
  components/prism-phpdoc.min.js
  tests/languages/phpdoc/issue2197.test
Labels: bug, language-definitions, needs review

#2195 VB: Comments with line continuation
  components/prism-visual-basic.js
  components/prism-visual-basic.min.js
  tests/languages/visual-basic/comment_feature.test
Labels: enhancement, language-definitions, needs review

#2201 CSS: Added support for the selector function
  components/prism-css-extras.js
  components/prism-css-extras.min.js
  components/prism-css.js
  components/prism-css.min.js
  prism.js
  tests/languages/css!+css-extras/atrule_selector-function-argument_feature.test
  tests/languages/css/atrule_selector-function-argument_feature.test
Labels: enhancement, language-definitions, needs review

#2205 Toolbar: `data-toolbar-order` is now inherited
  plugins/toolbar/index.html
  plugins/toolbar/prism-toolbar.js
  plugins/toolbar/prism-toolbar.min.js
Labels: enhancement, needs review, plugins

#2206 Add Concurnas support
  components.js
  components.json
  components/prism-concurnas.js
  components/prism-concurnas.min.js
  examples/prism-concurnas.html
  package-lock.json
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/concurnas/annotation_feature.test
  tests/languages/concurnas/function_feature.test
  tests/languages/concurnas/keyword_feature.test
  tests/languages/concurnas/number_feature.test
  tests/languages/concurnas/operator_feature.test
  tests/languages/concurnas/string_feature.test
Labels: language-definitions, needs changes, new language

#2203 Add Factor
  components.js
  components.json
  components/prism-factor.js
  components/prism-factor.min.js
  examples/prism-factor.html
  tests/languages/factor/builtin_words_feature.test
  tests/languages/factor/colon_words_feature.test
  tests/languages/factor/comments_feature.test
  tests/languages/factor/constructors_feature.test
  tests/languages/factor/normal_words_feature.test
  tests/languages/factor/numbers_feature.test
  tests/languages/factor/other_builtin_parsing_words_feature.test
  tests/languages/factor/quotations_feature.test
  tests/languages/factor/regexps_feature.test
  tests/languages/factor/sequences_feature.test
  tests/languages/factor/stack_effects_feature.test
  tests/languages/factor/strings_feature.test
Labels: language-definitions, needs changes, new language

#2185 Include Java keyword `record`
  components/prism-java.js
  components/prism-java.min.js
  tests/languages/java/keyword_feature.test
Labels: enhancement, language-definitions, needs changes

#2196 Update for C and OpenCL C
  components/prism-c.js
  components/prism-c.min.js
  components/prism-opencl.js
  components/prism-opencl.min.js
  tests/languages/c/class-name_feature.test
  tests/languages/c/function_feature.test
  tests/languages/c/keyword_feature.test
  tests/languages/opencl/boolean_feature.test
  tests/languages/opencl/constant_feature.test
  tests/languages/opencl/function_feature.test
  tests/languages/opencl/number_feature.test
Labels: enhancement, language-definitions, needs review

#2170 Added a Coy bug to the known failures page.
  img/failures/coy-overlap.png
  index.html
  known-failures.html
Labels: enhancement, needs review, website

#2171 Core: Faster Token.stringify
  components/prism-core.js
  components/prism-core.min.js
  prism.js
Labels: core, enhancement, needs review

#2217 fix highlighting of YAMLs anchor & alias
  components/prism-yaml.js
  components/prism-yaml.min.js
  tests/languages/yaml/anchor_and_alias_feature.test
Labels: bug, language-definitions, needs changes

#2225 Ruby: Fixed exponential backtracking
  components/prism-ruby.js
  components/prism-ruby.min.js
Labels: bug, language-definitions, needs review

#2226 YAML: Improvements
  components/prism-yaml.js
  components/prism-yaml.min.js
  tests/languages/yaml/anchor_and_alias_feature.test
  tests/languages/yaml/tag_feature.test
Labels: enhancement, language-definitions, needs review

#2213 Added support for Solution (.sln) files
  components.js
  components.json
  components/prism-solution-file.js
  components/prism-solution-file.min.js
  examples/prism-solution-file.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/solution-file/boolean_feature.test
  tests/languages/solution-file/comment_feature.test
  tests/languages/solution-file/guid_feature.test
  tests/languages/solution-file/object_feature.test
  tests/languages/solution-file/property_feature.test
  tests/languages/solution-file/string_feature.test
Labels: language-definitions, needs review, new language

#2208 Shell-Session: Improvements
  components/prism-shell-session.js
  components/prism-shell-session.min.js
  examples/prism-shell-session.html
  tests/languages/shell-session/command_feature.test
  tests/languages/shell-session/command_string_feature.test
  tests/languages/shell-session/info_feature.test
Labels: enhancement, language-definitions, needs review

#2230 Fixed "peerDependencies"
  components.js
  components.json
Labels: bug, language-definitions, needs review

#2228 Markdown: Nested lists
  components/prism-markdown.js
  components/prism-markdown.min.js
  tests/languages/markdown/list_feature.test
Labels: enhancement, language-definitions, needs review

#2229 C/C++: Comment improvement
  components/prism-c.js
  components/prism-c.min.js
  tests/languages/c/comment_feature.test
  tests/languages/cpp/comment_feature.test
  tests/languages/objectivec/comment_feature.test
Labels: enhancement, language-definitions, needs review
