Repository PrismJS/prism, pull requests merged in 2020-07, with the labels that each got.

#2450 AutoHotkey: missing built-in "format"
  components/prism-autohotkey.js
  components/prism-autohotkey.min.js
  tests/languages/autohotkey/builtin_feature.test
Labels: enhancement, language-definitions, needs changes

#2451 Handle edge case of string macro functions
  components/prism-sas.js
  components/prism-sas.min.js
  tests/languages/sas/macro_string_function_feature.test
  tests/languages/sas/macrokeyword_feature.test
Labels: enhancement, language-definitions, needs changes

#2463 Macro string functions
  components/prism-sas.js
  components/prism-sas.min.js
  tests/languages/sas/macro_string_function_feature.test
  tests/languages/sas/macrodefinition_feature.test
Labels: enhancement, language-definitions, needs changes

#2471 EditorConfig support
  components.js
  components.json
  components/prism-editorconfig.js
  components/prism-editorconfig.min.js
  examples/prism-editorconfig.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/editorconfig/comment_feature.test
  tests/languages/editorconfig/key_value_feature.test
  tests/languages/editorconfig/section_feature.test
Labels: language-definitions, needs changes, new language

#2032 Core: Fixed greedy matching bug
  components/prism-core.js
  components/prism-core.min.js
  docs/Token.html
  docs/global.html
  docs/prism-core.js.html
  prism.js
  tests/core/greedy.js
Labels: bug, core, needs review

#2474 Add aliases for Kotlin
  components.js
  components.json
  components/prism-kotlin.js
  components/prism-kotlin.min.js
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
Labels: enhancement, language-definitions, needs changes

#2476 Add PostgreSQL RETURNING keyword
  components/prism-sql.js
  components/prism-sql.min.js
  tests/languages/sql/keyword_feature.test
Labels: enhancement, language-definitions, needs changes

#2465 JS: Improved regex detection
  components/prism-javascript.js
  components/prism-javascript.min.js
  prism.js
  tests/languages/javascript/regex_feature.test
Labels: enhancement, language-definitions, needs review

#2459 Added support for Cypher
  components.js
  components.json
  components/prism-cypher.js
  components/prism-cypher.min.js
  examples/prism-cypher.html
  tests/languages/cypher/boolean_feature.test
  tests/languages/cypher/class-name_feature.test
  tests/languages/cypher/comment_feature.test
  tests/languages/cypher/function_feature.test
  tests/languages/cypher/keyword_feature.test
  tests/languages/cypher/number_feature.test
  tests/languages/cypher/operator_feature.test
  tests/languages/cypher/punctuation_feature.test
  tests/languages/cypher/relationship_feature.test
  tests/languages/cypher/string_feature.test
  tests/languages/cypher/variable_feature.test
Labels: language-definitions, needs review, new language

#2466 JSDoc: Improvements
  components.js
  components.json
  components/prism-jsdoc.js
  components/prism-jsdoc.min.js
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  tests/languages/jsdoc/class-name_feature.test
  tests/languages/jsdoc/parameter_feature.test
Labels: enhancement, language-definitions, needs review

#2464 Rust: Improvements
  components/prism-rust.js
  components/prism-rust.min.js
  examples/prism-rust.html
  tests/languages/rust/class-name_feature.test
  tests/languages/rust/constant_feature.test
  tests/languages/rust/function_feature.test
  tests/languages/rust/issue1339.test
  tests/languages/rust/keyword_feature.test
  tests/languages/rust/namespace_feature.test
Labels: enhancement, language-definitions, needs review

#2482 EditorConfig trim spaces before key and section title
  components/prism-editorconfig.js
  components/prism-editorconfig.min.js
  tests/languages/editorconfig/key_value_feature.test
  tests/languages/editorconfig/section_feature.test
Labels: enhancement, language-definitions

#2481 Added support for .gitignore
  components.js
  components.json
  components/prism-ignore.js
  components/prism-ignore.min.js
  examples/prism-ignore.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/ignore/comment_feature.test
  tests/languages/ignore/entry_feature.test
Labels: language-definitions, needs changes, new language

#2456 Line Numbers: Improved documentation
  plugins/line-numbers/index.html
Labels: enhancement, needs review, website

#2467 Added support for YANG
  components.js
  components.json
  components/prism-yang.js
  components/prism-yang.min.js
  examples/prism-yang.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/yang/boolean_feature.test
  tests/languages/yang/comment_feature.test
  tests/languages/yang/keyword_feature.test
  tests/languages/yang/namespace_feature.test
  tests/languages/yang/string_feature.test
Labels: enhancement, language-definitions, new language

#2469 VB: Added VBA alias
  components.js
  components.json
  components/prism-visual-basic.js
  components/prism-visual-basic.min.js
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
Labels: enhancement, language-definitions, needs review

#2484 Fixed Treeview page
  plugins/treeview/index.html
Labels: bug, needs review, plugins, website

#2473 Added support for Dhall
  components.js
  components.json
  components/prism-dhall.js
  components/prism-dhall.min.js
  examples/prism-dhall.html
  tests/languages/dhall/boolean_feature.test
  tests/languages/dhall/comment_feature.test
  tests/languages/dhall/env_feature.test
  tests/languages/dhall/hash_feature.test
  tests/languages/dhall/keyword_feature.test
  tests/languages/dhall/label_feature.test
  tests/languages/dhall/number_feature.test
  tests/languages/dhall/operator_feature.test
  tests/languages/dhall/punctuation_feature.test
  tests/languages/dhall/string_feature.test
  tests/languages/dhall/url_feature.test
Labels: language-definitions, needs review, new language

#2485 Batch: Fix escaped double quote
  components/prism-batch.js
  components/prism-batch.min.js
  tests/languages/batch/string_feature.test
Labels: enhancement, language-definitions, needs changes

#2479 JSON: Greedy comments
  components/prism-json.js
  components/prism-json.min.js
  tests/languages/json/comment_feature.test
Labels: enhancement, language-definitions, needs review
