Repository PrismJS/prism, pull requests merged in 2020-04, with the labels that each got.

#2274 Changelog for v1.20.0
  CHANGELOG.md
Labels: needs review

#2281 Diff: Add nest token
  components/prism-diff.js
  components/prism-diff.min.js
  tests/languages/diff/diff_feature.test
Labels: enhancement, language-definitions, needs review

#2282 Add 'eta' alias to EJS
  components.js
  components.json
  components/prism-ejs.js
  components/prism-ejs.min.js
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
Labels: enhancement, language-definitions, needs changes

#2283 gulp: Fixed language map
  gulpfile.js/index.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
Labels: bug, needs review

#2288 Line numbers: Expose `_resizeElement` function
  plugins/line-numbers/prism-line-numbers.js
  plugins/line-numbers/prism-line-numbers.min.js
Labels: enhancement, needs review, plugins

#2263 Scheme: Improvements
  components/prism-scheme.js
  components/prism-scheme.min.js
  known-failures.html
  tests/languages/scheme/character_feature.test
  tests/languages/scheme/lambda_parameter_feature.test
  tests/languages/scheme/number_feature.test
  tests/languages/scheme/string_feature.test
  tests/languages/scheme/symbol_feature.test
Labels: enhancement, language-definitions, needs review

#2296 gulp: Improved `inlineRegexSource`
  components/prism-csharp.min.js
  components/prism-d.min.js
  components/prism-ftl.min.js
  components/prism-lilypond.min.js
  components/prism-markup.min.js
  components/prism-pure.min.js
  components/prism-qml.min.js
  components/prism-shell-session.min.js
  gulpfile.js/index.js
Labels: enhancement, needs review

#2295 Java: Fixed namespace token
  components/prism-java.js
  components/prism-java.min.js
  tests/languages/java/module_feature.test
  tests/languages/java/package_feature.test
  tests/languages/scala/keyword_feature.test
Labels: enhancement, language-definitions, needs review

#2298 Bash: Add PHP dependency manager `composer` as a command
  components/prism-bash.js
  components/prism-bash.min.js
  tests/languages/bash/function_feature.test
Labels: enhancement, language-definitions, needs changes

#2311 Structured Text language support
  components.js
  components.json
  components/prism-iecst.js
  components/prism-iecst.min.js
  examples/prism-iecst.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/iecst/block.test
  tests/languages/iecst/number.test
  tests/languages/iecst/symbol.test
Labels: language-definitions, needs changes, new language

#2268 Fixed a few cases of exponential backtracking
  components/prism-antlr4.js
  components/prism-antlr4.min.js
  components/prism-applescript.js
  components/prism-applescript.min.js
  components/prism-asciidoc.js
  components/prism-asciidoc.min.js
  components/prism-c.js
  components/prism-c.min.js
  components/prism-csharp.js
  components/prism-csharp.min.js
  components/prism-d.js
  components/prism-d.min.js
  components/prism-eiffel.js
  components/prism-eiffel.min.js
  components/prism-elixir.js
  components/prism-elixir.min.js
  components/prism-ftl.js
  components/prism-ftl.min.js
  components/prism-groovy.js
  components/prism-groovy.min.js
  components/prism-javascript.js
  components/prism-javascript.min.js
  components/prism-jsx.js
  components/prism-jsx.min.js
  components/prism-lilypond.js
  components/prism-lilypond.min.js
  components/prism-livescript.js
  components/prism-livescript.min.js
  components/prism-lolcode.js
  components/prism-lolcode.min.js
  components/prism-markdown.js
  components/prism-markdown.min.js
  components/prism-markup.js
  components/prism-markup.min.js
  components/prism-neon.js
  components/prism-neon.min.js
  components/prism-pascal.js
  components/prism-pascal.min.js
  components/prism-php.js
  components/prism-php.min.js
  components/prism-powershell.js
  components/prism-powershell.min.js
  components/prism-qml.js
  components/prism-qml.min.js
  components/prism-rip.js
  components/prism-rip.min.js
  components/prism-robotframework.js
  components/prism-robotframework.min.js
  components/prism-shell-session.js
  components/prism-shell-session.min.js
  components/prism-textile.js
  components/prism-textile.min.js
  components/prism-toml.js
  components/prism-toml.min.js
  components/prism-turtle.js
  components/prism-turtle.min.js
  components/prism-xquery.js
  components/prism-xquery.min.js
  prism.js
Labels: enhancement, language-definitions, needs review

#2280 Typescript: Improvements
  components/prism-typescript.js
  components/prism-typescript.min.js
  tests/languages/typescript/class-name_feature.test
  tests/languages/typescript/function_feature.test
  tests/languages/typescript/keyword_feature.test
Labels: enhancement, language-definitions, needs review

#2245 Autoloader: Improved path detection + other minor improvements
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
Labels: enhancement, needs review, plugins

#2331 Alias objectivec as objc
  components.js
  components.json
  components/prism-objectivec.js
  components/prism-objectivec.min.js
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
Labels: enhancement, language-definitions

#2334 update Git repo URL in package.json
  package.json
Labels: enhancement, needs review

#2304 Scheme: Added missing special keywords
  components/prism-scheme.js
  components/prism-scheme.min.js
  tests/languages/scheme/keyword_feature.test
Labels: enhancement, language-definitions, needs review

#2300 Added support for AL
  components.js
  components.json
  components/prism-al.js
  components/prism-al.min.js
  examples/prism-al.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/al/boolean_feature.test
  tests/languages/al/class-name_feature.test
  tests/languages/al/comment_feature.test
  tests/languages/al/function_feature.test
  tests/languages/al/keyword_feature.test
  tests/languages/al/operator_feature.test
  tests/languages/al/string_feature.test
  tests/languages/al/variable_feature.test
Labels: language-definitions, needs review, new language

#2301 Powershell: New functions pattern bases on naming conventions
  components/prism-powershell.js
  components/prism-powershell.min.js
  tests/languages/powershell/function_feature.test
Labels: enhancement, language-definitions, needs review

#2302 Added support for Peoplecode
  components.js
  components.json
  components/prism-peoplecode.js
  components/prism-peoplecode.min.js
  examples/prism-peoplecode.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/peoplecode/boolean_feature.test
  tests/languages/peoplecode/comment_feature.test
  tests/languages/peoplecode/keyword_feature.test
  tests/languages/peoplecode/operator_feature.test
  tests/languages/peoplecode/string_feature.test
Labels: language-definitions, needs review, new language

#2305 Added support for UnrealScript
  components.js
  components.json
  components/prism-unrealscript.js
  components/prism-unrealscript.min.js
  examples/prism-unrealscript.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/unrealscript/boolean_feature.test
  tests/languages/unrealscript/class-name_feature.test
  tests/languages/unrealscript/comment_feature.test
  tests/languages/unrealscript/keyword_feature.test
  tests/languages/unrealscript/macro_feature.test
  tests/languages/unrealscript/metadata_feature.test
  tests/languages/unrealscript/number_feature.test
  tests/languages/unrealscript/operator_feature.test
  tests/languages/unrealscript/string_feature.test
Labels: language-definitions, needs review, new language

#2307 Added support for WarpScript
  components.js
  components.json
  components/prism-warpscript.js
  components/prism-warpscript.min.js
  examples/prism-warpscript.html
  tests/languages/warpscript/boolean_feature.test
  tests/languages/warpscript/comment_feature.test
  tests/languages/warpscript/number_feature.test
  tests/languages/warpscript/operator_feature.test
  tests/languages/warpscript/punctuation_feature.test
  tests/languages/warpscript/string_feature.test
Labels: language-definitions, needs review, new language

#2316 Scheme: Improved boolean
  components/prism-scheme.js
  components/prism-scheme.min.js
  tests/languages/scheme/boolean_feature.test
Labels: enhancement, language-definitions, needs review

#2315 Added support for Racket
  components.js
  components.json
  components/prism-racket.js
  components/prism-racket.min.js
  examples/prism-racket.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/racket/boolean_feature.test
  tests/languages/racket/builtin_feature.test
  tests/languages/racket/character_feature.test
  tests/languages/racket/comment_feature.test
  tests/languages/racket/function_feature.test
  tests/languages/racket/keyword_feature.test
  tests/languages/racket/lambda_parameter_feature.test
  tests/languages/racket/lang_feature.test
  tests/languages/racket/number_feature.test
  tests/languages/racket/operator_feature.test
  tests/languages/racket/string_feature.test
  tests/languages/racket/symbol_feature.test
Labels: language-definitions, needs review, new language

#2337 fix(line-numbers): lineNumberWrapper might be null when code is ""
  plugins/line-numbers/prism-line-numbers.js
  plugins/line-numbers/prism-line-numbers.min.js
Labels: bug, needs review, plugins

#2320 C: Improved macros
  components/prism-c.js
  components/prism-c.min.js
  tests/languages/c/macro_feature.test
Labels: enhancement, language-definitions, needs review

#2322 Scheme: Consistent lookaheads
  components/prism-scheme.js
  components/prism-scheme.min.js
Labels: enhancement, language-definitions, needs review

#2318 Added support for HLSL
  components.js
  components.json
  components/prism-hlsl.js
  components/prism-hlsl.min.js
  examples/prism-hlsl.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/hlsl/boolean_feature.test
  tests/languages/hlsl/class-name_feature.test
  tests/languages/hlsl/comment_feature.test
  tests/languages/hlsl/keyword_feature.test
  tests/languages/hlsl/number_feature.test
  tests/languages/hlsl/operator_feature.test
Labels: language-definitions, needs review, new language

#2321 GLSL: Improvements
  components.js
  components.json
  components/prism-glsl.js
  components/prism-glsl.min.js
  examples/prism-glsl.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  tests/languages/glsl/keyword_feature.test
  tests/languages/glsl/macro_feature.test
  tests/languages/glsl/preprocessor_feature.test
Labels: enhancement, language-definitions, needs review

#2342 C++: Add enum class to class names
  components/prism-cpp.js
  components/prism-cpp.min.js
  tests/languages/cpp/class-name_feature.test
Labels: enhancement, language-definitions, needs changes

#2344 Python: Fixed empty multiline strings
  components/prism-python.js
  components/prism-python.min.js
  tests/languages/python/string-interpolation_feature.test
  tests/languages/python/triple-quoted-string_feature.test
Labels: enhancement, language-definitions, needs review
