Repository PrismJS/prism, pull requests merged in 2020-05, with the labels that each got.

#2358 pug: Improved class and id in tag detection
  components/prism-pug.js
  components/prism-pug.min.js
  tests/languages/pug/tag_feature.test
Labels: enhancement, language-definitions, needs changes

#2364 Better error messages for pattern tests
  tests/pattern-tests.js
Labels: enhancement, needs review

#2355 Update for dart keyword.
  components/prism-dart.js
  components/prism-dart.min.js
  tests/languages/dart/keyword_feature.test
Labels: enhancement, language-definitions, needs changes

#2324 JavaDoc: Improvements
  components/prism-javadoc.js
  components/prism-javadoc.min.js
  tests/languages/javadoc/class-name_feature.test
  tests/languages/javadoc/code_feature.test
  tests/languages/javadoc/entity_feature.test
  tests/languages/javadoc/keyword_feature.test
  tests/languages/javadoc/parameter_feature.test
  tests/languages/javadoc/reference_feature.test
  tests/languages/javadoc/tag_feature.test
Labels: enhancement, language-definitions, needs review

#2369 PureBasic
  components.js
  components.json
  components/prism-purebasic.js
  components/prism-purebasic.min.js
  examples/prism-purebasic.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/purebasic/comment_feature.test
  tests/languages/purebasic/function_feature.test
  tests/languages/purebasic/number_feature.test
  tests/languages/purebasic/operator_feature.test
  tests/languages/purebasic/string_feature.test
Labels: enhancement, language-definitions, needs changes

#2053 Website improvements
  extending.html
  index.html
  scripts/code.js
  style.css
  test-suite.html
Labels: enhancement, needs review, website

#2368 Stylus: Add `color`, `entity`, `unit`, change `number` and `operator` in `inside` object, Fix relational tests.
  components/prism-stylus.js
  components/prism-stylus.min.js
  tests/languages/stylus+pug/stylus_inclusion.test
  tests/languages/stylus/func_feature.test
  tests/languages/stylus/important_feature.test
  tests/languages/stylus/number_feature.test
  tests/languages/stylus/property-declaration_feature.test
  tests/languages/stylus/selector_feature.test
Labels: enhancement, language-definitions, needs changes

#2328 Line Highlight: Added linkable line numbers
  plugins/line-highlight/index.html
  plugins/line-highlight/prism-line-highlight.css
  plugins/line-highlight/prism-line-highlight.js
  plugins/line-highlight/prism-line-highlight.min.js
  plugins/line-numbers/prism-line-numbers.css
Labels: enhancement, needs review, plugins

#2372 Stylus: Put the `comment` token behind the `string` token and set the `greedy` property to `true`
  components/prism-stylus.js
  components/prism-stylus.min.js
  tests/languages/stylus/atrule-declaration_feature.test
  tests/languages/stylus/keyword_feature.test
  tests/languages/stylus/selector_feature.test
  tests/languages/stylus/variable-declaration_feature.test
Labels: enhancement, language-definitions

#2325 Regex: Added aliases and minor improvements
  components/prism-regex.js
  components/prism-regex.min.js
  examples/prism-regex.html
  tests/examples-test.js
  tests/languages/regex/charset_feature.test
  tests/languages/regex/quantifier_feature.test
Labels: enhancement, language-definitions, needs review

#2373 CSS Extra: (1) rename `attr-name`, `attr-value` (2) change `pseudo-class` token pattern (3) add `tag`, `selector-list`, `combinator` token
  components/prism-css-extras.js
  components/prism-css-extras.min.js
  tests/languages/css!+css-extras/selector_attribute_feature.test
  tests/languages/css!+css-extras/selector_feature.test
  tests/languages/css!+css-extras/selector_n-th_feature.test
  tests/languages/css!+css-extras/selector_pseudo-class_feature.test
Labels: enhancement, language-definitions, needs changes

#2346 Scheme: Improved lambda parameter
  components/prism-racket.js
  components/prism-racket.min.js
  components/prism-scheme.js
  components/prism-scheme.min.js
  tests/languages/scheme/lambda_parameter_feature.test
Labels: enhancement, language-definitions, needs review

#2340 Added support for XML doc in C#, F#, and VB.net
  components.js
  components.json
  components/prism-xml-doc.js
  components/prism-xml-doc.min.js
  examples/prism-xml-doc.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/csharp!+xml-doc/inclusion.test
  tests/languages/fsharp!+xml-doc/inclusion.test
  tests/languages/vbnet!+xml-doc/inclusion.test
Labels: language-definitions, needs review, new language

#2341 T4-VB: Use right VB variant
  components.js
  components.json
  components/prism-t4-vb.js
  components/prism-t4-vb.min.js
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
Labels: bug, language-definitions, needs review

#2348 C++: Improved class name detection
  components/prism-cpp.js
  components/prism-cpp.min.js
  tests/languages/cpp/base-clause_feature.test
  tests/languages/cpp/class-name_feature.test
  tests/languages/cpp/issue2347.test
Labels: enhancement, language-definitions, needs review

#2385 Ren'Py: Added `rpy` alias
  components.js
  components.json
  components/prism-renpy.js
  components/prism-renpy.min.js
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
Labels: enhancement, language-definitions

#2390 Add new aliases
  components.js
  components.json
  components/prism-json.js
  components/prism-json.min.js
  components/prism-markup.js
  components/prism-markup.min.js
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  prism.js
Labels: enhancement, language-definitions

#2392 minor changes to better handle comments in proc
  components/prism-sas.js
  components/prism-sas.min.js
  tests/languages/groovy+sas/groovy_inclusion.test
  tests/languages/lua+sas/lua_inclusion.test
  tests/languages/sas/proccas_feature.test
Labels: enhancement, language-definitions

#2365 IO: Fixed operator pattern
  components/prism-io.js
  components/prism-io.min.js
Labels: bug, language-definitions, needs review

#2353 Tests: Included `console` in VM context
  tests/helper/prism-loader.js
Labels: enhancement, needs review

#2354 Ruby: Faster matching
  components/prism-ruby.js
  components/prism-ruby.min.js
Labels: enhancement, language-definitions, needs review

#2359 CSS Extras: Optimized class and id patterns
  components/prism-css-extras.js
  components/prism-css-extras.min.js
  tests/languages/css!+css-extras/selector_feature.test
Labels: enhancement, language-definitions, needs review

#2351 Markup: Added alias for named entities
  components/prism-markup.js
  components/prism-markup.min.js
  prism.js
  tests/languages/markup/entity_feature.js
Labels: enhancement, language-definitions, needs review

#2363 Julia: String, character, and other improvements
  components/prism-julia.js
  components/prism-julia.min.js
  tests/languages/julia/comment_feature.test
  tests/languages/julia/constant_feature.test
  tests/languages/julia/issue2360.test
  tests/languages/julia/number_feature.test
  tests/languages/julia/operator_feature.test
  tests/languages/julia/punctuation_feature.test
  tests/languages/julia/regex_feature.test
  tests/languages/julia/string_feature.test
Labels: enhancement, language-definitions, needs review

#2350 Markup: Added `attr-equals` alias
  components/prism-markup.js
  components/prism-markup.min.js
  prism.js
Labels: enhancement, language-definitions, needs review

#2349 Markup: Added tokens inside DOCTYPE
  components/prism-markup.js
  components/prism-markup.min.js
  prism.js
  tests/languages/markup/doctype_feature.test
Labels: enhancement, language-definitions, needs review

#2370 Test: Always use components.json
  tests/aliases-test.js
  tests/dependencies-test.js
  tests/helper/prism-loader.js
  tests/pattern-tests.js
Labels: enhancement, needs review

#2400 AutoHotkey: missing definitions
  components/prism-autohotkey.js
  components/prism-autohotkey.min.js
  tests/languages/autohotkey/builtin_feature.test
  tests/languages/autohotkey/constant_feature.test
  tests/languages/autohotkey/important_feature.test
  tests/languages/autohotkey/keyword_feature.test
  tests/languages/autohotkey/selector_feature.test
Labels: enhancement, language-definitions, needs changes

#2409 Add ⍥
  components/prism-apl.js
  components/prism-apl.min.js
  tests/languages/apl/dyadic-operator_feature.test
Labels: enhancement, language-definitions

#2376 VB: Added missing keywords
  components/prism-visual-basic.js
  components/prism-visual-basic.min.js
  tests/languages/visual-basic/keyword_feature.test
Labels: enhancement, language-definitions, needs review

#2378 JS: Added support for logical assignment operators
  components/prism-javascript.js
  components/prism-javascript.min.js
  prism.js
  tests/languages/javascript/operator_feature.test
Labels: enhancement, language-definitions, needs review

#2391 Fixed typo
  plugins/filter-highlight-all/index.html
Labels: enhancement, needs review, website

#2382 Solidity: Added `sol` alias
  components.js
  components.json
  components/prism-solidity.js
  components/prism-solidity.min.js
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
Labels: enhancement, language-definitions, needs review

#2387 JS: Improved `get`/`set` and parameter detection
  components/prism-javascript.js
  components/prism-javascript.min.js
  prism.js
  tests/languages/javascript/getter-setter_feature.test
  tests/languages/javascript/keyword_feature.test
Labels: enhancement, language-definitions, needs review

#2406 Support multiline graphql descriptions (Fix #2405)
  components.js
  components.json
  components/prism-graphql.js
  components/prism-graphql.min.js
  examples/prism-graphql.html
  tests/languages/graphql/description_feature.test
  tests/languages/graphql/string_feature.test
  tests/languages/markdown+graphql/description_feature.test
Labels: enhancement, language-definitions, needs changes
