Repository PrismJS/prism, pull requests merged in 2020-09, with the labels that each got.

#2549 Autoloader: Fixed file detection regexes
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
Labels: bug, needs review, plugins

#2548 Shell-Session: Added aliases
  components.js
  components.json
  components/prism-shell-session.js
  components/prism-shell-session.min.js
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
Labels: enhancement, language-definitions, needs review

#2542 Added support for Birb
  components.js
  components.json
  components/prism-birb.js
  components/prism-birb.min.js
  examples/prism-birb.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  tests/languages/birb/function_feature.test
  tests/languages/birb/keyword_feature.test
  tests/languages/birb/metadata_feature.test
  tests/languages/birb/operator_feature.test
  tests/languages/birb/string_feature.test
Labels: language-definitions, needs consensus, new language

#2550 Rust: Fixed Unicode char literals
  components/prism-rust.js
  components/prism-rust.min.js
  tests/languages/rust/char_feature.test
Labels: bug, language-definitions, needs review

#2537 Added support for SML
  components.js
  components.json
  components/prism-sml.js
  components/prism-sml.min.js
  examples/prism-sml.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/sml/boolean_feature.test
  tests/languages/sml/classname_feature.test
  tests/languages/sml/comment_feature.test
  tests/languages/sml/function_feature.test
  tests/languages/sml/keyword_feature.test
  tests/languages/sml/number_feature.test
  tests/languages/sml/operator_feature.test
  tests/languages/sml/string_feature.test
  tests/languages/sml/word_feature.test
Labels: language-definitions, needs review, new language

#2541 Match braces: Fixed JS interpolation punctuation
  plugins/match-braces/index.html
  plugins/match-braces/prism-match-braces.js
  plugins/match-braces/prism-match-braces.min.js
Labels: bug, enhancement, needs review, plugins

#2564 Processing: Fixed function pattern
  components/prism-processing.js
  components/prism-processing.min.js
Labels: bug, language-definitions
