Repository PrismJS/prism, pull requests merged in 2020-08, with the labels that each got.

#2506 Previewers: Fixed XSS
  plugins/previewers/prism-previewers.js
  plugins/previewers/prism-previewers.min.js
Labels: bug, needs review, plugins

#2494 Add support for NaniScript
  components.js
  components.json
  components/prism-naniscript.js
  components/prism-naniscript.min.js
  examples/prism-naniscript.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/naniscript/command_feature.test
  tests/languages/naniscript/comment_feature.test
  tests/languages/naniscript/define_feature.test
  tests/languages/naniscript/expression_feature.test
  tests/languages/naniscript/label_feature.test
  tests/languages/naniscript/mixed_content_feature.test
Labels: language-definitions, needs changes, new language

#2505 Added support for TypoScript
  components.js
  components.json
  components/prism-typoscript.js
  components/prism-typoscript.min.js
  examples/prism-typoscript.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/typoscript/comment_feature.test
  tests/languages/typoscript/function_feature.test
  tests/languages/typoscript/keyword_feature.test
  tests/languages/typoscript/number_feature.test
  tests/languages/typoscript/tag_string_feature.test
Labels: language-definitions, needs changes, new language

#2490 Added support for Stan
  components.js
  components.json
  components/prism-stan.js
  components/prism-stan.min.js
  examples/prism-stan.html
  tests/languages/stan/comment_feature.test
  tests/languages/stan/constraint_feature.test
  tests/languages/stan/directive_feature.test
  tests/languages/stan/keyword_feature.test
  tests/languages/stan/number_feature.test
  tests/languages/stan/operator_feature.test
  tests/languages/stan/punctuation_feature.test
  tests/languages/stan/string_feature.test
Labels: language-definitions, needs review, new language

#2518 MongoDB syntax
  components.js
  components.json
  components/prism-mongodb.js
  components/prism-mongodb.min.js
  examples/prism-mongodb.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/mongodb/document_feature.test
  tests/languages/mongodb/functions_feature.test
  tests/languages/mongodb/operations_feature.test
  tests/languages/mongodb/query_feature.test
  tests/languages/mongodb/string_url_and_ip_feature.test
  tests/languages/mongodb/update_feature.test
Labels: language-definitions, needs changes, new language

#2520 Add language BSL (1C:Enterprise)
  components.js
  components.json
  components/prism-bsl.js
  components/prism-bsl.min.js
  examples/prism-bsl.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/bsl/comment_feature.test
  tests/languages/bsl/keyword_feature.test
  tests/languages/bsl/number_feature.test
  tests/languages/bsl/operator_feature.test
  tests/languages/bsl/string_feature.test
Labels: language-definitions, needs changes, new language

#2515 Tests: Added an option to accept the actual token stream
  test-suite.html
  tests/helper/test-case.js
  tests/run.js
Labels: enhancement, needs review

#2509 Shell session & bash: All command after start of Heredoc string
  components/prism-bash.js
  components/prism-bash.min.js
  components/prism-shell-session.js
  components/prism-shell-session.min.js
  tests/languages/bash/string_feature.test
  tests/languages/shell-session/command_string_feature.test
Labels: enhancement, language-definitions, needs review

#2512 Custom class: Improved doc
  plugins/custom-class/index.html
Labels: enhancement, needs review, website

#2513 Docs: Minor improvement
  components/prism-core.js
  docs/Prism.hooks.html
  docs/Prism.html
  docs/Token.html
  docs/global.html
  docs/prism-core.js.html
  prism.js
Labels: enhancement, needs review, website

#2529 JS Extras: Added control-flow keywords
  components/prism-js-extras.js
  components/prism-js-extras.min.js
Labels: enhancement, language-definitions, needs review

#2533 JS Extras: Highlight import and export bindings
  components/prism-js-extras.js
  components/prism-js-extras.min.js
  tests/languages/javascript!+js-extras/exports_feature.test
  tests/languages/javascript!+js-extras/imports_feature.test
Labels: enhancement, language-definitions, needs review

#2535 Haskell: Improvements
  components/prism-haskell.js
  components/prism-haskell.min.js
  tests/languages/haskell/comment_feature.test
  tests/languages/haskell/import_statement_feature.test
Labels: enhancement, language-definitions, needs review

#2526 Added PureScript language definition
  components.js
  components.json
  components/prism-purescript.js
  components/prism-purescript.min.js
  examples/prism-purescript.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/purescript/builtin_feature.test
  tests/languages/purescript/char_feature.test
  tests/languages/purescript/comment_feature.test
  tests/languages/purescript/constant_feature.test
  tests/languages/purescript/hvariable_feature.test
  tests/languages/purescript/import_statement_feature.test
  tests/languages/purescript/keyword_feature.test
  tests/languages/purescript/number_feature.test
  tests/languages/purescript/operator_feature.test
  tests/languages/purescript/string_feature.test
Labels: language-definitions, needs changes, new language

#2524 Removed duplicate alternatives in various languages
  components/prism-arduino.js
  components/prism-arduino.min.js
  components/prism-cil.js
  components/prism-cil.min.js
  components/prism-clojure.js
  components/prism-clojure.min.js
  components/prism-firestore-security-rules.js
  components/prism-firestore-security-rules.min.js
  components/prism-fortran.js
  components/prism-fortran.min.js
  components/prism-gml.js
  components/prism-gml.min.js
  components/prism-groovy.js
  components/prism-groovy.min.js
  components/prism-iecst.js
  components/prism-iecst.min.js
  components/prism-io.js
  components/prism-io.min.js
  components/prism-n1ql.js
  components/prism-n1ql.min.js
  components/prism-powershell.js
  components/prism-powershell.min.js
  components/prism-processing.js
  components/prism-processing.min.js
  components/prism-purebasic.js
  components/prism-purebasic.min.js
  components/prism-vim.js
  components/prism-vim.min.js
  components/prism-warpscript.js
  components/prism-warpscript.min.js
Labels: enhancement, language-definitions, needs review

#2525 Scheme: Added support for R7RS syntax
  components/prism-scheme.js
  components/prism-scheme.min.js
  tests/languages/racket/function_feature.test
  tests/languages/scheme/boolean_feature.test
  tests/languages/scheme/builtin_feature.test
  tests/languages/scheme/comment_feature.test
  tests/languages/scheme/function_feature.test
  tests/languages/scheme/identifier_feature.test
  tests/languages/scheme/keyword_feature.test
  tests/languages/scheme/lambda_parameter_feature.test
Labels: enhancement, language-definitions, needs review

#2523 JSDoc: Fixed line ends
  gulpfile.js/docs.js
Labels: bug, needs review, website

#2532 Regex: Changed how languages embed regexes
  components.js
  components.json
  components/prism-javascript.js
  components/prism-javascript.min.js
  components/prism-regex.js
  components/prism-regex.min.js
  components/prism-vala.js
  components/prism-vala.min.js
  prism.js
  tests/languages/javascript!+regex/regex_inclusion.test
  tests/languages/javascript/regex_feature.test
  tests/languages/markup+javascript+csharp+aspnet/script_feature.test
Labels: bug, language-definitions, needs review
