Repository PrismJS/prism, pull requests merged in 2020-01, with the labels that each got.

#2158 JS: Better regex detection
  components/prism-javascript.js
  components/prism-javascript.min.js
  prism.js
  tests/languages/javascript/regex_feature.test
Labels: enhancement, language-definitions, needs review

#2151 Dependencies: Improved `getLoader`
  dependencies.js
  tests/dependencies-test.js
Labels: enhancement, needs review

#2157 PHP: Fixed exponential runtime of a pattern
  components/prism-php.js
  components/prism-php.min.js
  tests/languages/php/issue2156.test
Labels: bug, language-definitions, needs review

#2150 Add support for single line comments in ReasonML
  components/prism-reason.js
  components/prism-reason.min.js
  tests/languages/reason/comment_feature.test
Labels: enhancement, language-definitions

#2135 Override Ruby class-name definition
  components/prism-ruby.js
  components/prism-ruby.min.js
  tests/languages/ruby/method_definition_feature.test
Labels: enhancement, language-definitions

#2140 added support for Latte & NEON
  components.js
  components.json
  components/prism-latte.js
  components/prism-latte.min.js
  components/prism-neon.js
  components/prism-neon.min.js
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/latte/comment_feature.test
  tests/languages/latte/delimiter_feature.test
  tests/languages/latte/html_feature.test
  tests/languages/latte/n-attr_feature.test
  tests/languages/latte/php_feature.test
  tests/languages/neon/boolean_feature.test
  tests/languages/neon/comment_feature.test
  tests/languages/neon/composite.test
  tests/languages/neon/datetime_feature.test
  tests/languages/neon/json_feature.test
  tests/languages/neon/key_feature.test
  tests/languages/neon/literal_feature.test
  tests/languages/neon/null_feature.test
  tests/languages/neon/number_feature.test
  tests/languages/neon/string_feature.test
Labels: language-definitions, new language

#2144 fix attribute names with $ in their names not being picked up for jsx
  components/prism-jsx.js
  components/prism-jsx.min.js
  tests/languages/jsx/dollars-in-attrs.test
Labels: enhancement, language-definitions

#2141 Added documentation for new dependency API
  extending.html
Labels: docs, enhancement, website

#2142 Tests: Adds a check redundant dependency declarations
  components.js
  components.json
  tests/dependencies-test.js
Labels: enhancement

#2148 Added support for keywords after a spread operator
  components/prism-javascript.js
  components/prism-javascript.min.js
  prism.js
  tests/languages/javascript/spread_and_keyword_feature.test
Labels: enhancement, language-definitions, needs review

#2147 Added silent option to `loadLanguages`
  components/index.js
  index.html
Labels: enhancement, needs review

#2114 Markdown: Better language detection for code blocks
  components/prism-markdown.js
  components/prism-markdown.min.js
  tests/languages/markdown/code_block_language_detection_feature.js
Labels: enhancement, language-definitions, needs review

#2160 Fixed one of the Custom Class examples
  plugins/custom-class/index.html
Labels: enhancement, needs review, website

#2128 Added checks for examples
  examples/prism-antlr4.html
  examples/prism-cil.html
  examples/prism-css-extras.html
  examples/prism-js-extras.html
  examples/prism-latte.html
  examples/prism-lilypond.html
  examples/prism-neon.html
  examples/prism-php-extras.html
  examples/prism-tap.html
  gulpfile.js/premerge.js
Labels: enhancement, needs review

#2161 Added missing .token selector
  themes/prism-coy.css
  themes/prism-dark.css
  themes/prism-funky.css
  themes/prism-okaidia.css
  themes/prism-solarizedlight.css
  themes/prism-twilight.css
  themes/prism.css
Labels: enhancement, needs review, themes

#2159 JSX: Improved spread operator in tag attributes
  components/prism-jsx.js
  components/prism-jsx.min.js
  tests/languages/jsx/spread_in_tags.test
Labels: enhancement, language-definitions, needs changes

#2112 CASL support
  components/prism-sas.js
  components/prism-sas.min.js
  tests/languages/sas/keyword_feature.test
  tests/languages/sas/proccas_feature.test
Labels: enhancement, language-definitions, needs changes

#2139 Added QML
  components.js
  components.json
  components/prism-qml.js
  components/prism-qml.min.js
  examples/prism-qml.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/qml/class-name_feature.test
  tests/languages/qml/comment_feature.test
  tests/languages/qml/import_feature.test
  tests/languages/qml/javascript-function_feature.test
  tests/languages/qml/keyword_feature.test
  tests/languages/qml/property_feature.test
  tests/languages/qml/punctuation_feature.test
Labels: language-definitions, needs review, new language

#2172 feat: handlebars - dot in path names
  components/prism-handlebars.js
  components/prism-handlebars.min.js
  tests/languages/handlebars/block_feature.test
  tests/languages/handlebars/handlebars_in_html_feature.test
  tests/languages/handlebars/punctuation_feature.test
  tests/languages/handlebars/variable_feature.test
Labels: enhancement, language-definitions, needs changes

#2182 Elixir: Added support for attributes with `?`
  components/prism-elixir.js
  components/prism-elixir.min.js
  tests/languages/elixir/attr-name_feature.test
Labels: enhancement, language-definitions, needs review

#2189 Tests: Added new pattern check for octal escapes
  components/prism-bash.js
  components/prism-bash.min.js
  components/prism-shell-session.js
  components/prism-shell-session.min.js
  tests/languages/shell-session/command_string_feature.test
  tests/pattern-tests.js
Labels: enhancement, needs review

#2184 Core: Fixed scope problem
  components/prism-core.js
  components/prism-core.min.js
  prism.js
Labels: core, enhancement, needs review
