Repository PrismJS/prism, pull requests merged in 2020-06, with the labels that each got.

#2396 Scheme: Adjusted lookbehind for literals
  components/prism-scheme.js
  components/prism-scheme.min.js
  tests/languages/scheme/number_feature.test
Labels: enhancement, language-definitions, needs review

#2412 Autohotkey: Improved comments and other improvements
  components/prism-autohotkey.js
  components/prism-autohotkey.min.js
  tests/languages/autohotkey/comment_feature.test
  tests/languages/autohotkey/function_feature.test
Labels: enhancement, language-definitions, needs review

#2309 Default Theme: Add a comment that declares the background color of `operator` tokens as intentional
  themes/prism.css
Labels: enhancement, needs review, themes

#2414 Protobuf: Added support for RPC
  components/prism-protobuf.js
  components/prism-protobuf.min.js
  tests/languages/protobuf/keyword_feature.test
  tests/languages/protobuf/rpc_feature.test
Labels: enhancement, language-definitions, needs review

#2402 C#: Fixed adjacent string interpolations
  components/prism-csharp.js
  components/prism-csharp.min.js
  tests/languages/csharp/interpolation-string_feature.test
Labels: enhancement, language-definitions, needs review

#2411 C#: Improved pattern matching
  components/prism-csharp.js
  components/prism-csharp.min.js
  tests/languages/csharp/class-name-variables-parameters_feature.test
  tests/languages/csharp/keyword_feature.test
  tests/languages/csharp/switch_feature.test
Labels: enhancement, language-definitions, needs review

#2407 GraphQL: Added missing keywords
  components/prism-graphql.js
  components/prism-graphql.min.js
  tests/languages/graphql/class-name_feature.test
  tests/languages/graphql/keyword_feature.test
  tests/languages/graphql/operator_feature.test
Labels: enhancement, language-definitions, needs review

#2371 Added a test for identifier support across all languages
  components/prism-apl.js
  components/prism-apl.min.js
  components/prism-asm6502.js
  components/prism-asm6502.min.js
  components/prism-css-extras.js
  components/prism-css-extras.min.js
  components/prism-ebnf.js
  components/prism-ebnf.min.js
  components/prism-eiffel.js
  components/prism-eiffel.min.js
  components/prism-excel-formula.js
  components/prism-excel-formula.min.js
  components/prism-hcl.js
  components/prism-hcl.min.js
  components/prism-hpkp.js
  components/prism-hpkp.min.js
  components/prism-hsts.js
  components/prism-hsts.min.js
  components/prism-j.js
  components/prism-j.min.js
  components/prism-jq.js
  components/prism-jq.min.js
  components/prism-json.js
  components/prism-json.min.js
  components/prism-json5.js
  components/prism-json5.min.js
  components/prism-markdown.js
  components/prism-markdown.min.js
  components/prism-ocaml.js
  components/prism-ocaml.min.js
  components/prism-oz.js
  components/prism-oz.min.js
  components/prism-parigp.js
  components/prism-parigp.min.js
  components/prism-pure.js
  components/prism-pure.min.js
  components/prism-q.js
  components/prism-q.min.js
  components/prism-rip.js
  components/prism-rip.min.js
  components/prism-stylus.js
  components/prism-stylus.min.js
  components/prism-textile.js
  components/prism-textile.min.js
  components/prism-toml.js
  components/prism-toml.min.js
  components/prism-tt2.js
  components/prism-tt2.min.js
  package.json
  tests/identifier-test.js
  tests/languages/markdown/bold_feature.test
  tests/languages/markdown/italic_feature.test
  tests/languages/markdown/nested_bold_italic_feature.test
  tests/languages/markdown/strike_feature.test
  tests/languages/textile/inline_feature.test
Labels: enhancement, needs review

#2357 Removed gulp `premerge` task
  .travis.yml
  gulpfile.js/index.js
  gulpfile.js/premerge.js
Labels: enhancement, needs review

#2356 Added `npm run build` command
  README.md
  extending.html
  package.json
Labels: enhancement, needs review

#2428 Disable highlighting of strings inside comments in a Dockerfile
  components/prism-docker.js
  components/prism-docker.min.js
  examples/prism-docker.html
  tests/languages/docker/comment_feature.test
Labels: enhancement, language-definitions

#2418 jsstacktrace: add language
  components.js
  components.json
  components/prism-jsstacktrace.js
  components/prism-jsstacktrace.min.js
  examples/prism-jsstacktrace.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/jsstacktrace/errormessage-nodejs_feature.test
  tests/languages/jsstacktrace/errormessage_feature.test
  tests/languages/jsstacktrace/filename_feature.test
  tests/languages/jsstacktrace/filenamedirect_feature.test
  tests/languages/jsstacktrace/filenamedirectwindows_feature.test
  tests/languages/jsstacktrace/function_feature.test
  tests/languages/jsstacktrace/linenumber_feature.test
  tests/languages/jsstacktrace/notmycode_feature.test
Labels: language-definitions, needs changes, new language

#2430 Add support for the language Agda
  components.js
  components.json
  components/prism-agda.js
  components/prism-agda.min.js
  examples/prism-agda.html
  tests/languages/agda/comment_feature.test
  tests/languages/agda/data_feature.test
  tests/languages/agda/function_feature.test
  tests/languages/agda/module_feature.test
  tests/languages/agda/record_feature.test
Labels: language-definitions, needs changes, new language

#2434 Added general de/activation mechanism for plugins
  components/prism-core.js
  components/prism-core.min.js
  plugins/keep-markup/index.html
  plugins/keep-markup/prism-keep-markup.js
  plugins/keep-markup/prism-keep-markup.min.js
  plugins/line-numbers/prism-line-numbers.js
  plugins/line-numbers/prism-line-numbers.min.js
  plugins/normalize-whitespace/prism-normalize-whitespace.js
  plugins/normalize-whitespace/prism-normalize-whitespace.min.js
  prism.js
Labels: enhancement, needs review, plugins

#2435 Line numbers: Style inline code
  plugins/line-numbers/index.html
Labels: enhancement, needs review, website

#2292 Okaidia: Update comment text color to meet WCAG contrast recommendations to AA level
  themes/prism-okaidia.css
Labels: enhancement, needs consensus, themes

#2290 Command Line refactoring
  plugins/command-line/prism-command-line.js
  plugins/command-line/prism-command-line.min.js
Labels: bug, needs review, plugins

#2176 Coy: Minor improvement
  themes/prism-coy.css
Labels: enhancement, needs review, themes

#2165 Faster tests
  tests/checks/extend.js
  tests/checks/insert-before.js
  tests/helper/check-functionality.js
  tests/helper/checks.js
  tests/helper/prism-loader.js
Labels: enhancement, needs review

#2222 Added test to sort the language list
  components.js
  components.json
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/dependencies-test.js
Labels: enhancement, needs review

#2421 Tests: Always pretty-print token streams
  test-suite.html
  tests/helper/test-case.js
  tests/run.js
Labels: enhancement, needs review

#2423 VB: Added `until` keyword
  components/prism-visual-basic.js
  components/prism-visual-basic.min.js
  tests/languages/visual-basic/keyword_feature.test
Labels: enhancement, language-definitions, needs review

#2419 Added support for Smali
  components.js
  components.json
  components/prism-smali.js
  components/prism-smali.min.js
  examples/prism-smali.html
  tests/languages/smali/boolean_feature.test
  tests/languages/smali/class-name_feature.test
  tests/languages/smali/comment_feature.test
  tests/languages/smali/field_feature.test
  tests/languages/smali/function_feature.test
  tests/languages/smali/keyword_feature.test
  tests/languages/smali/number_feature.test
  tests/languages/smali/string_feature.test
Labels: language-definitions, needs review, new language

#2432 CSS: Improved url and added keywords
  components/prism-css.js
  components/prism-css.min.js
  prism.js
  tests/languages/css/atrule_feature.test
  tests/languages/css/url_feature.test
Labels: enhancement, language-definitions, needs review

#2426 C++: Added support for default comparison operator
  components/prism-cpp.js
  components/prism-cpp.min.js
  tests/languages/cpp/class-name_feature.test
  tests/languages/cpp/operator_feature.test
Labels: enhancement, language-definitions, needs review

#2326 Autoloader: Fixed data-dependencies and extensions
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
Labels: bug, needs review, plugins

#2437 Added docs to ignore
  .npmignore
  bower.json
Labels: enhancement, needs review

#1974 File Highlight & JSONP Highlight update
  plugins/copy-to-clipboard/prism-copy-to-clipboard.js
  plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js
  plugins/file-highlight/prism-file-highlight.js
  plugins/file-highlight/prism-file-highlight.min.js
  plugins/jsonp-highlight/prism-jsonp-highlight.js
  plugins/jsonp-highlight/prism-jsonp-highlight.min.js
  prism.js
Labels: bug, enhancement, needs review, plugins

#2070 Added extra newlines in pretty tokenstream
  tests/helper/prism-loader.js
  tests/helper/test-case.js
  tests/helper/token-stream-transformer.js
  tests/testrunner-tests.js
Labels: enhancement, needs review

#2125 Line Numbers: Improved resize performance
  plugins/line-numbers/prism-line-numbers.js
  plugins/line-numbers/prism-line-numbers.min.js
Labels: enhancement, needs review, plugins

#2440 C/C++: Improved macros and expressions
  components/prism-c.js
  components/prism-c.min.js
  tests/languages/bison/c_feature.test
  tests/languages/c/macro_feature.test
  tests/languages/glsl/macro_feature.test
Labels: enhancement, language-definitions, needs review

#2444 Unescaped Markup: Removed markup requirement
  plugins/unescaped-markup/prism-unescaped-markup.js
  plugins/unescaped-markup/prism-unescaped-markup.min.js
Labels: enhancement, needs review, plugins

#2449 Autoloader: Fix
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
Labels: bug, needs review, plugins
