Repository PrismJS/prism, pull requests merged in 2020-10, with the labels that each got.

#2555 Show Language: Added title for plain text
  gulpfile.js/index.js
  plugins/show-language/index.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
Labels: enhancement, needs review, plugins

#2561 YAML: Improved key pattern
  components/prism-yaml.js
  components/prism-yaml.min.js
  tests/languages/yaml/key_feature.test
Labels: enhancement, language-definitions, needs review

#2574 [PHP] Add `match` keyword in PHP 8.0
  components/prism-php.js
  components/prism-php.min.js
  tests/languages/php/keyword_feature.test
Labels: enhancement, language-definitions, needs changes

#2576 Added new Start Blogging 101 third-party tutorial which replaces former Crambler tutorial
  index.html
Labels: enhancement, website

#2566 feature: support for PHP 7.4 (typehint, return types)
  components/prism-php.js
  components/prism-php.min.js
  tests/languages/latte/html_feature.test
  tests/languages/latte/n-attr_feature.test
  tests/languages/latte/php_feature.test
  tests/languages/markup+php/issue1582.test
  tests/languages/markup+php/php_with_closing_tag_in_markup_feature.test
  tests/languages/php/boolean_feature.test
  tests/languages/php/class-name_feature.test
  tests/languages/php/comment_feature.test
  tests/languages/php/keyword_feature.test
  tests/languages/php/number_feature.test
  tests/languages/php/operators_feature.test
  tests/languages/php/package_feature.test
  tests/languages/php/property_feature.test
  tests/languages/php/punctuation_feature.test
  tests/languages/php/shell-comment_feature.test
  tests/languages/php/string-interpolation_feature.test
  tests/languages/php/string_feature.test
  tests/languages/php/type_feature.test
Labels: enhancement, language-definitions, needs changes

#2567 Java: Added Java 15 keywords
  components/prism-java.js
  components/prism-java.min.js
  tests/languages/java/keyword_feature.test
Labels: enhancement, language-definitions, needs review

#2569 CSS: Better HTML style attribute tokenization
  components/prism-css.js
  components/prism-css.min.js
  prism.js
  tests/languages/markup!+css/css_inclusion.test
  tests/languages/markup+css+wiki/table-tag_feature.test
  tests/languages/php!+css-extras/issue2008.test
Labels: enhancement, language-definitions, needs review

#2591 Added PHP 8.0 features
  components/prism-php.js
  components/prism-php.min.js
  tests/languages/latte/html_feature.test
  tests/languages/latte/n-attr_feature.test
  tests/languages/php/argument-name_feature.test
  tests/languages/php/array_feature.test
  tests/languages/php/attribute_feature.test
  tests/languages/php/class-name_feature.test
  tests/languages/php/delimiter_feature.test
  tests/languages/php/operators_feature.test
  tests/languages/php/type_feature.test
Labels: enhancement, language-definitions, needs changes

#2601 Remove Julia constants that are not exported by default
  components/prism-julia.js
  components/prism-julia.min.js
  tests/languages/julia/constant_feature.test
Labels: enhancement, language-definitions, needs changes

#2605 Line numbers: Fixed null reference
  plugins/line-numbers/prism-line-numbers.js
  plugins/line-numbers/prism-line-numbers.min.js
Labels: bug, needs review, plugins

#2606 Migrate from TravisCI -> GitHub Actions
  .github/workflows/test.yml
  .travis.yml
  README.md
  docs/index.html
Labels: enhancement, needs changes

#2584 Fixed multiple cases of vulnerable REs
  components/prism-asciidoc.js
  components/prism-asciidoc.min.js
  components/prism-bash.js
  components/prism-bash.min.js
  components/prism-batch.js
  components/prism-batch.min.js
  components/prism-csharp.js
  components/prism-csharp.min.js
  components/prism-eiffel.js
  components/prism-eiffel.min.js
  components/prism-elm.js
  components/prism-elm.min.js
  components/prism-fortran.js
  components/prism-fortran.min.js
  components/prism-ftl.js
  components/prism-ftl.min.js
  components/prism-gherkin.js
  components/prism-gherkin.min.js
  components/prism-haml.js
  components/prism-haml.min.js
  components/prism-hcl.js
  components/prism-hcl.min.js
  components/prism-lisp.js
  components/prism-lisp.min.js
  components/prism-lua.js
  components/prism-lua.min.js
  components/prism-neon.js
  components/prism-neon.min.js
  components/prism-nix.js
  components/prism-nix.min.js
  components/prism-php.js
  components/prism-php.min.js
  components/prism-puppet.js
  components/prism-puppet.min.js
  components/prism-q.js
  components/prism-q.min.js
  components/prism-rest.js
  components/prism-rest.min.js
  components/prism-ruby.js
  components/prism-ruby.min.js
  components/prism-sass.js
  components/prism-sass.min.js
  components/prism-scss.js
  components/prism-scss.min.js
  components/prism-shell-session.js
  components/prism-shell-session.min.js
  components/prism-stylus.js
  components/prism-stylus.min.js
  components/prism-swift.js
  components/prism-swift.min.js
  components/prism-tap.js
  components/prism-tap.min.js
  components/prism-textile.js
  components/prism-textile.min.js
  components/prism-xeora.js
  components/prism-xeora.min.js
Labels: enhancement, language-definitions

#2612 Apache: Update directive-flag to match '='
  components/prism-apacheconf.js
  components/prism-apacheconf.min.js
  tests/languages/apacheconf/directive-flags_feature.test
Labels: enhancement, language-definitions, needs changes
