Repository PrismJS/prism, pull requests merged in 2020-03, with the labels that each got.

#2232 Examples: Updated content header
  components.js
  components.json
  examples/prism-clike.html
  examples/prism-opencl.html
  scripts/examples.js
Labels: enhancement, needs review, website

#2231 OpenCL: Require C
  components.js
  components.json
  components/prism-opencl.js
  components/prism-opencl.min.js
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
Labels: enhancement, language-definitions, needs review

#2216 A test for examples
  examples/prism-abap.html
  examples/prism-bro.html
  examples/prism-clojure.html
  examples/prism-concurnas.html
  examples/prism-docker.html
  examples/prism-factor.html
  examples/prism-liquid.html
  examples/prism-markup.html
  examples/prism-mel.html
  examples/prism-opencl.html
  examples/prism-q.html
  examples/prism-renpy.html
  examples/prism-soy.html
  examples/prism-sparql.html
  examples/prism-tap.html
  examples/prism-vala.html
  gulpfile.js/premerge.js
  package-lock.json
  package.json
  tests/examples-test.js
Labels: bug, enhancement, needs review

#2236 Add C++20 keywords
  components/prism-cpp.js
  components/prism-cpp.min.js
  tests/languages/cpp/keyword_feature.test
Labels: enhancement, language-definitions, needs changes

#2242 Tests: Fixed optional dependencies in pattern tests
  tests/pattern-tests.js
Labels: enhancement, needs review

#2219 Added support for Excel formula{e,s}
  components.js
  components.json
  components/prism-excel-formula.js
  components/prism-excel-formula.min.js
  examples/prism-excel-formula.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/excel-formula/cell_feature.test
  tests/languages/excel-formula/function_feature.test
  tests/languages/excel-formula/number_feature.test
  tests/languages/excel-formula/operator_feature.test
  tests/languages/excel-formula/punctuation_feature.test
  tests/languages/excel-formula/range_feature.test
  tests/languages/excel-formula/reference_feature.test
  tests/languages/excel-formula/string_feature.test
Labels: language-definitions, needs review, new language

#2223 Inline color Improvements
  components/prism-css-extras.js
  components/prism-css-extras.min.js
  plugins/inline-color/index.html
  plugins/inline-color/prism-inline-color.css
  plugins/inline-color/prism-inline-color.js
  plugins/inline-color/prism-inline-color.min.js
Labels: enhancement, language-definitions, needs review, plugins

#2220 Test: Added test for zero-width lookbehinds
  tests/pattern-tests.js
Labels: enhancement, needs review

#2248 Add support for DAX
  components.js
  components.json
  components/prism-dax.js
  components/prism-dax.min.js
  examples/prism-dax.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/dax/boolean_feature.test
  tests/languages/dax/comment_feature.test
  tests/languages/dax/datafield_feature.test
  tests/languages/dax/function_feature.test
  tests/languages/dax/keyword_feature.test
  tests/languages/dax/measure_feature.test
  tests/languages/dax/number_feature.test
  tests/languages/dax/operator_feature.test
  tests/languages/dax/string_feature.test
Labels: language-definitions, needs changes, new language

#2250 Add support for Power Query
  components.js
  components.json
  components/prism-powerquery.js
  components/prism-powerquery.min.js
  examples/prism-powerquery.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/powerquery/boolean_feature.test
  tests/languages/powerquery/comment_feature.test
  tests/languages/powerquery/constant_feature.test
  tests/languages/powerquery/datatype_feature.test
  tests/languages/powerquery/function_feature.test
  tests/languages/powerquery/keyword_feature.test
  tests/languages/powerquery/number_feature.test
  tests/languages/powerquery/operator_feature.test
  tests/languages/powerquery/quoted_identifier_feature.test
  tests/languages/powerquery/string_feature.test
Labels: language-definitions, needs changes, new language

#2256 Bash: Added support for escaped quotes
  components/prism-bash.js
  components/prism-bash.min.js
  components/prism-shell-session.js
  components/prism-shell-session.min.js
  tests/languages/bash/string_feature.test
  tests/languages/shell-session/command_string_feature.test
Labels: enhancement, language-definitions, needs review

#2258 Remove self & document from IIFE arguments
  plugins/keep-markup/prism-keep-markup.js
  plugins/keep-markup/prism-keep-markup.min.js
Labels: bug, new plugin

#2246 Travis: Updated NodeJS versions
  .travis.yml
Labels: enhancement, needs review

#2221 Add support for LLVM IR
  components.js
  components.json
  components/prism-llvm.js
  components/prism-llvm.min.js
  examples/prism-llvm.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/llvm/attributes.test
  tests/languages/llvm/example-iterative.test
  tests/languages/llvm/example-recursive.test
  tests/languages/llvm/langref-module-example.test
  tests/languages/llvm/numbers.test
  tests/languages/llvm/string.test
Labels: language-definitions, needs changes, new language

#1444 C# improvements
  components/prism-csharp.js
  components/prism-csharp.min.js
  tests/languages/csharp/attribute_feature.test
  tests/languages/csharp/class-name-declaration_feature.test
  tests/languages/csharp/class-name-variables-parameters_feature.test
  tests/languages/csharp/class-name_feature.test
  tests/languages/csharp/constructor-invocation_feature.test
  tests/languages/csharp/for_feature.test
  tests/languages/csharp/generic-constraint_feature.test
  tests/languages/csharp/generic_feature.test
  tests/languages/csharp/interpolation-string_feature.test
  tests/languages/csharp/issue1365.test
  tests/languages/csharp/issue1371.test
  tests/languages/csharp/keyword_feature.test
  tests/languages/csharp/named-parameter_feature.test
  tests/languages/csharp/namespace_feature.test
  tests/languages/csharp/number_feature.test
  tests/languages/csharp/operator_feature.test
  tests/languages/csharp/range_feature.test
  tests/languages/csharp/return-type_feature.test
  tests/languages/csharp/type-expression_feature.test
  tests/languages/csharp/type-list_feature.test
  tests/languages/csharp/using-directive_feature.test
  tests/languages/t4-cs/block_standard_feature.test
Labels: enhancement, language-definitions, needs review

#2266 C#: Removed invalid strings from example
  examples/prism-csharp.html
Labels: enhancement, needs review, website

#1909 Core: matchGrammar now uses a linked list
  components/prism-core.js
  components/prism-core.min.js
  prism.js
Labels: core, enhancement, needs consensus

#2272 CSS: Fixed url() containing @
  components/prism-css.js
  components/prism-css.min.js
  prism.js
  tests/languages/css/url_feature.test
Labels: enhancement, language-definitions, needs review

#2267 Updated all String.propotype.replace calls for literal strings
  components/prism-csharp.js
  components/prism-csharp.min.js
  components/prism-ftl.js
  components/prism-ftl.min.js
  components/prism-haml.js
  components/prism-haml.min.js
  components/prism-jq.js
  components/prism-jq.min.js
  components/prism-lilypond.js
  components/prism-lilypond.min.js
  components/prism-markdown.js
  components/prism-markdown.min.js
  components/prism-markup.js
  components/prism-markup.min.js
  components/prism-pascaligo.js
  components/prism-pascaligo.min.js
  components/prism-pug.js
  components/prism-pug.min.js
  components/prism-qml.js
  components/prism-qml.min.js
  components/prism-robotframework.js
  components/prism-robotframework.min.js
  components/prism-sas.js
  components/prism-sas.min.js
  components/prism-shell-session.js
  components/prism-shell-session.min.js
  components/prism-yaml.js
  components/prism-yaml.min.js
  components/prism-zig.js
  components/prism-zig.min.js
  plugins/diff-highlight/prism-diff-highlight.js
  plugins/diff-highlight/prism-diff-highlight.min.js
  prism.js
Labels: bug, needs review

#2227 gulp: Inline regex source improvement
  components/prism-csharp.min.js
  components/prism-jq.min.js
  components/prism-markdown.min.js
  components/prism-qml.min.js
  components/prism-robotframework.min.js
  components/prism-shell-session.min.js
  components/prism-yaml.min.js
  gulpfile.js/index.js
  plugins/diff-highlight/prism-diff-highlight.min.js
Labels: enhancement, needs review

#2265 Added treeview plugin
  components.js
  components.json
  plugins/treeview/index.html
  plugins/treeview/prism-treeview.css
  plugins/treeview/prism-treeview.js
  plugins/treeview/prism-treeview.min.js
Labels: needs review, new plugin, plugins

#2277 C#: Fixed keywords in type lists blocking type names
  components/prism-csharp.js
  components/prism-csharp.min.js
  tests/languages/csharp/generic-constraint_feature.test
  tests/languages/csharp/preprocessor_feature.test
  tests/languages/csharp/type-list_feature.test
Labels: enhancement, language-definitions, needs review
