Repository PrismJS/prism, pull requests merged in 2021-03, with the labels that each got.

#2773 Update elixir
  components/prism-elixir.js
  components/prism-elixir.min.js
  tests/languages/elixir/attribute_feature.test
  tests/languages/elixir/capture_feature.test
  tests/languages/elixir/doc_feature.test
  tests/languages/elixir/issue1392.test
  tests/languages/elixir/issue775.test
  tests/languages/elixir/keyword_feature.test
Labels: enhancement, language-definitions, needs changes

#2774 Updated refa + fixed 2 cases of exponential backtracking
  components/prism-asciidoc.js
  components/prism-asciidoc.min.js
  components/prism-perl.js
  components/prism-perl.min.js
  package-lock.json
  package.json
  tests/pattern-tests.js
Labels: dependencies, enhancement, language-definitions, needs review

#2745 Added support for ICU message format
  components.js
  components.json
  components/prism-icu-message-format.js
  components/prism-icu-message-format.min.js
  examples/prism-icu-message-format.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/icu-message-format/arg-skeleton_feature.test
  tests/languages/icu-message-format/choice-style_feature.test
  tests/languages/icu-message-format/plural-style_feature.test
  tests/languages/icu-message-format/select-style_feature.test
Labels: language-definitions, needs review, new language

#2777 Website: Improved basic usage section
  index.html
Labels: docs, enhancement, needs review, website

#2738 Added support for plaintext
  components/prism-core.js
  components/prism-core.min.js
  docs/Prism.hooks.html
  docs/Prism.html
  docs/Prism.languages.html
  docs/Token.html
  docs/global.html
  docs/prism-core.js.html
  gulpfile.js/index.js
  index.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  prism.js
Labels: core, enhancement, language-definitions, needs review

#2702 Markup: Added support for DOM event attributes
  components/prism-css.js
  components/prism-css.min.js
  components/prism-javascript.js
  components/prism-javascript.min.js
  components/prism-jsx.js
  components/prism-jsx.min.js
  components/prism-markup.js
  components/prism-markup.min.js
  prism.js
  tests/languages/markup!+css/css_inclusion.test
  tests/languages/markup!+javascript/javascript_inclusion.test
  tests/languages/markup+css+wiki/table-tag_feature.test
  tests/languages/php!+css-extras/issue2008.test
Labels: enhancement, language-definitions, needs review

#2624 Add rego support
  components.js
  components.json
  components/prism-rego.js
  components/prism-rego.min.js
  examples/prism-rego.html
  tests/languages/rego/boolean_feature.test
  tests/languages/rego/comment_feature.test
  tests/languages/rego/function_feature.test
  tests/languages/rego/keyword_feature.test
  tests/languages/rego/number_feature.test
  tests/languages/rego/operator_feature.test
  tests/languages/rego/property_feature.test
  tests/languages/rego/punctuation_feature.test
  tests/languages/rego/string_feature.test
Labels: language-definitions, new language

#2782 VB.net: Improvements
  components/prism-vbnet.js
  components/prism-vbnet.min.js
  tests/languages/vbnet/issue2781.test
  tests/languages/vbnet/punctuation_feature.test
  tests/languages/vbnet/string_feature.test
Labels: enhancement, language-definitions, needs review

#2802 Add False
  components.js
  components.json
  components/prism-false.js
  components/prism-false.min.js
  examples/prism-false.html
  tests/identifier-test.js
  tests/languages/false/assembler_code_feature.test
  tests/languages/false/character_code_feature.test
  tests/languages/false/comment_feature.test
  tests/languages/false/operator_feature.test
  tests/languages/false/punctuation_feature.test
  tests/languages/false/string_feature.test
  tests/languages/false/variable_feature.test
Labels: language-definitions, needs changes, new language

#2805 Xojo language was completed.
  components/prism-xojo.js
  components/prism-xojo.min.js
  tests/languages/xojo/keyword_feature.test
Labels: enhancement, language-definitions, needs changes

#2784 Copy to clipboard: Removed ClipboardJS dependency
  package-lock.json
  package.json
  plugins/copy-to-clipboard/index.html
  plugins/copy-to-clipboard/prism-copy-to-clipboard.js
  plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js
Labels: dependencies, enhancement, needs review, plugins

#2787 Previewers: Use `classList` instead of `className`
  plugins/previewers/prism-previewers.js
  plugins/previewers/prism-previewers.min.js
Labels: bug, enhancement, needs review, plugins

#2792 Bash: Fixed single-quoted strings
  components/prism-bash.js
  components/prism-bash.min.js
  components/prism-shell-session.js
  components/prism-shell-session.min.js
  tests/languages/bash/assign-left_feature.test
  tests/languages/bash/entities_in_strings_feature.test
  tests/languages/bash/issue2436.test
  tests/languages/bash/string_feature.test
  tests/languages/shell-session/command_string_feature.test
Labels: enhancement, language-definitions, needs review

#2793 Nginx: Complete rewrite
  components.js
  components.json
  components/prism-nginx.js
  components/prism-nginx.min.js
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  tests/languages/nginx/boolean_feature.test
  tests/languages/nginx/comment_feature.test
  tests/languages/nginx/directive_feature.test
  tests/languages/nginx/keyword_feature.test
  tests/languages/nginx/number_feature.test
  tests/languages/nginx/string_feature.test
  tests/languages/nginx/variable_feature.test
Labels: enhancement, language-definitions, needs review

#2789 Copy to Clipboard: Added support for custom styles
  plugins/copy-to-clipboard/index.html
  plugins/copy-to-clipboard/prism-copy-to-clipboard.js
  plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js
Labels: enhancement, needs review, plugins

#2758 Tests: Stricter `components.json` tests
  components.js
  components.json
  tests/dependencies-test.js
Labels: enhancement, needs review

#2807 Xojo: Added last missing Keyword "Selector"
  components/prism-xojo.js
  components/prism-xojo.min.js
  tests/languages/xojo/keyword_feature.test
Labels: enhancement, language-definitions, needs changes

#2798 Language Nevod
  components.js
  components.json
  components/prism-nevod.js
  components/prism-nevod.min.js
  examples/prism-nevod.html
  tests/identifier-test.js
  tests/languages/nevod/comment_feature.test
  tests/languages/nevod/keyword_feature.test
  tests/languages/nevod/operator_feature.test
  tests/languages/nevod/string_feature.test
Labels: language-definitions, needs changes, new language

#2794 Added support for CSV
  components.js
  components.json
  components/prism-csv.js
  components/prism-csv.min.js
  examples/prism-csv.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/csv/value.test
Labels: language-definitions, needs review, new language

#2797 Added support for OpenQasm
  components.js
  components.json
  components/prism-openqasm.js
  components/prism-openqasm.min.js
  examples/prism-openqasm.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/openqasm/class-name_feature.test
  tests/languages/openqasm/comment_feature.test
  tests/languages/openqasm/constant_feature.test
  tests/languages/openqasm/keyword_feature.test
  tests/languages/openqasm/number_feature.test
  tests/languages/openqasm/operator_feature.test
  tests/languages/openqasm/string_feature.test
Labels: language-definitions, needs review, new language

#2796 Added support for Generic log files
  components.js
  components.json
  components/prism-log.js
  components/prism-log.min.js
  examples/prism-log.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/log/_discord.test
  tests/languages/log/_docker.test
  tests/languages/log/_java_stack_trace.test
  tests/languages/log/_minecraft.test
  tests/languages/log/_nginx.test
  tests/languages/log/_npm_console.test
  tests/languages/log/_npm_log.test
  tests/languages/log/_table.test
  tests/languages/log/_tomcat.test
  tests/languages/log/_windows.test
  tests/languages/log/date_feature.test
  tests/languages/log/hash_feature.test
  tests/languages/log/level_feature.test
  tests/languages/log/number_feature.test
  tests/languages/log/path_feature.test
  tests/languages/log/property_feature.test
  tests/languages/log/separator_feature.test
  tests/languages/log/string_feature.test
  tests/languages/log/time_feature.test
  tests/languages/log/url_feature.test
  tests/languages/log/uuid_feature.test
Labels: language-definitions, needs review, new language

#2800 Added support for COBOL
  components.js
  components.json
  components/prism-cobol.js
  components/prism-cobol.min.js
  examples/prism-cobol.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/cobol/boolean_feature.test
  tests/languages/cobol/class-name_feature.test
  tests/languages/cobol/comment_feature.test
  tests/languages/cobol/level_feature.test
  tests/languages/cobol/number_feature.test
  tests/languages/cobol/operator_feature.test
  tests/languages/cobol/punctuation_feature.test
  tests/languages/cobol/string_feature.test
Labels: language-definitions, needs review, new language

#2799 Core: Add `tabindex` to code blocks
  components/prism-core.js
  components/prism-core.min.js
  docs/Prism.hooks.html
  docs/Prism.html
  docs/Token.html
  docs/global.html
  docs/prism-core.js.html
  prism.js
Labels: core, enhancement, needs review

#2785 Website: Added MySQL to "Used by" section
  assets/img/logo-mysql.png
  index.html
Labels: enhancement, needs review, website

#2790 Readme: Added Node and npm version requirements
  README.md
  docs/index.html
Labels: docs, enhancement, needs review

#2788 Plugins: Consistent Prism check
  plugins/autolinker/prism-autolinker.js
  plugins/autolinker/prism-autolinker.min.js
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/command-line/prism-command-line.js
  plugins/command-line/prism-command-line.min.js
  plugins/copy-to-clipboard/prism-copy-to-clipboard.js
  plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js
  plugins/custom-class/prism-custom-class.js
  plugins/custom-class/prism-custom-class.min.js
  plugins/data-uri-highlight/prism-data-uri-highlight.js
  plugins/data-uri-highlight/prism-data-uri-highlight.min.js
  plugins/download-button/prism-download-button.js
  plugins/download-button/prism-download-button.min.js
  plugins/file-highlight/prism-file-highlight.js
  plugins/file-highlight/prism-file-highlight.min.js
  plugins/filter-highlight-all/prism-filter-highlight-all.js
  plugins/filter-highlight-all/prism-filter-highlight-all.min.js
  plugins/highlight-keywords/prism-highlight-keywords.js
  plugins/highlight-keywords/prism-highlight-keywords.min.js
  plugins/inline-color/prism-inline-color.js
  plugins/inline-color/prism-inline-color.min.js
  plugins/jsonp-highlight/prism-jsonp-highlight.js
  plugins/jsonp-highlight/prism-jsonp-highlight.min.js
  plugins/keep-markup/prism-keep-markup.js
  plugins/keep-markup/prism-keep-markup.min.js
  plugins/line-highlight/prism-line-highlight.js
  plugins/line-highlight/prism-line-highlight.min.js
  plugins/line-numbers/prism-line-numbers.js
  plugins/line-numbers/prism-line-numbers.min.js
  plugins/match-braces/prism-match-braces.js
  plugins/match-braces/prism-match-braces.min.js
  plugins/normalize-whitespace/prism-normalize-whitespace.js
  plugins/normalize-whitespace/prism-normalize-whitespace.min.js
  plugins/previewers/prism-previewers.js
  plugins/previewers/prism-previewers.min.js
  plugins/remove-initial-line-feed/prism-remove-initial-line-feed.js
  plugins/remove-initial-line-feed/prism-remove-initial-line-feed.min.js
  plugins/show-invisibles/prism-show-invisibles.js
  plugins/show-invisibles/prism-show-invisibles.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  plugins/toolbar/prism-toolbar.js
  plugins/toolbar/prism-toolbar.min.js
  plugins/treeview/prism-treeview.js
  plugins/treeview/prism-treeview.min.js
  plugins/unescaped-markup/prism-unescaped-markup.js
  plugins/unescaped-markup/prism-unescaped-markup.min.js
  plugins/wpd/prism-wpd.js
  plugins/wpd/prism-wpd.min.js
  prism.js
Labels: enhancement, needs review, plugins

#2764 Add support for Jexl
  components.js
  components.json
  components/prism-jexl.js
  components/prism-jexl.min.js
  examples/prism-jexl.html
  tests/languages/jexl/boolean_feature.test
  tests/languages/jexl/function_feature.test
  tests/languages/jexl/keyword_feature.test
  tests/languages/jexl/number_feature.test
  tests/languages/jexl/operator_feature.test
  tests/languages/jexl/string_feature.test
  tests/languages/jexl/transform_feature.test
Labels: language-definitions, needs changes, new language

#2823 Xojo-Language: Fixed wrong Pattern for "REM" Comments
  components/prism-xojo.js
  components/prism-xojo.min.js
  tests/languages/xojo/comment_feature.test
  tests/languages/xojo/keyword_feature.test
Labels: enhancement, language-definitions, needs changes

#2804 Αdding support for Q# language
  components.js
  components.json
  components/prism-qsharp.js
  components/prism-qsharp.min.js
  examples/prism-qsharp.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/qsharp/comments_feature.test
  tests/languages/qsharp/if_with_function_feature.test
  tests/languages/qsharp/namespace_feature.test
  tests/languages/qsharp/operators_feature.test
  tests/languages/qsharp/variable_assignment_numbers_feature.test
Labels: enhancement, language-definitions, needs changes

#2827 File Highlight: Fixed Prism check
  plugins/file-highlight/prism-file-highlight.js
  plugins/file-highlight/prism-file-highlight.min.js
  prism.js
Labels: bug, plugins, website

#2803 Added support for Coq
  components.js
  components.json
  components/prism-coq.js
  components/prism-coq.min.js
  examples/prism-coq.html
  tests/languages/coq/attribute_feature.test
  tests/languages/coq/comment_feature.test
  tests/languages/coq/keyword_feature.test
  tests/languages/coq/number_feature.test
  tests/languages/coq/operator_feature.test
  tests/languages/coq/punctuation_feature.test
  tests/languages/coq/string_feature.test
Labels: language-definitions, needs review, new language

#2834 Added link to Q&A to issue templates
  .github/ISSUE_TEMPLATE/config.yml
Labels: enhancement

#2831 Added ESLint with minimal config
  .eslintrc.js
  .github/workflows/test.yml
  .npmignore
  assets/code.js
  assets/download.js
  components/prism-abap.js
  components/prism-bsl.js
  components/prism-coffeescript.js
  components/prism-core.js
  components/prism-js-templates.js
  components/prism-naniscript.js
  components/prism-nsis.js
  components/prism-openqasm.js
  components/prism-openqasm.min.js
  components/prism-parser.js
  components/prism-parser.min.js
  components/prism-pure.js
  components/prism-robotframework.js
  components/prism-robotframework.min.js
  dependencies.js
  docs/global.html
  docs/prism-core.js.html
  gulpfile.js/index.js
  package-lock.json
  package.json
  plugins/autolinker/prism-autolinker.js
  plugins/autoloader/prism-autoloader.js
  plugins/jsonp-highlight/prism-jsonp-highlight.js
  plugins/jsonp-highlight/prism-jsonp-highlight.min.js
  plugins/normalize-whitespace/prism-normalize-whitespace.js
  plugins/show-invisibles/prism-show-invisibles.js
  plugins/toolbar/prism-toolbar.js
  plugins/treeview/prism-treeview.js
  plugins/treeview/prism-treeview.min.js
  prism.js
  tests/helper/prism-loader.js
  tests/pattern-tests.js
  tests/plugins/keep-markup/test.js
Labels: enhancement, needs review

#2832 Accept hyphens in bash function names
  components/prism-bash.js
  components/prism-bash.min.js
  tests/languages/bash/function-name_feature.test
Labels: enhancement, language-definitions

#2815 JavaScript: Added hashbang and private getters/setters
  components/prism-javascript.js
  components/prism-javascript.min.js
  prism.js
  tests/languages/javascript/getter-setter_feature.test
  tests/languages/javascript/hashbang_feature.test
Labels: enhancement, language-definitions, needs review
