Repository PrismJS/prism, pull requests merged in 2021-09, with the labels that each got.

#3043 C++: Fixed generic function false positive
  components/prism-cpp.js
  components/prism-cpp.min.js
  tests/languages/cpp/issue3042.test
Labels: enhancement, language-definitions, needs review

#3062 Added support for GN
  components.js
  components.json
  components/prism-gn.js
  components/prism-gn.min.js
  examples/prism-gn.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/gn/boolean_feature.test
  tests/languages/gn/comment_feature.test
  tests/languages/gn/function_feature.test
  tests/languages/gn/number_feature.test
  tests/languages/gn/operator_feature.test
  tests/languages/gn/punctuation_feature.test
  tests/languages/gn/string_feature.test
Labels: language-definitions, needs review, new language

#3048 Shell-session: Fixed command false positives
  components/prism-shell-session.js
  components/prism-shell-session.min.js
  tests/languages/shell-session/command_string_feature.test
  tests/languages/shell-session/issue3047_1.test
  tests/languages/shell-session/issue3047_2.test
Labels: enhancement, language-definitions, needs review

#3049 Highlight Keywords: More documentation
  components.js
  components.json
  plugins/highlight-keywords/index.html
Labels: enhancement, website, needs review

#3051 Added support for Apache Avro IDL
  components.js
  components.json
  components/prism-avro-idl.js
  components/prism-avro-idl.min.js
  examples/prism-avro-idl.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/avro-idl/annotation_feature.test
  tests/languages/avro-idl/class-name_feature.test
  tests/languages/avro-idl/comment_feature.test
  tests/languages/avro-idl/function_feature.test
  tests/languages/avro-idl/keyword_feature.test
  tests/languages/avro-idl/number_feature.test
  tests/languages/avro-idl/operator_feature.test
  tests/languages/avro-idl/punctuation_feature.test
  tests/languages/avro-idl/string_feature.test
Labels: language-definitions, needs review, new language

#3053 Added support for Systemd configuration files
  components.js
  components.json
  components/prism-systemd.js
  components/prism-systemd.min.js
  examples/prism-systemd.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/systemd/boolean_feature.test
  tests/languages/systemd/comment_feature.test
  tests/languages/systemd/key_feature.test
  tests/languages/systemd/section_feature.test
  tests/languages/systemd/value_feature.test
Labels: language-definitions, needs review, new language

#3050 Added support for Mermaid
  components.js
  components.json
  components/prism-mermaid.js
  components/prism-mermaid.min.js
  examples/prism-mermaid.html
  tests/languages/mermaid/arrow_feature.test
  tests/languages/mermaid/comment_feature.test
  tests/languages/mermaid/full_classdiagram.test
  tests/languages/mermaid/full_erdiagram.test
  tests/languages/mermaid/full_flowchart.test
  tests/languages/mermaid/full_sequencediagram.test
  tests/languages/mermaid/full_statediagram.test
  tests/languages/mermaid/inter-arrow-label_feature.test
  tests/languages/mermaid/operator_feature.test
Labels: language-definitions, needs review, new language

#3056 Clojure: Improved tokenization
  components/prism-clojure.js
  components/prism-clojure.min.js
  tests/languages/clojure/function_feature.test
  tests/languages/clojure/number_feature.test
  tests/languages/clojure/operator_and_punctuation.test
  tests/languages/clojure/operator_feature.test
  tests/languages/clojure/punctuation_feature.test
  tests/languages/clojure/symbol_feature.test
Labels: enhancement, language-definitions, needs review

#3054 Added support for GAP (CAS)
  components.js
  components.json
  components/prism-gap.js
  components/prism-gap.min.js
  examples/prism-gap.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/gap/boolean_feature.test
  tests/languages/gap/comment_feature.test
  tests/languages/gap/keyword_feature.test
  tests/languages/gap/number_feature.test
  tests/languages/gap/operator_feature.test
  tests/languages/gap/punctuation_feature.test
  tests/languages/gap/shell_feature.test
  tests/languages/gap/string_feature.test
Labels: language-definitions, needs review, new language

#3055 Added support for Magma (CAS)
  components.js
  components.json
  components/prism-magma.js
  components/prism-magma.min.js
  examples/prism-magma.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/magma/boolean_feature.test
  tests/languages/magma/comment_feature.test
  tests/languages/magma/generator_feature.test
  tests/languages/magma/keyword_feature.test
  tests/languages/magma/number_feature.test
  tests/languages/magma/operator_feature.test
  tests/languages/magma/punctuation_feature.test
  tests/languages/magma/string_feature.test
Labels: language-definitions, needs review, new language

#3058 Tests: Improved detection of empty patterns
  components/prism-asciidoc.js
  components/prism-asciidoc.min.js
  components/prism-promql.js
  components/prism-promql.min.js
  package.json
  tests/pattern-tests.js
Labels: enhancement, needs review

#3078 Fix ReDoS
  components/prism-markup.js
  components/prism-markup.min.js
  prism.js
Labels: enhancement, language-definitions

#3065 Markup: Made most patterns greedy
  components/prism-markup.js
  components/prism-markup.min.js
  prism.js
Labels: enhancement, language-definitions, needs review

#3081 Increase selector specificities of plugin overrides in Twilight theme
  themes/prism-twilight.css
Labels: enhancement, themes, needs changes

#3060 Added support for MAXScript
  components.js
  components.json
  components/prism-maxscript.js
  components/prism-maxscript.min.js
  examples/prism-maxscript.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/maxscript/boolean_feature.test
  tests/languages/maxscript/color_feature.test
  tests/languages/maxscript/comment_feature.test
  tests/languages/maxscript/constant_feature.test
  tests/languages/maxscript/function_feature.test
  tests/languages/maxscript/keyword_feature.test
  tests/languages/maxscript/number_feature.test
  tests/languages/maxscript/operator_feature.test
  tests/languages/maxscript/path_feature.test
  tests/languages/maxscript/punctuation_feature.test
  tests/languages/maxscript/string_feature.test
  tests/languages/maxscript/time_feature.test
Labels: language-definitions, needs review, new language

#3063 Added support for Wren
  components.js
  components.json
  components/prism-wren.js
  components/prism-wren.min.js
  examples/prism-wren.html
  tests/languages/wren/attribute_feature.test
  tests/languages/wren/boolean_feature.test
  tests/languages/wren/class-name_feature.test
  tests/languages/wren/comment_feature.test
  tests/languages/wren/function_feature.test
  tests/languages/wren/hashbang_feature.test
  tests/languages/wren/keyword_feature.test
  tests/languages/wren/number_feature.test
  tests/languages/wren/operator_feature.test
  tests/languages/wren/punctuation_feature.test
  tests/languages/wren/string_feature.test
Labels: language-definitions, needs review, new language

#3064 Added support for ASP.NET Razor
  components.js
  components.json
  components/prism-cshtml.js
  components/prism-cshtml.min.js
  examples/prism-cshtml.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/cshtml/block_feature.test
  tests/languages/cshtml/code-block_feature.test
  tests/languages/cshtml/comment_feature.test
  tests/languages/cshtml/value_feature.test
Labels: language-definitions, needs review, new language

#3068 Added support for Kusto
  components.js
  components.json
  components/prism-kusto.js
  components/prism-kusto.min.js
  examples/prism-kusto.html
  tests/languages/kusto/boolean_feature.test
  tests/languages/kusto/class-name_feature.test
  tests/languages/kusto/command_feature.test
  tests/languages/kusto/comment_feature.test
  tests/languages/kusto/datetime_feature.test
  tests/languages/kusto/function_feature.test
  tests/languages/kusto/keyword_feature.test
  tests/languages/kusto/number_feature.test
  tests/languages/kusto/operator_feature.test
  tests/languages/kusto/punctuation_feature.test
  tests/languages/kusto/string_feature.test
  tests/languages/kusto/verb_feature.test
Labels: language-definitions, needs review, new language

#3087 Add tremor project DSL langauge definitions
  components.js
  components.json
  components/prism-tremor.js
  components/prism-tremor.min.js
  examples/prism-tremor.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/tremor/boolean_feature.test
  tests/languages/tremor/comment_feature.test
  tests/languages/tremor/extractor_feature.test
  tests/languages/tremor/identifier_feature.test
  tests/languages/tremor/keyword_escape_feature.test
  tests/languages/tremor/keyword_feature.test
  tests/languages/tremor/modularity_feature.test
  tests/languages/tremor/number_feature.test
  tests/languages/tremor/operator_feature.test
  tests/languages/tremor/punctuation_feature.test
  tests/languages/tremor/string_feature.test
Labels: language-definitions, needs changes, new language

#3091 Update `eslint-plugin-regexp@1.2.0`
  package-lock.json
  package.json
Labels: dependencies

#3086 Expose highlightLines as Prism.plugins.highlightLines in that plugin
  plugins/line-highlight/prism-line-highlight.js
  plugins/line-highlight/prism-line-highlight.min.js
Labels: enhancement, plugins, needs changes

#3088 Document disableWorkerMessageHandler
  components/prism-core.js
  docs/Prism.hooks.html
  docs/Prism.html
  docs/Prism.languages.html
  docs/Token.html
  docs/global.html
  docs/index.html
  docs/prism-core.js.html
  prism.js
Labels: enhancement, docs, needs changes

#3077 C#: Move everything into the IIFE
  components/prism-csharp.js
  components/prism-csharp.min.js
Labels: enhancement, language-definitions, needs review

#3084 JQ: Improved string performance
  components/prism-jq.js
  components/prism-jq.min.js
Labels: enhancement, language-definitions, needs review

#3085 Coq: Improved attribute pattern performance
  components/prism-coq.js
  components/prism-coq.min.js
Labels: enhancement, language-definitions, needs review

#3090 TSX: Removed parameter token
  components/prism-tsx.js
  components/prism-tsx.min.js
  tests/languages/tsx/issue2594.test
  tests/languages/tsx/issue3089.test
Labels: enhancement, language-definitions, needs review
