Repository PrismJS/prism, pull requests merged in 2021-10, with the labels that each got.

#3057 Core: Fixed type error on null
  components/prism-core.js
  components/prism-core.min.js
  docs/prism-core.js.html
  prism.js
  tests/core/greedy.js
Labels: bug, needs review, core

#2417 New Language: Keepalived configure file
  components.js
  components.json
  components/prism-keepalived.js
  components/prism-keepalived.min.js
  examples/prism-keepalived.html
  examples/prism-nginx.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/keepalived/boolean_feature.test
  tests/languages/keepalived/comment_feature.test
  tests/languages/keepalived/conditional-configuration_feature.test
  tests/languages/keepalived/constant_feature.test
  tests/languages/keepalived/ip_feature.test
  tests/languages/keepalived/path_feature.test
  tests/languages/keepalived/property_feature.test
  tests/languages/keepalived/string_feature.test
  tests/languages/keepalived/variable_feature.test
Labels: language-definitions, needs changes, new language

#3105 Elm: Recognise unicode escapes as valid Char
  components/prism-elm.js
  components/prism-elm.min.js
  tests/languages/elm/char_feature.test
Labels: enhancement, language-definitions, needs changes

#2990 .ino is main file extension for arduino files
  components.js
  components.json
  components/prism-arduino.js
  components/prism-arduino.min.js
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
Labels: enhancement, language-definitions, needs changes

#3073 Added minified CSS
  assets/download.js
  gulpfile.js/index.js
  gulpfile.js/paths.js
  package-lock.json
  package.json
  plugins/autolinker/prism-autolinker.min.css
  plugins/command-line/prism-command-line.min.css
  plugins/diff-highlight/prism-diff-highlight.min.css
  plugins/inline-color/prism-inline-color.min.css
  plugins/line-highlight/prism-line-highlight.min.css
  plugins/line-numbers/prism-line-numbers.min.css
  plugins/match-braces/prism-match-braces.min.css
  plugins/previewers/prism-previewers.min.css
  plugins/show-invisibles/prism-show-invisibles.min.css
  plugins/toolbar/prism-toolbar.min.css
  plugins/treeview/prism-treeview.min.css
  plugins/unescaped-markup/prism-unescaped-markup.min.css
  plugins/wpd/prism-wpd.min.css
  themes/prism-coy.min.css
  themes/prism-dark.min.css
  themes/prism-funky.min.css
  themes/prism-okaidia.min.css
  themes/prism-solarizedlight.min.css
  themes/prism-tomorrow.min.css
  themes/prism-twilight.min.css
  themes/prism.min.css
Labels: enhancement, needs review

#2653 Update prism-pascal.js
  components/prism-pascal.js
  components/prism-pascal.min.js
  tests/languages/pascal/asm_feature.test
  tests/languages/pascal/directive_feature.test
Labels: enhancement, language-definitions, needs changes

#1813 File highlight+data range
  plugins/file-highlight/index.html
  plugins/file-highlight/prism-file-highlight.js
  plugins/file-highlight/prism-file-highlight.min.js
  prism.js
Labels: enhancement, plugins, needs review

#3097 Use `\d` for `[0-9]`
  components/prism-cil.js
  components/prism-cil.min.js
  components/prism-http.js
  components/prism-http.min.js
  components/prism-jsstacktrace.js
  components/prism-jsstacktrace.min.js
  components/prism-mongodb.js
  components/prism-mongodb.min.js
  components/prism-psl.js
  components/prism-psl.min.js
  components/prism-tremor.js
  components/prism-tremor.min.js
  components/prism-typoscript.js
  components/prism-typoscript.min.js
Labels: enhancement

#3100 Smalltalk: Added `boolean` token
  components/prism-smalltalk.js
  components/prism-smalltalk.min.js
  tests/languages/smalltalk/boolean_feature.test
  tests/languages/smalltalk/keyword_feature.test
Labels: enhancement, language-definitions, needs review

#3101 Markdown: Fixed typo in token name
  components/prism-markdown.js
  components/prism-markdown.min.js
  tests/languages/markdown/front-matter-block_feature.test
  tests/languages/yaml+markdown/front-matter_feature.test
Labels: bug, language-definitions, needs review

#3106 Python: Fixed numbers ending with a dot
  components/prism-python.js
  components/prism-python.min.js
  tests/languages/python/number_feature.test
Labels: enhancement, language-definitions, needs review

#2078 Added asmatmel to components.
  components.js
  components.json
  components/prism-asmatmel.js
  components/prism-asmatmel.min.js
  examples/prism-asmatmel.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/asmatmel/comment_feature.test
  tests/languages/asmatmel/constant_feature.test
  tests/languages/asmatmel/directive_feature.test
  tests/languages/asmatmel/number_feature.test
  tests/languages/asmatmel/opcode_feature.test
  tests/languages/asmatmel/operator_feature.test
  tests/languages/asmatmel/register_feature.test
  tests/languages/asmatmel/string_feature.test
Labels: language-definitions, needs changes, new language

#1936 Update test and example pages to use Autoloader
  assets/examples.js
  examples.html
  examples/prism-js-templates.html
  test.html
Labels: enhancement, website, needs changes

#3126 Python: Recognise walrus operator
  components/prism-python.js
  components/prism-python.min.js
  tests/languages/python/operator_feature.test
Labels: enhancement, language-definitions

#3127 TAP: Conform to quoted properties style
  components/prism-tap.js
Labels: enhancement, language-definitions, needs review

#3111 Birb: Fixed class name false positives
  components/prism-birb.js
  components/prism-birb.min.js
  tests/languages/birb/class-name_feature.test
  tests/languages/birb/function_feature.test
  tests/languages/birb/keyword_feature.test
Labels: enhancement, language-definitions

#3112 BSL: Made `directive` greedy
  components/prism-bsl.js
  components/prism-bsl.min.js
  tests/languages/bsl/directive_feature.test
  tests/languages/bsl/punctuation_feature.test
  tests/languages/bsl/string_feature.test
Labels: enhancement, language-definitions, needs review

#3113 Dataweave: Fixed keywords being highlighted as functions
  components/prism-dataweave.js
  components/prism-dataweave.min.js
  tests/languages/dataweave/keywords_feature.test
Labels: enhancement, language-definitions, needs review

#3114 GML: Fixed `operator` token and added tests
  components/prism-gml.js
  components/prism-gml.min.js
  tests/languages/gml/function_feature.test
  tests/languages/gml/keyword_feature.test
  tests/languages/gml/number_feature.test
  tests/languages/gml/operator_feature.test
  tests/languages/gml/variable_feature.test
Labels: enhancement, language-definitions, needs review

#3115 Idris: Fixed import statements
  components/prism-idris.js
  components/prism-idris.min.js
  tests/languages/idris/import_statement_feature.test
  tests/languages/idris/keyword_feature.test
Labels: enhancement, language-definitions, needs review

#3118 Nim: Fixed backtick identifier
  components/prism-nim.js
  components/prism-nim.min.js
  tests/languages/nim/identifier_feature.test
Labels: enhancement, language-definitions, needs review

#3119 Nix: Removed unmatchable token
  components/prism-nix.js
  components/prism-nix.min.js
Labels: enhancement, language-definitions, needs review

#3121 PHP: Removed useless keyword tokens
  components/prism-php.js
  components/prism-php.min.js
  tests/languages/php/class-name_feature.test
Labels: enhancement, language-definitions, needs review

#3122 Powerquery: Removed useless `data-type` alternative
  components/prism-powerquery.js
  components/prism-powerquery.min.js
Labels: enhancement, language-definitions, needs review

#3120 Ocaml: Removed unmatchable punctuation variant
  components/prism-ocaml.js
  components/prism-ocaml.min.js
  tests/languages/ocaml/punctuation_feature.test
Labels: enhancement, language-definitions, needs review

#3123 PureBasic: Fixed token order inside `asm` token
  components/prism-purebasic.js
  components/prism-purebasic.min.js
  tests/languages/purebasic/asm_feature.test
Labels: enhancement, language-definitions, needs review

#3125 Renpy: Improved language + added tests
  components/prism-renpy.js
  components/prism-renpy.min.js
  tests/languages/renpy/boolean_feature.test
  tests/languages/renpy/comment_feature.test
  tests/languages/renpy/function_feature.test
  tests/languages/renpy/keyword_feature.test
  tests/languages/renpy/property_feature.test
  tests/languages/renpy/string_feature.test
  tests/languages/renpy/tag_feature.test
Labels: enhancement, language-definitions, needs review

#3116 JavaStackTrace: Added missing lookbehinds
  components/prism-javastacktrace.js
  components/prism-javastacktrace.min.js
  tests/languages/log!+javastacktrace/_java_stack_trace_inclusion.test
  tests/languages/log!+javastacktrace/_minecraft_javastacktrace_inclusion.test
Labels: enhancement, language-definitions, needs review

#3117 JS stack trace: Added missing boundary assertion
  components/prism-jsstacktrace.js
  components/prism-jsstacktrace.min.js
Labels: enhancement, language-definitions, needs review

#3128 URI: Fixed IPv4 regex
  components/prism-uri.js
  components/prism-uri.min.js
  tests/languages/uri/authority_feature.test
  tests/languages/uri/full.test
Labels: enhancement, language-definitions, needs review

#3129 Zig: Fixed module comments and astral chars
  components/prism-zig.js
  components/prism-zig.min.js
  tests/languages/zig/comment_feature.test
  tests/languages/zig/string_feature.test
Labels: enhancement, language-definitions, needs review

#3124 Regex: Fixed char-class/char-set confusion
  components/prism-regex.js
  components/prism-regex.min.js
  tests/languages/javascript!+regex/regex_inclusion.test
  tests/languages/regex/char-class_feature.test
  tests/languages/regex/char-set_feature.test
  tests/languages/regex/charclass_feature.test
  tests/languages/regex/charset_feature.test
  tests/languages/regex/range_feature.test
Labels: enhancement, language-definitions, needs review

#3130 Lisp: Improved `defun`
  components/prism-lisp.js
  components/prism-lisp.min.js
  tests/languages/lisp/defun_feature.test
  tests/languages/lisp/punctuation_feature.test
Labels: enhancement, language-definitions, needs review

#1969 Added more plugin tests
  package-lock.json
  package.json
  tests/helper/prism-dom-util.js
  tests/helper/prism-loader.js
  tests/plugins/copy-to-clipboard/basic-functionality.js
  tests/plugins/custom-class/basic-functionality.js
  tests/plugins/highlight-keywords/basic-functionality.js
  tests/plugins/keep-markup/test.js
  tests/plugins/show-invisibles/basic-functionality.js
  tests/plugins/show-language/basic-functionality.js
  tests/plugins/unescaped-markup/basic-functionality.js
Labels: enhancement, plugins, needs review

#3132 TypeScript: Removed duplicate keywords
  components/prism-typescript.js
  components/prism-typescript.min.js
  tests/languages/typescript/keyword_feature.test
Labels: enhancement, language-definitions, needs review

#3133 Wolfram: Removed unmatchable punctuation variant
  components/prism-wolfram.js
  components/prism-wolfram.min.js
  tests/languages/wolfram/punctuation_feature.test
Labels: enhancement, language-definitions, needs review

#3134 Maxscript: Fixed booleans not being highlighted
  components/prism-maxscript.js
  components/prism-maxscript.min.js
  tests/languages/maxscript/boolean_feature.test
  tests/languages/maxscript/keyword_feature.test
Labels: enhancement, language-definitions

#3135 Liquid: Removed unmatchable object variants
  components/prism-liquid.js
  components/prism-liquid.min.js
  tests/languages/liquid/object_feature.test
Labels: enhancement, language-definitions

#3137 Added even more language tests
  tests/languages/bicep/property_feature.test
  tests/languages/clojure/string_feature.test
  tests/languages/gn/builtin-function_feature.test
  tests/languages/gn/constant_feature.test
  tests/languages/gn/keyword_feature.test
  tests/languages/graphql/atom-input_feature.test
  tests/languages/graphql/mutation_feature.test
  tests/languages/graphql/scalar_feature.test
  tests/languages/javascript!+js-extras/control-flow_feature.test
  tests/languages/javascript!+js-extras/exports_feature.test
  tests/languages/javascript!+js-extras/nil_feature.test
  tests/languages/magma/shell_feature.test
  tests/languages/tremor/function_feature.test
  tests/languages/wolfram/black_feature.test
  tests/languages/wolfram/context_feature.test
  tests/languages/wolfram/keyword_feature.test
  tests/languages/wren/constant_feature.test
Labels: language-definitions

#3099 JS: Added properties
  components/prism-actionscript.js
  components/prism-actionscript.min.js
  components/prism-javascript.js
  components/prism-javascript.min.js
  components/prism-tsx.js
  components/prism-tsx.min.js
  components/prism-typescript.js
  components/prism-typescript.min.js
  prism.js
  tests/languages/javascript+http/issue2733.test
  tests/languages/javascript/class-method_feature.test
  tests/languages/javascript/function-variable_feature.test
  tests/languages/javascript/function_feature.test
  tests/languages/javascript/keyword_feature.test
  tests/languages/javascript/property_feature.test
  tests/languages/javascript/template-string_feature.test
  tests/languages/jsx/issue1235.test
  tests/languages/jsx/issue1335.test
  tests/languages/jsx/issue1408.test
  tests/languages/mongodb/document_feature.test
  tests/languages/pug/tag_feature.test
Labels: enhancement, language-definitions, needs review

#3141 SQL: Added identifier token
  components/prism-sql.js
  components/prism-sql.min.js
  tests/languages/sql/identifier_feature.test
  tests/languages/sql/issue3140.test
Labels: enhancement, language-definitions, needs review

#3152 ESLint: Added `regexp/prefer-{plus,question,star}-quantifier` rules
  .eslintrc.js
Labels: enhancement, needs review

#3151 ESLint: Added `regexp/no-useless-range` rule
  .eslintrc.js
  components/prism-asmatmel.js
  components/prism-asmatmel.min.js
  components/prism-nim.js
  components/prism-nim.min.js
  components/prism-tremor.js
  components/prism-tremor.min.js
Labels: enhancement, needs review

#3145 Website: Adjusted TOC's line height for better readability
  assets/style.css
Labels: enhancement, website, needs review

#3153 ESLint: Added `regexp/prefer-d` rule
  .eslintrc.js
Labels: enhancement, needs review

#3147 Tests: Added `TestCaseFile` class and generalized `runTestCase`
  tests/helper/test-case.js
  tests/pattern-tests.js
Labels: enhancement, needs review
