Repository PrismJS/prism, pull requests merged in 2021-12, with the labels that each got.

#3239 Readme: Clarify usage of our build system
  README.md
  docs/index.html
Labels: enhancement, docs, needs review

#3222 JSX: Move alias property
  components/prism-jsx.js
  components/prism-jsx.min.js
Labels: enhancement, language-definitions, needs review

#3249 Python: Made `comment` greedy
  components/prism-python.js
  components/prism-python.min.js
Labels: enhancement, language-definitions, needs review

#3230 nginx: Made some patterns greedy
  components/prism-nginx.js
  components/prism-nginx.min.js
Labels: enhancement, language-definitions, needs review

#3214 IO: Simplified comment token
  components/prism-io.js
  components/prism-io.min.js
Labels: enhancement, language-definitions, needs review

#3267 NSIS: Update Regex for constants pattern
  components/prism-nsis.js
  components/prism-nsis.min.js
  tests/languages/nsis/constant_feature.test
Labels: enhancement, language-definitions

#3266 NSIS: Update Regex pattern for variables
  components/prism-nsis.js
  components/prism-nsis.min.js
  tests/languages/nsis/variable_feature.test
Labels: enhancement, language-definitions, needs changes

#3205 G-Code: Use standard-conforming alias for checksum
  components/prism-gcode.js
  components/prism-gcode.min.js
  tests/languages/gcode/checksum_feature.test
Labels: enhancement, language-definitions, needs review

#3207 C: Added `char` token
  components/prism-arduino.js
  components/prism-arduino.min.js
  components/prism-c.js
  components/prism-c.min.js
  tests/languages/bison/char_feature.test
  tests/languages/bison/string_feature.test
  tests/languages/c/char_feature.test
  tests/languages/c/string_feature.test
  tests/languages/objectivec/char_feature.test
  tests/languages/objectivec/string_feature.test
Labels: enhancement, language-definitions, needs review

#3208 Go: Added `char` token and improved `string` and `number` tokens
  components/prism-go.js
  components/prism-go.min.js
  tests/languages/go/char_feature.test
  tests/languages/go/number_feature.test
  tests/languages/go/punctuation_feature.test
  tests/languages/go/string_feature.test
Labels: enhancement, language-definitions, needs review

#3211 Haxe: Improved tokenization
  components.js
  components.json
  components/prism-haxe.js
  components/prism-haxe.min.js
  tests/languages/haxe!+regex/regex_inclusion.test
  tests/languages/haxe/class-name_feature.test
  tests/languages/haxe/function_feature.test
  tests/languages/haxe/keyword_feature.test
  tests/languages/haxe/metadata_feature.test
  tests/languages/haxe/number_feature.test
  tests/languages/haxe/operator_feature.test
  tests/languages/haxe/preprocessor_feature.test
  tests/languages/haxe/punctuation_feature.test
  tests/languages/haxe/regex_feature.test
  tests/languages/haxe/string_feature.test
  tests/languages/purebasic/tag_feature.test
Labels: enhancement, language-definitions, needs review

#3219 JavaStackTrace: Removed unreachable parts of regexes
  components/prism-javastacktrace.js
  components/prism-javastacktrace.min.js
Labels: enhancement, language-definitions, needs review

#3217 Java: Added `char` token
  components/prism-java.js
  components/prism-java.min.js
  tests/languages/java/char_feature.test
  tests/languages/java/generics_feature.test
  tests/languages/java/string_feature.test
  tests/languages/scala/char_feature.test
  tests/languages/scala/string_feature.test
Labels: enhancement, language-definitions, needs review

#3215 J: Made comments greedy
  components/prism-j.js
  components/prism-j.min.js
Labels: enhancement, language-definitions, needs review

#3223 Julia: Added `char` token
  components/prism-julia.js
  components/prism-julia.min.js
  tests/languages/julia/char_feature.test
  tests/languages/julia/string_feature.test
Labels: enhancement, language-definitions, needs review

#3210 HAML: Use `symbol` alias for filter names
  components/prism-haml.js
  components/prism-haml.min.js
Labels: enhancement, language-definitions, needs review

#3212 Hoon: Simplified the language definition a little
  components/prism-hoon.js
  components/prism-hoon.min.js
Labels: enhancement, language-definitions, needs review

#3226 Latte: Use standard token names and combined delimiter tokens
  components/prism-latte.js
  components/prism-latte.min.js
  tests/languages/latte/delimiter_feature.test
  tests/languages/latte/html_feature.test
  tests/languages/latte/php_feature.test
Labels: enhancement, language-definitions, needs review

#3225 Kotlin: Added `char` token and improved string interpolation
  components/prism-kotlin.js
  components/prism-kotlin.min.js
  tests/languages/kotlin/char_feature.test
  tests/languages/kotlin/interpolation_feature.test
  tests/languages/kotlin/raw-string_feature.test
  tests/languages/kotlin/string_feature.test
Labels: enhancement, language-definitions, needs review

#3221 Jolie: Improved tokenization
  components/prism-jolie.js
  components/prism-jolie.min.js
  tests/languages/jolie/builtin_feature.test
  tests/languages/jolie/comment_feature.test
  tests/languages/jolie/deployment_features.test
  tests/languages/jolie/keyword_feature.test
  tests/languages/jolie/operator_feature.test
  tests/languages/jolie/punctuation_feature.test
  tests/languages/jolie/string_feature.test
Labels: enhancement, language-definitions, needs review

#3224 Keyman: Improved tokenization
  components/prism-keyman.js
  components/prism-keyman.min.js
  tests/languages/keyman/atrule_feature.test
  tests/languages/keyman/bold_feature.test
  tests/languages/keyman/compile-target_feature.test
  tests/languages/keyman/function_feature.test
  tests/languages/keyman/header-keyword.test
  tests/languages/keyman/header-statement.test
  tests/languages/keyman/keyword_feature.test
  tests/languages/keyman/operator_feature.test
  tests/languages/keyman/punctuation_feature.test
  tests/languages/keyman/rule-keyword_feature.test
  tests/languages/keyman/structural-keyword_feature.test
  tests/languages/keyman/tag_feature.test
  tests/languages/keyman/virtual-key_feature.test
Labels: enhancement, language-definitions, needs review

#3234 NSIS: Made `comment` greedy
  components/prism-nsis.js
  components/prism-nsis.min.js
Labels: enhancement, language-definitions, needs review

#3209 Added support for `go.mod` files
  components.js
  components.json
  components/prism-go-module.js
  components/prism-go-module.min.js
  examples/prism-go-module.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/go-module/comment_feature.test
  tests/languages/go-module/directives_feature.test
  tests/languages/go-module/keyword_feature.test
  tests/languages/go-module/operator_feature.test
  tests/languages/go-module/punctuation_feature.test
  tests/languages/go-module/version_feature.test
Labels: language-definitions, needs review, new language

#3270 C#: Added `char` token
  components/prism-csharp.js
  components/prism-csharp.min.js
  tests/languages/csharp/char_feature.test
  tests/languages/csharp/string_feature.test
Labels: enhancement, language-definitions, needs review

#3272 editorconfig: Swap out `property` for `key`; alias with `attr-name`
  components/prism-editorconfig.js
  components/prism-editorconfig.min.js
  tests/languages/editorconfig/key_value_feature.test
Labels: enhancement, language-definitions

#3271 F#: Added `char` token
  components/prism-fsharp.js
  components/prism-fsharp.min.js
  tests/languages/fsharp/char_feature.test
  tests/languages/fsharp/string_feature.test
Labels: enhancement, language-definitions, needs review

#3227 Makefile: Use standard token names correctly
  components/prism-makefile.js
  components/prism-makefile.min.js
  tests/languages/makefile/builtin-target_feature.test
  tests/languages/makefile/builtin_feature.test
  tests/languages/makefile/function_feature.test
  tests/languages/makefile/keyword_feature.test
  tests/languages/makefile/symbol_feature.test
  tests/languages/makefile/target_feature.test
Labels: enhancement, language-definitions, needs review

#3259 Twig: Improved tokenization
  components.js
  components.json
  components/prism-twig.js
  components/prism-twig.min.js
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  tests/languages/twig+pug/twig_inclusion.test
  tests/languages/twig/boolean_feature.test
  tests/languages/twig/comment_feature.test
  tests/languages/twig/keyword_feature.test
  tests/languages/twig/markup_feature.test
  tests/languages/twig/number_feature.test
  tests/languages/twig/operator_feature.test
  tests/languages/twig/string_feature.test
Labels: enhancement, language-definitions, needs review

#3232 Nix: Use standard token name correctly
  components/prism-nix.js
  components/prism-nix.min.js
Labels: enhancement, language-definitions, needs review

#3228 Monkey: Use standard tokens correctly
  components/prism-monkey.js
  components/prism-monkey.min.js
Labels: enhancement, language-definitions, needs review

#3229 N1QL: Updated keywords + minor improvements
  components/prism-n1ql.js
  components/prism-n1ql.min.js
  tests/languages/n1ql/comment_feature.test
  tests/languages/n1ql/keyword_feature.test
Labels: enhancement, language-definitions, needs review

#3238 Stan: Added missing keywords and HOFs
  components/prism-stan.js
  components/prism-stan.min.js
  tests/languages/stan/keyword_feature.test
  tests/languages/stan/number_feature.test
  tests/languages/stan/program-block_feature.html.test
Labels: enhancement, language-definitions, needs review

#3235 Objective C: Improved `string` token
  components/prism-objectivec.js
  components/prism-objectivec.min.js
  tests/languages/objectivec/char_feature.test
Labels: enhancement, language-definitions, needs review

#3231 Nim: Added `char` token and made some tokens greedy
  components/prism-nim.js
  components/prism-nim.min.js
  tests/languages/nim/char_feature.test
  tests/languages/nim/function_feature.test
  tests/languages/nim/string_feature.test
Labels: enhancement, language-definitions, needs review

#3258 Pug: Improved filter tokenization
  components/prism-pug.js
  components/prism-pug.min.js
  tests/languages/coffeescript+pug/coffeescript_inclusion.test
  tests/languages/ejs+pug/ejs_inclusion.test
  tests/languages/handlebars+pug/handlebars_inclusion.test
  tests/languages/less+pug/less_inclusion.test
  tests/languages/livescript+pug/livescript_inclusion.test
  tests/languages/markdown+pug/markdown_inclusion.test
  tests/languages/pug/filter_feature.test
  tests/languages/scss+pug/scss_inclusion.test
  tests/languages/stylus+pug/stylus_inclusion.test
  tests/languages/twig+pug/twig_inclusion.test
Labels: enhancement, language-definitions, needs review

#3248 PSL: Added `boolean` token
  components/prism-psl.js
  components/prism-psl.min.js
  tests/languages/psl/boolean_feature.test
  tests/languages/psl/constant_feature.test
Labels: enhancement, language-definitions, needs review

#3240 OZ: Improved tokenization
  components/prism-oz.js
  components/prism-oz.min.js
  tests/languages/oz/attr-name_feature.test
  tests/languages/oz/variable_feature.test
Labels: enhancement, language-definitions, needs review

#3243 PHP extras: Improved `scope` and `this`
  components/prism-php-extras.js
  components/prism-php-extras.min.js
Labels: enhancement, language-definitions, needs review

#3244 Powerquery: Improved tokenization and use standard tokens correctly
  components/prism-powerquery.js
  components/prism-powerquery.min.js
  tests/languages/powerquery/string_feature.test
Labels: enhancement, language-definitions, needs review

#3245 Powershell: Fixed lookbehind + refactoring
  components/prism-powershell.js
  components/prism-powershell.min.js
Labels: enhancement, language-definitions, needs review

#3246 Processing: Use standard tokens correctly
  components/prism-processing.js
  components/prism-processing.min.js
Labels: enhancement, language-definitions, needs review

#3250 QML: Made `string` greedy
  components/prism-qml.js
  components/prism-qml.min.js
Labels: enhancement, language-definitions, needs review

#3257 Tremor: Use standard `regex` token
  components/prism-tremor.js
  components/prism-tremor.min.js
  tests/languages/tremor/extractor_feature.test
Labels: enhancement, language-definitions, needs review

#3256 Squirrel: Use standard `char` token
  components/prism-squirrel.js
  components/prism-squirrel.min.js
  tests/languages/squirrel/char_feature.test
  tests/languages/squirrel/string_feature.test
Labels: enhancement, language-definitions, needs review

#3254 Scheme: Use standard `char` token
  components/prism-scheme.js
  components/prism-scheme.min.js
  tests/languages/racket/char_feature.test
  tests/languages/racket/character_feature.test
  tests/languages/scheme/char_feature.test
  tests/languages/scheme/character_feature.test
Labels: enhancement, language-definitions, needs review

#3247 Prolog: Removed variable token + minor improvements
  components/prism-prolog.js
  components/prism-prolog.min.js
  tests/languages/prolog/variable_feature.test
Labels: enhancement, language-definitions, needs review

#3260 V: Use standard `char` token
  components/prism-v.js
  components/prism-v.min.js
  tests/languages/v/char_feature.test
  tests/languages/v/string_feature.test
Labels: enhancement, language-definitions, needs review

#3253 Rust: Improved `type-definition` and use standard tokens correctly
  components/prism-rust.js
  components/prism-rust.min.js
  tests/languages/rust/class-name_feature.test
  tests/languages/rust/keyword_feature.test
Labels: enhancement, language-definitions, needs review

#3251 Reason: Use standard tokens correctly
  components/prism-reason.js
  components/prism-reason.min.js
  tests/languages/reason/char_feature.test
  tests/languages/reason/character_feature.test
Labels: enhancement, language-definitions, needs review

#3279 Zig: Added missing keywords
  components/prism-zig.js
  components/prism-zig.min.js
  tests/languages/zig/keyword_feature.test
Labels: enhancement, language-definitions, needs review

#3262 Visual Basic: Simplify regexes and use more common aliases
  components/prism-visual-basic.js
  components/prism-visual-basic.min.js
Labels: enhancement, language-definitions, needs review

#3263 Xojo: Proper token name for directives
  components/prism-xojo.js
  components/prism-xojo.min.js
  tests/languages/xojo/directive_feature.test
  tests/languages/xojo/symbol_feature.test
Labels: enhancement, language-definitions, needs review

#3269 OCaml: Improved tokenization
  components/prism-ocaml.js
  components/prism-ocaml.min.js
  tests/languages/ocaml/char_feature.test
  tests/languages/ocaml/module_feature.test
  tests/languages/ocaml/number_feature.test
  tests/languages/ocaml/operator_feature.test
  tests/languages/ocaml/punctuation_feature.test
  tests/languages/ocaml/string_feature.test
Labels: enhancement, language-definitions, needs review

#3268 Smarty: Improved tokenization
  components.js
  components.json
  components/prism-smarty.js
  components/prism-smarty.min.js
  tests/languages/smarty!+php/inclusion.test
  tests/languages/smarty/attr-name_feature.test
  tests/languages/smarty/booelan_feature.test
  tests/languages/smarty/comment_feature.test
  tests/languages/smarty/function_feature.test
  tests/languages/smarty/keyword_feature.test
  tests/languages/smarty/operator_feature.test
  tests/languages/smarty/php_feature.test
  tests/languages/smarty/punctuation_feature.test
  tests/languages/smarty/string_feature.test
  tests/languages/smarty/variable_feature.test
Labels: enhancement, language-definitions, needs review

#3276 CSP: Improved tokenization
  components/prism-csp.js
  components/prism-csp.min.js
  tests/languages/csp/directive_no_value_feature.test
  tests/languages/csp/directive_with_source_expression_feature.test
  tests/languages/csp/hash_feature.test
  tests/languages/csp/host_feature.test
  tests/languages/csp/issue2661.test
  tests/languages/csp/keyword_safe_feature.html.test
  tests/languages/csp/keyword_unsafe_feature.html.test
  tests/languages/csp/nonce_feature.test
  tests/languages/csp/none_feature.test
  tests/languages/csp/safe_feature.test
  tests/languages/csp/scheme_feature.test
  tests/languages/csp/unsafe_feature.test
Labels: enhancement, language-definitions, needs review

#3277 HSTS: Improved tokenization
  components/prism-hsts.js
  components/prism-hsts.min.js
  tests/languages/hsts/max-age_feature.test
  tests/languages/hsts/safe_maxage_feature.test
  tests/languages/hsts/unsafe_maxage_feature.test
Labels: enhancement, language-definitions, needs review

#3278 HPKP: Improved tokenization
  components/prism-hpkp.js
  components/prism-hpkp.min.js
  tests/languages/hpkp/max-age_feature.test
  tests/languages/hpkp/safe_maxage_feature.test
  tests/languages/hpkp/sha256_pin_feature.test
  tests/languages/hpkp/unsafe_maxage_feature.test
Labels: enhancement, language-definitions, needs review

#3275 HTTP: Added support for special header value tokenization
  components.js
  components.json
  components/prism-http.js
  components/prism-http.min.js
  tests/languages/css+http/css_inclusion.test
  tests/languages/http!+csp/inclusion.test
  tests/languages/http!+hpkp/inclusion.test
  tests/languages/http!+hsts/inclusion.test
  tests/languages/http/header-name_feature.test
  tests/languages/http/header_feature.test
  tests/languages/http/text-plain_feature.test
  tests/languages/javascript+http/issue2733.test
  tests/languages/javascript+http/javascript_inclusion.test
  tests/languages/json+http/issue2733.test
  tests/languages/json+http/issue3168.test
  tests/languages/json+http/json-suffix_inclusion.test
  tests/languages/json+http/json_inclusion.test
  tests/languages/markup+http/html_inclusion.test
  tests/languages/markup+http/issue2733.test
  tests/languages/markup+http/text-xml_inclusion.test
  tests/languages/markup+http/xml-suffix_inclusion.test
  tests/languages/markup+http/xml_inclusion.test
Labels: enhancement, language-definitions, needs review

#3285 Fixed cdn usage on docs
  index.html
Labels: enhancement, website
