Repository PrismJS/prism, pull requests merged in 2021-07, with the labels that each got.

#2977 Markdown: Fixed markdown not working in NodeJS
  components/prism-markdown.js
  components/prism-markdown.min.js
  tests/languages/markdown/code-block_feature.js
Labels: bug, language-definitions, needs review

#2980 Toolbar: Fixed styles being applies to nested elements
  plugins/toolbar/prism-toolbar.css
Labels: bug, needs review, plugins

#2970 C#: Added context check for `from` keyword
  components/prism-csharp.js
  components/prism-csharp.min.js
  tests/languages/csharp/issue2968.test
  tests/languages/csharp/keyword_feature.test
Labels: enhancement, language-definitions, needs review

#2978 components: add hoon programming language
  components.js
  components.json
  components/prism-hoon.js
  components/prism-hoon.min.js
  examples/prism-hoon.html
  tests/identifier-test.js
  tests/languages/hoon/comments_and_leaves.test
  tests/languages/hoon/core_with_arms.test
  tests/languages/hoon/nested_strings.test
Labels: language-definitions, needs changes, new language

#2988 Add support for async, await, nonisolated, actor in Swift
  components/prism-swift.js
  components/prism-swift.min.js
  tests/languages/swift/keyword_feature.test
Labels: enhancement, language-definitions

#2991 Adding keyword 'record' 'init' 'nullable' (new syntax of C# 8, 9)
  components/prism-csharp.js
  components/prism-csharp.min.js
  tests/languages/csharp/issue2991.test
  tests/languages/csharp/keyword_feature.test
  tests/languages/csharp/preprocessor_feature.test
Labels: enhancement, language-definitions, needs changes

#2960 Tests: Insert expected JSON by default
  test-suite.html
  tests/run.js
Labels: enhancement, needs review

#2997 Liquid: add simple empty keyword
  components/prism-liquid.js
  components/prism-liquid.min.js
  tests/languages/liquid/empty_feature.test
Labels: enhancement, language-definitions

#2998 Liquid: add all objects from Shopify reference
  components/prism-liquid.js
  components/prism-liquid.min.js
  tests/languages/liquid/function_feature.test
  tests/languages/liquid/object_feature.test
  tests/languages/liquid/template_feature.test
Labels: enhancement, language-definitions

#2994 Sass: Fixed issues with CSS Extras
  components.js
  components.json
  components/prism-css-extras.js
  components/prism-css-extras.min.js
  components/prism-sass.js
  components/prism-sass.min.js
  tests/languages/css+css-extras+sass/issue2992.test
Labels: enhancement, language-definitions, needs review

#2993 C#: Added `with` keyword & improved record support
  components/prism-csharp.js
  components/prism-csharp.min.js
  tests/languages/csharp/class-name-declaration_feature.test
  tests/languages/csharp/issue2991.test
  tests/languages/csharp/keyword_feature.test
  tests/languages/csharp/type-list_feature.test
Labels: enhancement, language-definitions, needs review

#3001 TypeScript: Fixed keyword false positives
  components/prism-typescript.js
  components/prism-typescript.min.js
  tests/languages/typescript/issue3000.test
Labels: bug, language-definitions, needs review

#3002 hoon: fix mixed-case aura tokenisation
  components/prism-hoon.js
  components/prism-hoon.min.js
  tests/languages/hoon/comments_and_leaves.test
  tests/languages/hoon/nested_strings.test
Labels: enhancement, language-definitions, needs changes

#3005 ∀ is a keyword and alias for forall in PureScript
  components/prism-purescript.js
  components/prism-purescript.min.js
  tests/languages/purescript/keyword_feature.test
Labels: enhancement, language-definitions, needs changes

#3010 Add support for the percent sign as shell symbol
  components/prism-shell-session.js
  components/prism-shell-session.min.js
  tests/languages/shell-session/info_feature.test
Labels: enhancement, language-definitions, needs changes

#3009 Add support for @propertyWrapper, @MainActor, @globalActor
  components/prism-swift.js
  components/prism-swift.min.js
  tests/languages/swift/atrule_feature.test
Labels: enhancement, language-definitions, needs changes

#3020 Improved Haskell and PureScript
  components/prism-haskell.js
  components/prism-haskell.min.js
  components/prism-purescript.js
  components/prism-purescript.min.js
  tests/languages/haskell/constant_feature.test
  tests/languages/haskell/hvariable_feature.test
  tests/languages/haskell/import_statement_feature.test
  tests/languages/haskell/operator_feature.test
  tests/languages/idris/constant_feature.test
  tests/languages/idris/hvariable_feature.test
  tests/languages/idris/import_statement_feature.test
  tests/languages/idris/operator_feature.test
  tests/languages/purescript/constant_feature.test
  tests/languages/purescript/hvariable_feature.test
  tests/languages/purescript/import_statement_feature.test
  tests/languages/purescript/issue3006.test
  tests/languages/purescript/operator_feature.test
Labels: enhancement, language-definitions, needs review
