Repository PrismJS/prism, pull requests merged in 2021-01, with the labels that each got.

#2686 Shell session: Commands prefixed with a path are now detected
  components/prism-shell-session.js
  components/prism-shell-session.min.js
  tests/languages/shell-session/issue2685.test
Labels: enhancement, language-definitions, needs review

#2683 Update index.html
  index.html
Labels: enhancement, website

#2691 JSON: Fixed backtracking issue in Safari
  components/prism-json.js
  components/prism-json.min.js
Labels: enhancement, language-definitions, needs review

#2693 Scheme: Added support for high Unicode characters
  components/prism-scheme.js
  components/prism-scheme.min.js
  tests/languages/scheme/character_feature.test
Labels: enhancement, language-definitions, needs review

#2701 [PHP] Numeral syntax improvements
  components/prism-php.js
  components/prism-php.min.js
  tests/languages/php/number_feature.test
Labels: enhancement, language-definitions

#2704 SQL: added `ILIKE` operator to sql keyword list
  components/prism-sql.js
  components/prism-sql.min.js
  tests/languages/sql/operator_feature.test
Labels: enhancement, language-definitions, needs changes

#2687 Add support for V langauge
  components.js
  components.json
  components/prism-v.js
  components/prism-v.min.js
  examples/prism-v.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  tests/languages/v/boolean_feature.test
  tests/languages/v/class-name_feature.test
  tests/languages/v/function_feature.test
  tests/languages/v/keyword_feature.test
  tests/languages/v/number_feature.test
  tests/languages/v/operator_feature.test
  tests/languages/v/string_feature.test
Labels: language-definitions, needs changes, new language

#2711 HTTP: Allow root path in request-line (#2710)
  components/prism-http.js
  components/prism-http.min.js
  tests/languages/http/request-line_feature.test
Labels: enhancement, language-definitions, needs changes

#2690 Added support for DOT
  components.js
  components.json
  components/prism-dot.js
  components/prism-dot.min.js
  examples/prism-dot.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/dot!+markup/attribute_feature.test
  tests/languages/dot/attribute_feature.test
  tests/languages/dot/comment_feature.test
  tests/languages/dot/graph-name_feature.test
  tests/languages/dot/keyword_feature.test
  tests/languages/dot/node_feature.test
  tests/languages/dot/operator_feature.test
  tests/languages/dot/punctuation_feature.test
Labels: language-definitions, needs review, new language

#2703 F#: Fixed comment false positive
  components/prism-fsharp.js
  components/prism-fsharp.min.js
  tests/languages/fsharp/comment_feature.test
  tests/languages/fsharp/issue2696.test
Labels: enhancement, language-definitions, needs review

#2725 Copy to clipboard: Fixed highlighting.
  plugins/copy-to-clipboard/index.html
Labels: enhancement, website

#2722 more detail in HTTP language #2718
  components/prism-http.js
  components/prism-http.min.js
  tests/languages/http/request-line_feature.test
  tests/languages/http/response-status_feature.test
Labels: enhancement, language-definitions, needs changes

#2731 fix: bug #2614 class-name is now matched before keyword
  components/prism-php.js
  components/prism-php.min.js
  tests/languages/php/attribute_feature.test
  tests/languages/php/class-name_feature.test
  tests/languages/php/issue2614.test
Labels: enhancement, language-definitions, needs changes

#2706 Added support for ChaiScript
  components.js
  components.json
  components/prism-chaiscript.js
  components/prism-chaiscript.min.js
  examples/prism-chaiscript.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  tests/languages/chaiscript/boolean_feature.test
  tests/languages/chaiscript/comment_feature.test
  tests/languages/chaiscript/function_feature.test
  tests/languages/chaiscript/keyword_feature.test
  tests/languages/chaiscript/number_feature.test
  tests/languages/chaiscript/operator_feature.test
  tests/languages/chaiscript/punctuation_feature.test
  tests/languages/chaiscript/string_feature.test
Labels: language-definitions, needs review, new language

#2705 Core: Fixed greedy rematching reach bug
  components/prism-core.js
  components/prism-core.min.js
  docs/global.html
  docs/prism-core.js.html
  prism.js
  tests/languages/javascript/issue2694.test
Labels: bug, core, needs review

#2708 Added support for URIs
  components.js
  components.json
  components/prism-http.js
  components/prism-http.min.js
  components/prism-uri.js
  components/prism-uri.min.js
  examples/prism-uri.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/http!+uri/request-line_feature.test
  tests/languages/http/request-line_feature.test
  tests/languages/uri/authority_feature.test
  tests/languages/uri/full.test
  tests/languages/uri/query_feature.test
  tests/languages/uri/relative.test
  tests/languages/uri/scheme_feature.test
Labels: enhancement, language-definitions, needs review, new language

#2739 Add support for PSL, PATROL Scripting Language (#2735)
  components.js
  components.json
  components/prism-psl.js
  components/prism-psl.min.js
  examples/prism-psl.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/psl/builtin_feature.test
  tests/languages/psl/comment_feature.test
  tests/languages/psl/constant_feature.test
  tests/languages/psl/function-foreach_feature.test
  tests/languages/psl/heredoc_feature.test
  tests/languages/psl/keyword_feature.test
  tests/languages/psl/number_feature.test
  tests/languages/psl/operator_feature.test
  tests/languages/psl/overall_feature.test
  tests/languages/psl/string_feature.test
  tests/languages/psl/variable_feature.test
Labels: language-definitions, needs changes, new language

#2720 Docker: Improvements
  components/prism-docker.js
  components/prism-docker.min.js
  tests/languages/docker/instruction_feature.test
  tests/languages/docker/keyword_feature.test
  tests/languages/docker/options_feature.test
  tests/languages/docker/string_feature.test
  tests/languages/docker/variable_feature.test
Labels: enhancement, language-definitions, needs review

#2713 JS: Improved contextual keywords
  components/prism-javascript.js
  components/prism-javascript.min.js
  prism.js
  tests/languages/javascript/keyword_feature.test
Labels: enhancement, language-definitions, needs review

#2728 JSX: Added support for comments
  components/prism-jsx.js
  components/prism-jsx.min.js
  tests/languages/jsx/issue2727.test
Labels: enhancement, language-definitions, needs review

#2719 Markdown: Workaround for double `wrap` hook
  components/prism-markdown.js
  components/prism-markdown.min.js
Labels: bug, language-definitions, needs review

#2721 Added support for Squirrel
  components.js
  components.json
  components/prism-squirrel.js
  components/prism-squirrel.min.js
  examples/prism-squirrel.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  tests/languages/squirrel/attribute_feature.test
  tests/languages/squirrel/boolean_feature.test
  tests/languages/squirrel/class-name_feature.test
  tests/languages/squirrel/comment_feature.test
  tests/languages/squirrel/function_feature.test
  tests/languages/squirrel/keyword_feature.test
  tests/languages/squirrel/number_feature.test
  tests/languages/squirrel/operator_feature.test
  tests/languages/squirrel/punctuation_feature.test
  tests/languages/squirrel/string_feature.test
Labels: language-definitions, needs review, new language

#2723 Make copy-to-clipboard configurable with multiple attributes
  plugins/copy-to-clipboard/index.html
  plugins/copy-to-clipboard/prism-copy-to-clipboard.js
  plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js
Labels: enhancement, needs review, plugins
