Repository PrismJS/prism, pull requests merged in 2021-08, with the labels that each got.

#3017 Normalize Whitespace: Removed unnecessary checks
  plugins/normalize-whitespace/prism-normalize-whitespace.js
  plugins/normalize-whitespace/prism-normalize-whitespace.min.js
Labels: enhancement, needs review, plugins

#3011 extend line highlight to full line when nested inside scroll container
  plugins/line-highlight/prism-line-highlight.js
  plugins/line-highlight/prism-line-highlight.min.js
Labels: enhancement, needs changes, plugins

#3027 feat: add Bicep support
  components.js
  components.json
  components/prism-bicep.js
  components/prism-bicep.min.js
  examples/prism-bicep.html
  tests/languages/bicep/boolean_feature.test
  tests/languages/bicep/decorator_feature.test
  tests/languages/bicep/function_feature.test
  tests/languages/bicep/keyword_feature.test
  tests/languages/bicep/number_feature.test
  tests/languages/bicep/operator_feature.test
  tests/languages/bicep/string_feature.test
  tests/languages/bicep/var_feature.test
Labels: language-definitions, needs changes, new language

#3003 Log: Added support for Java stack traces
  components.js
  components.json
  components/prism-log.js
  components/prism-log.min.js
  tests/languages/log!+javastacktrace/_hadoop_javastacktrace_inclusion.test
  tests/languages/log!+javastacktrace/_java_stack_trace_inclusion.test
  tests/languages/log!+javastacktrace/_minecraft_javastacktrace_inclusion.test
  tests/languages/log!+javastacktrace/exception_javastacktrace_inclusion.test
  tests/languages/log/_hadoop.test
  tests/languages/log/_java_stack_trace.test
  tests/languages/log/_minecraft.test
  tests/languages/log/exception_feature.test
Labels: enhancement, language-definitions, needs review

#3028 Bicep: Resolved TODO + improvements
  components/prism-bicep.js
  components/prism-bicep.min.js
  tests/languages/bicep/comment_feature.test
  tests/languages/bicep/datatype_feature.test
  tests/languages/bicep/decorator_feature.test
  tests/languages/bicep/function_feature.test
  tests/languages/bicep/keyword_feature.test
  tests/languages/bicep/string_feature.test
  tests/languages/bicep/var_feature.test
Labels: enhancement, language-definitions, needs review

#3022 Swift: Major improvements
  components.js
  components.json
  components/prism-swift.js
  components/prism-swift.min.js
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  tests/languages/swift/atrule_feature.test
  tests/languages/swift/attribute_feature.test
  tests/languages/swift/builtin_feature.test
  tests/languages/swift/class-name_feature.test
  tests/languages/swift/comment_feature.test
  tests/languages/swift/constant_feature.test
  tests/languages/swift/directive_feature.test
  tests/languages/swift/function_feature.test
  tests/languages/swift/keyword_feature.test
  tests/languages/swift/label_feature.test
  tests/languages/swift/literal_feature.test
  tests/languages/swift/omit_feature.test
  tests/languages/swift/operator_feature.test
  tests/languages/swift/punctuation_feature.test
  tests/languages/swift/short-argument_feature.test
  tests/languages/swift/string_feature.test
Labels: enhancement, language-definitions, needs review

#3018 JSONP Highlight: Refactored JSONP logic
  plugins/jsonp-highlight/prism-jsonp-highlight.js
  plugins/jsonp-highlight/prism-jsonp-highlight.min.js
Labels: enhancement, plugins, needs review

#3033 Update refa, regexpp, and scslre
  package-lock.json
  package.json
Labels: dependencies

#3037 Updated `eslint-plugin-regexp@1.0.0`
  .eslintrc.js
  components/prism-ftl.js
  components/prism-hoon.js
  components/prism-hoon.min.js
  components/prism-latte.js
  components/prism-latte.min.js
  components/prism-lisp.js
  components/prism-lisp.min.js
  package-lock.json
  package.json
Labels: dependencies

#3039 Support for underscores in Python numbers #3038
  components/prism-python.js
  components/prism-python.min.js
  tests/languages/python/number_feature.test
Labels: enhancement, language-definitions, needs changes

#2153 Added benchmark suite
  .eslintrc.js
  .gitignore
  .npmignore
  benchmark.html
  benchmark/benchmark.js
  benchmark/config.js
  bower.json
  package-lock.json
  package.json
Labels: needs review
