Repository PrismJS/prism, pull requests merged in 2021-11, with the labels that each got.

#3164 Website: Use Keep markup to highlight code section
  assets/style.css
  index.html
Labels: enhancement, website, needs review

#3167 Core: Added `setLanguage` util function
  components/prism-core.js
  components/prism-core.min.js
  docs/Prism.hooks.html
  docs/Prism.html
  docs/Prism.languages.html
  docs/Token.html
  docs/global.html
  docs/prism-core.js.html
  plugins/file-highlight/prism-file-highlight.js
  plugins/file-highlight/prism-file-highlight.min.js
  prism.js
Labels: enhancement, needs review, core

#3169 HTTP: Relax pattern for body
  components/prism-http.js
  components/prism-http.min.js
  tests/languages/css+http/css_inclusion.test
  tests/languages/javascript+http/issue2733.test
  tests/languages/javascript+http/javascript_inclusion.test
  tests/languages/json+http/issue2733.test
  tests/languages/json+http/issue3168.test
  tests/languages/json+http/json-suffix_inclusion.test
  tests/languages/json+http/json_inclusion.test
  tests/languages/markup+http/html_inclusion.test
  tests/languages/markup+http/issue2733.test
  tests/languages/markup+http/text-xml_inclusion.test
  tests/languages/markup+http/xml-suffix_inclusion.test
  tests/languages/markup+http/xml_inclusion.test
Labels: enhancement, language-definitions, needs review

#3166 Keep Markup: Added `drop-tokens` option class
  plugins/keep-markup/index.html
  plugins/keep-markup/prism-keep-markup.js
  plugins/keep-markup/prism-keep-markup.min.js
  tests/plugins/keep-markup/test.js
Labels: bug, plugins, needs review

#3178 Website: Fixed red highlighting in Firefox
  assets/style.css
Labels: bug, website, needs review

#3177 Website: Improved readability
  assets/style.css
Labels: enhancement, website, needs review

#3191 Haml: Improved filter and interpolation tokenization
  components/prism-haml.js
  components/prism-haml.min.js
  tests/languages/coffeescript+haml/coffeescript_inclusion.test
  tests/languages/css+haml/css+haml_usage.test
  tests/languages/erb+haml/erb_inclusion.test
  tests/languages/haml/interpolation_feature.test
  tests/languages/haml/tag_feature.test
  tests/languages/javascript+haml/javascript_inclusion.test
  tests/languages/less+haml/less_inclusion.test
  tests/languages/markdown+haml/markdown_inclusion.test
  tests/languages/ruby+haml/ruby_inclusion.test
  tests/languages/scss+haml/scss_inclusion.test
  tests/languages/textile+haml/textile_inclusion.test
Labels: enhancement, language-definitions, needs review

#3181 MAXScript: Various improvements
  components/prism-maxscript.js
  components/prism-maxscript.min.js
  tests/languages/maxscript/boolean_feature.test
  tests/languages/maxscript/color_feature.test
  tests/languages/maxscript/constant_feature.test
  tests/languages/maxscript/function_feature.test
  tests/languages/maxscript/keyword_feature.test
  tests/languages/maxscript/number_feature.test
  tests/languages/maxscript/path_feature.test
Labels: enhancement, language-definitions, needs review

#3182 Applescript: Use `class-name` standard token
  components/prism-applescript.js
  components/prism-applescript.min.js
  tests/languages/applescript/class-name_feature.test
  tests/languages/applescript/class_feature.test
Labels: enhancement, language-definitions, needs review

#3183 AQL: Differenciate between strings and identifiers
  components/prism-aql.js
  components/prism-aql.min.js
  tests/languages/aql/identifier_feature.test
  tests/languages/aql/string_feature.test
Labels: enhancement, language-definitions, needs review

#3185 Avro IDL: Removed char syntax
  components/prism-avro-idl.js
  components/prism-avro-idl.min.js
  tests/languages/avro-idl/string_feature.test
Labels: enhancement, language-definitions, needs review

#3184 Asm6502: Use standard tokens and minor improvements
  components/prism-asm6502.js
  components/prism-asm6502.min.js
  tests/languages/asm6502/number_feature.test
  tests/languages/asm6502/opcode_feature.test
  tests/languages/asm6502/punctuation_feature.test
  tests/languages/asm6502/register_feature.test
Labels: enhancement, language-definitions, needs review

#3186 Bro: Removed `variable` and minor improvements
  components/prism-bro.js
  components/prism-bro.min.js
  tests/languages/bro/function_feature.test
  tests/languages/bro/variable_feature.test
Labels: enhancement, language-definitions, needs review

#3188 Clojure: Added `char` token
  components/prism-clojure.js
  components/prism-clojure.min.js
  tests/languages/clojure/string_feature.test
Labels: enhancement, language-definitions, needs review

#3196 D: Added standard char token
  components/prism-d.js
  components/prism-d.min.js
  tests/languages/d/char_feature.test
  tests/languages/d/string_feature.test
Labels: enhancement, language-definitions, needs review

#3195 Cypher: Removed non-standard use of `symbol` name
  components/prism-cypher.js
  components/prism-cypher.min.js
Labels: enhancement, language-definitions, needs review

#3189 Concurnas: Improved tokenization
  components/prism-concurnas.js
  components/prism-concurnas.min.js
  tests/languages/concurnas/comment_feature.test
  tests/languages/concurnas/function_feature.test
  tests/languages/concurnas/langext_feature.test
  tests/languages/concurnas/operator_feature.test
  tests/languages/concurnas/regex_feature.test
  tests/languages/concurnas/string_feature.test
Labels: enhancement, language-definitions, needs review

#3198 Eiffel: Removed non-standard use of `builtin` name
  components/prism-eiffel.js
  components/prism-eiffel.min.js
Labels: enhancement, language-definitions, needs review

#3193 Ruby: Improved tokenization
  components/prism-crystal.js
  components/prism-crystal.min.js
  components/prism-ruby.js
  components/prism-ruby.min.js
  tests/languages/crystal/attribute_feature.test
  tests/languages/crystal/keyword_feature.test
  tests/languages/erb+haml/erb_inclusion.test
  tests/languages/erb/erb_feature.test
  tests/languages/erb/erb_in_markup_feature.test
  tests/languages/haml/interpolation_feature.test
  tests/languages/haml/tag_feature.test
  tests/languages/ruby+haml/ruby_inclusion.test
  tests/languages/ruby/class-name_feature.test
  tests/languages/ruby/command_feature.test
  tests/languages/ruby/constant_feature.test
  tests/languages/ruby/issue1336.test
  tests/languages/ruby/keyword_feature.test
  tests/languages/ruby/method_definition_feature.test
  tests/languages/ruby/operator_feature.test
  tests/languages/ruby/punctuation_feature.test
  tests/languages/ruby/regex_feature.test
  tests/languages/ruby/string_feature.test
  tests/languages/ruby/symbol_feature.test
Labels: enhancement, language-definitions, needs review

#3197 Dart: Added string interpolation and improved metadata
  components/prism-dart.js
  components/prism-dart.min.js
  tests/languages/dart/metadata_feature.test
  tests/languages/dart/string_feature.test
Labels: enhancement, language-definitions, needs review

#3194 Crystal: Improved tokenization
  components/prism-crystal.js
  components/prism-crystal.min.js
  tests/languages/crystal/attribute_feature.test
  tests/languages/crystal/char_feature.test
  tests/languages/crystal/expansion_feature.test
  tests/languages/crystal/keyword_feature.test
  tests/languages/crystal/operator_feature.test
  tests/languages/crystal/punctuation_feature.test
  tests/languages/crystal/regex_feature.test
  tests/languages/crystal/string_feature.test
  tests/languages/crystal/symbol_feature.test
Labels: enhancement, language-definitions, needs review

#3218 Autoloader: Mention how to load grammars from URLs
  plugins/autoloader/index.html
Labels: enhancement, website, needs review

#3237 Adding docker and podman commands to Bash language
  components/prism-bash.js
  components/prism-bash.min.js
Labels: enhancement, language-definitions
