Repository PrismJS/prism, pull requests merged in 2021-02, with the labels that each got.

#2749 Update the link to a Chinese translation
  README.md
  docs/index.html
Labels: docs, enhancement

#2732 Line Highlight: Fixed linkable line numbers not being initialized
  plugins/line-highlight/index.html
  plugins/line-highlight/prism-line-highlight.js
  plugins/line-highlight/prism-line-highlight.min.js
Labels: bug, needs review, plugins

#2734 HTTP: Fixed body not being highlighted
  components/prism-http.js
  components/prism-http.min.js
  tests/languages/javascript+http/issue2733.test
  tests/languages/json+http/issue2733.test
  tests/languages/markup+http/issue2733.test
Labels: bug, language-definitions, needs review

#2754 JSX: Added support for general spread expressions
  components/prism-jsx.js
  components/prism-jsx.min.js
  tests/languages/jsx/issue1236.test
  tests/languages/jsx/issue2753.test
  tests/languages/jsx/spread_in_tags.test
  tests/languages/jsx/tag_feature.test
  tests/languages/tsx/tag_feature.test
Labels: enhancement, language-definitions, needs review

#2757 Dangerfile: Fixed how changed files are determined
  dangerfile.js
Labels: bug, needs review

#2761 Dangerfile: Trim merge base
  dangerfile.js
Labels: bug, needs review

#2752 [PHP] Add support for `enum` in class-name_feature context
  components/prism-php.js
  components/prism-php.min.js
  tests/languages/php/class-name_feature.test
Labels: enhancement, language-definitions

#2771 Added support for CFScript
  components.js
  components.json
  components/prism-cfscript.js
  components/prism-cfscript.min.js
  examples/prism-cfscript.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/cfscript/comment_feature.test
  tests/languages/cfscript/function-variable_feature.test
  tests/languages/cfscript/keyword_feature.test
  tests/languages/cfscript/operator_feature.test
  tests/languages/cfscript/scope_feature.test
  tests/languages/cfscript/type_feature.test
Labels: language-definitions, needs changes, new language

#2770 feat: added support for PHP 8.1 enums
  components/prism-php.js
  components/prism-php.min.js
  tests/languages/latte/html_feature.test
  tests/languages/latte/n-attr_feature.test
  tests/languages/php/class-name_feature.test
  tests/languages/php/constant_feature.test
  tests/languages/php/enum_feature.test
Labels: enhancement, language-definitions

#2755 Add support for Idris
  components.js
  components.json
  components/prism-idris.js
  components/prism-idris.min.js
  examples/prism-idris.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/idris/char_feature.test
  tests/languages/idris/comment_feature.test
  tests/languages/idris/constant_feature.test
  tests/languages/idris/hvariable_feature.test
  tests/languages/idris/import_statement_feature.test
  tests/languages/idris/keyword_feature.test
  tests/languages/idris/number_feature.test
  tests/languages/idris/operator_feature.test
  tests/languages/idris/string_feature.test
Labels: language-definitions, needs changes, new language

#2763 C++: Added missing keywords and modules
  components/prism-cpp.js
  components/prism-cpp.min.js
  tests/languages/cpp/keyword_feature.test
  tests/languages/cpp/module_feature.test
Labels: enhancement, language-definitions, needs review
