Repository PrismJS/prism, pull requests merged in 2021-06, with the labels that each got.

#2921 Adding basic support for mathematica
  components.js
  components.json
  components/prism-wolfram.js
  components/prism-wolfram.min.js
  examples/prism-wolfram.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/wolfram/boolean_feature.test
  tests/languages/wolfram/operator_feature.test
  tests/languages/wolfram/string_feature.test
Labels: language-definitions, needs changes, new language

#2929 isolate pattern tests with --language flag
  tests/pattern-tests.js
Labels: enhancement

#2920 Autohotkey: Improved tag pattern
  components/prism-autohotkey.js
  components/prism-autohotkey.min.js
  tests/languages/autohotkey/issue2911.test
  tests/languages/autohotkey/tag_feature.test
Labels: enhancement, language-definitions, needs review

#2942 Updated `eslint-plugin-regexp`
  package-lock.json
  package.json
Labels: dependencies

#2939 add advanced graphql changes separate from test changes
  components/prism-graphql.js
  components/prism-graphql.min.js
  tests/languages/graphql/attr-name_feature.test
  tests/languages/graphql/constant_feature.test
  tests/languages/graphql/fragment_feature.test
  tests/languages/javascript!+graphql+js-templates/graphql_inclusion.test
Labels: enhancement, language-definitions

#2945 JS Templates: Added SQL templates
  components.js
  components.json
  components/prism-js-templates.js
  components/prism-js-templates.min.js
  tests/languages/javascript!+sql+js-templates/sql_inclusion.test
Labels: enhancement, language-definitions, needs review

#2950 Liquid: Added Markup support, missing tokens, and other improvements
  components.js
  components.json
  components/prism-liquid.js
  components/prism-liquid.min.js
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  tests/languages/liquid/boolean_feature.test
  tests/languages/liquid/comment_feature.test
  tests/languages/liquid/function_feature.test
  tests/languages/liquid/keyword_feature.test
  tests/languages/liquid/markup_feature.test
  tests/languages/liquid/number_feature.test
  tests/languages/liquid/operator_feature.test
  tests/languages/liquid/raw_feature.test
  tests/languages/liquid/string_feature.test
  tests/languages/liquid/template_feature.test
Labels: enhancement, language-definitions, needs review

#2953 JS: Added support for import assertions
  components/prism-javascript.js
  components/prism-javascript.min.js
  prism.js
  tests/languages/javascript/keyword_feature.test
Labels: enhancement, language-definitions, needs review

#2952 Fixed problems reported by `no-dupe-disjunctions`
  components/prism-abap.js
  components/prism-abap.min.js
  components/prism-actionscript.js
  components/prism-actionscript.min.js
  components/prism-agda.js
  components/prism-agda.min.js
  components/prism-bash.js
  components/prism-bash.min.js
  components/prism-cmake.js
  components/prism-cmake.min.js
  components/prism-concurnas.js
  components/prism-concurnas.min.js
  components/prism-dhall.js
  components/prism-dhall.min.js
  components/prism-django.js
  components/prism-django.min.js
  components/prism-gml.js
  components/prism-gml.min.js
  components/prism-parigp.js
  components/prism-parigp.min.js
  components/prism-psl.js
  components/prism-psl.min.js
  components/prism-scheme.js
  components/prism-scheme.min.js
  components/prism-shell-session.js
  components/prism-shell-session.min.js
  components/prism-wolfram.js
  components/prism-wolfram.min.js
  components/prism-yaml.js
  components/prism-yaml.min.js
  tests/languages/bash/variable_operator_feature.test
  tests/languages/django/operator_feature.test
  tests/languages/shell-session/issue2871.test
Labels: enhancement, language-definitions, needs review

#2951 ESLint: Enabled `no-dupe-disjunctions` rule
  .eslintrc.js
Labels: enhancement, needs review

#2958 Add additional keywords for Elixir
  components/prism-elixir.js
  components/prism-elixir.min.js
  tests/languages/elixir/keyword_feature.test
Labels: enhancement, language-definitions

#2959 ESLint: Use cache
  .gitignore
  package.json
Labels: enhancement, needs review

#2946 reST: Fixed `inline` pattern
  components/prism-rest.js
  components/prism-rest.min.js
  tests/languages/rest/issue2940.test
Labels: enhancement, language-definitions, needs review

#2964 fix definition-query and definition-mutation tokens
  components/prism-graphql.js
  components/prism-graphql.min.js
  tests/languages/jsx!+graphql+js-templates/graphql_inclusion.test
Labels: enhancement, language-definitions

#2947 Made Match Braces and Custom Class compatible
  plugins/custom-class/prism-custom-class.js
  plugins/custom-class/prism-custom-class.min.js
  plugins/match-braces/prism-match-braces.js
  plugins/match-braces/prism-match-braces.min.js
Labels: enhancement, needs review, plugins

#2967 Markdown: Improved code snippets
  components/prism-markdown.js
  components/prism-markdown.min.js
  tests/languages/markdown/bold_feature.test
  tests/languages/markdown/code_feature.test
  tests/languages/markdown/issue2966.test
  tests/languages/markdown/italic_feature.test
  tests/languages/markdown/strike_feature.test
  tests/languages/markdown/table_feature.test
  tests/languages/markdown/url_feature.test
Labels: enhancement, language-definitions, needs review

#2965 Updated changelog
  CHANGELOG.md
Labels: needs review
