Repository PrismJS/prism, pull requests merged in 2022-03, with the labels that each got.

#3348 Java: Fixed `record` false positives
  components/prism-java.js
  components/prism-java.min.js
  tests/languages/java/issue3345.test
Labels: enhancement, language-definitions, needs review

#3352 Command line: Increased prompt opacity
  plugins/command-line/prism-command-line.css
  plugins/command-line/prism-command-line.min.css
Labels: enhancement, plugins, needs review

#3351 Java: Improved class name detection
  components/prism-java.js
  components/prism-java.min.js
  tests/languages/java/class-name_feature.test
  tests/languages/java/issue3350.test
  tests/languages/java/package_feature.test
Labels: enhancement, language-definitions, needs review

#3365 Keep Markup: Restore original nodes instead of clones
  plugins/keep-markup/prism-keep-markup.js
  plugins/keep-markup/prism-keep-markup.min.js
  tests/plugins/keep-markup/test.js
Labels: enhancement, plugins, needs review

#3380 Ada: Add `or` keyword
  components/prism-ada.js
  components/prism-ada.min.js
  tests/languages/ada/keyword_feature.test
Labels: enhancement, language-definitions

#3358 Autolinker: Fixed URL regex to match more valid URLs
  plugins/autolinker/prism-autolinker.js
  plugins/autolinker/prism-autolinker.min.js
Labels: enhancement, plugins, needs review

#3356 Tests: Cache results for exp backtracking check
  tests/pattern-tests.js
Labels: enhancement, needs review

#3384 Autohotkey: Use general pattern instead of name list for directives
  components/prism-autohotkey.js
  components/prism-autohotkey.min.js
Labels: enhancement, language-definitions, needs review

#3355 CSHTML: Added support for `@helper` and inline C# inside attribute values
  components/prism-cshtml.js
  components/prism-cshtml.min.js
  tests/languages/cshtml/block_feature.test
  tests/languages/cshtml/issue3354.test
Labels: enhancement, language-definitions, needs review

#3387 Erlang: Add `begin` keyword
  components/prism-erlang.js
  components/prism-erlang.min.js
  tests/languages/erlang/keyword_feature.test
Labels: enhancement, language-definitions

#3385 Autohotkey: Use standard tokens
  components/prism-autohotkey.js
  components/prism-autohotkey.min.js
  tests/languages/autohotkey/builtin_feature.test
  tests/languages/autohotkey/command_feature.test
  tests/languages/autohotkey/directive_feature.test
  tests/languages/autohotkey/important_feature.test
  tests/languages/autohotkey/issue2911.test
  tests/languages/autohotkey/selector_feature.test
Labels: enhancement, language-definitions, needs review

#3388 Flow: Recognise `[Ss]ymbol` as a type
  components/prism-flow.js
  components/prism-flow.min.js
  tests/languages/flow/type_feature.test
Labels: enhancement, language-definitions

#3391 Excel: Use more fitting aliases for `function-name`, `range`, `cell`
  components/prism-excel-formula.js
  components/prism-excel-formula.min.js
Labels: enhancement, language-definitions

#3368 ABAP: Sorted keyword list
  components/prism-abap.js
  components/prism-abap.min.js
Labels: enhancement, language-definitions, needs review

#3374 Added support for AWK
  components.js
  components.json
  components/prism-awk.js
  components/prism-awk.min.js
  examples/prism-awk.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/awk/comment_feature.test
  tests/languages/awk/hashbang_feature.test
  tests/languages/awk/keyword_feature.test
  tests/languages/awk/number_feature.test
  tests/languages/awk/operator_feature.test
  tests/languages/awk/punctuation_feature.test
  tests/languages/awk/regex_feature.test
  tests/languages/awk/string_feature.test
  tests/languages/awk/variable_feature.test
Labels: language-definitions, needs review, new language

#3366 Groovy: Added string interpolation without hook
  components/prism-groovy.js
  components/prism-groovy.min.js
  tests/languages/groovy+sas/groovy_inclusion.test
  tests/languages/groovy/issue1049.html.test
  tests/languages/groovy/string-interpolation_feature.html.test
  tests/languages/groovy/string_feature.test
Labels: enhancement, language-definitions, needs review

#3401 keyman: add new keywords
  components/prism-keyman.js
  components/prism-keyman.min.js
  tests/languages/keyman/structural-keyword_feature.test
Labels: enhancement, language-definitions, needs changes

#3369 Added gettext (.po) language support
  components.js
  components.json
  components/prism-gettext.js
  components/prism-gettext.min.js
  examples/prism-gettext.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/gettext/comment_feature.html.test
  tests/languages/gettext/keyword_feature.test
  tests/languages/gettext/number_feature.test
  tests/languages/gettext/punctuation_feature.test
  tests/languages/gettext/string_feature.test
Labels: language-definitions, needs review, new language

#3371 Added support for SuperCollider
  components.js
  components.json
  components/prism-supercollider.js
  components/prism-supercollider.min.js
  examples/prism-supercollider.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/supercollider/boolean_feature.test
  tests/languages/supercollider/char_feature.test
  tests/languages/supercollider/class-name_feature.test
  tests/languages/supercollider/comment_feature.test
  tests/languages/supercollider/keyword_feature.test
  tests/languages/supercollider/label_feature.test
  tests/languages/supercollider/number_feature.test
  tests/languages/supercollider/operator_feature.test
  tests/languages/supercollider/punctuation_feature.test
  tests/languages/supercollider/string_feature.test
  tests/languages/supercollider/symbol_feature.test
Labels: language-definitions, needs review, new language

#3373 Added support for GNU Linker Script
  components.js
  components.json
  components/prism-linker-script.js
  components/prism-linker-script.min.js
  examples/prism-linker-script.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/linker-script/comment_feature.test
  tests/languages/linker-script/function_feature.test
  tests/languages/linker-script/identifier_feature.test
  tests/languages/linker-script/location-counter_feature.test
  tests/languages/linker-script/number_feature.test
  tests/languages/linker-script/operator_feature.test
  tests/languages/linker-script/punctuation_feature.test
  tests/languages/linker-script/section_feature.test
Labels: language-definitions, needs review, new language

#3375 Added support for CUE
  components.js
  components.json
  components/prism-cue.js
  components/prism-cue.min.js
  examples/prism-cue.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/cue/attribute_feature.test
  tests/languages/cue/boolean_feature.test
  tests/languages/cue/builtin_feature.test
  tests/languages/cue/comment_feature.test
  tests/languages/cue/function_feature.test
  tests/languages/cue/keyword_feature.test
  tests/languages/cue/number_feature.test
  tests/languages/cue/operator_feature.test
  tests/languages/cue/punctuation_feature.test
  tests/languages/cue/string_feature.test
Labels: language-definitions, needs review, new language

#3376 Added support for ARM Assembly
  components.js
  components.json
  components/prism-armasm.js
  components/prism-armasm.min.js
  examples/prism-armasm.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/armasm/boolean_feature.test
  tests/languages/armasm/char_feature.test
  tests/languages/armasm/comment_feature.test
  tests/languages/armasm/directives_feature.test
  tests/languages/armasm/instruction_feature.test
  tests/languages/armasm/number_feature.test
  tests/languages/armasm/operator_feature.test
  tests/languages/armasm/punctuation_feature.test
  tests/languages/armasm/string_feature.test
  tests/languages/armasm/variable_feature.test
  tests/languages/armasm/version-symbol_feature.test
Labels: language-definitions, needs review, new language

#3372 Added support for PlantUML
  components.js
  components.json
  components/prism-plant-uml.js
  components/prism-plant-uml.min.js
  examples/prism-plant-uml.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/plant-uml/arrow_feature.test
  tests/languages/plant-uml/color_feature.test
  tests/languages/plant-uml/comment_feature.test
  tests/languages/plant-uml/delimiter_feature.test
  tests/languages/plant-uml/divider_feature.test
  tests/languages/plant-uml/keyword_feature.test
  tests/languages/plant-uml/preprocessor_feature.test
  tests/languages/plant-uml/string_feature.test
  tests/languages/plant-uml/text_feature.test
  tests/languages/plant-uml/time_feature.test
  tests/languages/plant-uml/variable_feature.test
Labels: language-definitions, needs review, new language

#3397 Wolfram language: Simplified operator regex
  components/prism-wolfram.js
  components/prism-wolfram.min.js
Labels: enhancement, language-definitions, needs review

#3398 CMake: Simplified `variable` and `operator` regexes
  components/prism-cmake.js
  components/prism-cmake.min.js
Labels: enhancement, language-definitions, needs review

#3393 Mel: Improved functions, code, and comments
  components/prism-mel.js
  components/prism-mel.min.js
  tests/languages/mel/code_feature.test
  tests/languages/mel/comment_feature.test
  tests/languages/mel/function_feature.test
  tests/languages/mel/punctuation_feature.test
Labels: enhancement, language-definitions, needs review

#3399 JS: Added support for new regex syntax
  components/prism-javascript.js
  components/prism-javascript.min.js
  prism.js
  tests/languages/javascript/regex_feature.test
Labels: enhancement, language-definitions, needs review

#3383 Added support for Stata's Ado and Mata
  components.js
  components.json
  components/prism-mata.js
  components/prism-mata.min.js
  components/prism-stata.js
  components/prism-stata.min.js
  examples/prism-mata.html
  examples/prism-stata.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/mata/class-name_feature.test
  tests/languages/mata/comment_feature.test
  tests/languages/mata/constant_feature.test
  tests/languages/mata/keyword_feature.test
  tests/languages/mata/missing_feature.test
  tests/languages/mata/number_feature.test
  tests/languages/mata/operator_feature.test
  tests/languages/mata/punctuation_feature.test
  tests/languages/mata/string_feature.test
  tests/languages/mata/type_feature.test
  tests/languages/stata/boolean_feature.test
  tests/languages/stata/command_feature.test
  tests/languages/stata/comment_feature.test
  tests/languages/stata/java_inclusion.test
  tests/languages/stata/keyword_feature.test
  tests/languages/stata/mata_inclusion.test
  tests/languages/stata/number_feature.test
  tests/languages/stata/operator_feature.test
  tests/languages/stata/python_inclusion.test
  tests/languages/stata/string_feature.test
  tests/languages/stata/variable_feature.test
Labels: language-definitions, needs review, new language

#3404 npm: Upgrade to lockfile version 2
  package-lock.json
Labels: enhancement, needs review

#3405 Got rid of `simple-git` warning
  benchmark/benchmark.js
  dangerfile.js
  gulpfile.js/changelog.js
Labels: enhancement, needs review

#3409 Update to `eslint-plugin-regexp` v1.6.0
  package-lock.json
  package.json
Labels: dependencies

#3349 Added readonly keyword to PHP language
  components/prism-php.js
  components/prism-php.min.js
  tests/languages/php/keyword_feature.test
Labels: enhancement, language-definitions, needs changes
