Repository PrismJS/prism, pull requests merged in 2022-08, with the labels that each got.

#3512 Improve BBj regexs
  components/prism-bbj.js
  components/prism-bbj.min.js
  tests/languages/bbj/keyword_feature.test
  tests/languages/bbj/string_feature.test
Labels: enhancement, language-definitions

#3515 bqn: Add bqn language support.
  components.js
  components.json
  components/prism-bqn.js
  components/prism-bqn.min.js
  examples/prism-bqn.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/bqn/comments.test
  tests/languages/bqn/namespace.test
  tests/languages/bqn/strings.test
  tests/languages/bqn/system-functions.test
  tests/languages/bqn/tokens.test
  tests/languages/bqn/words.test
Labels: language-definitions, needs changes, new language

#3522 Cilk: Add support for Cilk (with C/C++)
  components.js
  components.json
  components/prism-cilkc.js
  components/prism-cilkc.min.js
  components/prism-cilkcpp.js
  components/prism-cilkcpp.min.js
  examples/prism-cilkc.html
  examples/prism-cilkcpp.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/cilkc/cilk_keywords_feature.test
  tests/languages/cilkcpp/cilk_keywords_feature.test
Labels: language-definitions, needs changes, new language

#3518 Line Highlight: Account for offset when clamping ranges
  plugins/line-highlight/prism-line-highlight.js
  plugins/line-highlight/prism-line-highlight.min.js
Labels: enhancement, plugins, needs review
