Repository PrismJS/prism, pull requests merged in 2022-07, with the labels that each got.

#3488 Bash: Added `cargo` command
  components/prism-bash.js
  components/prism-bash.min.js
Labels: enhancement, language-definitions, needs review

#3504 add missing NSIS commands
  components/prism-nsis.js
  components/prism-nsis.min.js
  tests/languages/nsis/keyword_feature.test
Labels: enhancement, language-definitions, needs changes

#3505 prism-bash.js: support `parameter`, add functions `java` and `sysctl`.
  components/prism-bash.js
  components/prism-bash.min.js
  tests/languages/arturo!+shell/sh-string_feature.test
  tests/languages/bash/function_feature.test
  tests/languages/bash/parameter_feature.test
  tests/languages/shell-session/command_string_feature.test
  tests/languages/shell-session/info_feature.test
  tests/languages/shell-session/issue2644.test
  tests/languages/shell-session/issue2871.test
Labels: enhancement, language-definitions, needs changes

#3506 Update Scala keywords to support Scala 3
  components/prism-scala.js
  components/prism-scala.min.js
  tests/languages/scala/keyword_feature.test
Labels: enhancement, language-definitions, needs changes

#3410 Added list of maintainers
  MAINTAINERS.md
Labels: needs review

#3070 Added security policy
  SECURITY.md
Labels: enhancement, needs review

#3511 Feat: BBj Langauge Support
  components.js
  components.json
  components/prism-bbj.js
  components/prism-bbj.min.js
  examples/prism-bbj.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/bbj/boolean_feature.test
  tests/languages/bbj/comment_feature.test
  tests/languages/bbj/keyword_feature.test
  tests/languages/bbj/number_feature.test
  tests/languages/bbj/operator_feature.test
  tests/languages/bbj/punctuation_feature.test
  tests/languages/bbj/string_feature.test
Labels: enhancement, language-definitions, needs changes
