Repository PrismJS/prism, pull requests merged in 2022-02, with the labels that each got.

#3311 Core: Added better error message for missing grammars
  components/prism-core.js
  components/prism-core.min.js
  docs/Prism.hooks.html
  docs/Prism.html
  docs/Token.html
  docs/global.html
  docs/prism-core.js.html
  prism.js
Labels: enhancement, language-definitions, needs review

#3312 Add span with command-line-(input|output) class to command-line plugin lines
  plugins/command-line/prism-command-line.js
  plugins/command-line/prism-command-line.min.js
Labels: enhancement, plugins, needs changes

#3320 added missing PureBasic keyword and fixed constants with $ at the end
  components/prism-purebasic.js
  components/prism-purebasic.min.js
  tests/languages/purebasic/keyword_feature.test
  tests/languages/purebasic/tag_feature.test
Labels: enhancement, language-definitions, needs changes

#3328 ESLint: Allow `Map` and `Set` in ES5 code
  .eslintrc.js
Labels: enhancement

#3341 Command Line: Escape markup in command line output
  plugins/command-line/prism-command-line.js
  plugins/command-line/prism-command-line.min.js
Labels: bug, plugins

#3337 cooklang syntax highlighting - initial add
  components.js
  components.json
  components/prism-cooklang.js
  components/prism-cooklang.min.js
  examples/prism-cooklang.html
  tests/languages/cooklang/comment_feature.test
  tests/languages/cooklang/cookware_feature.test
  tests/languages/cooklang/ingredient_feature.test
  tests/languages/cooklang/meta_feature.test
  tests/languages/cooklang/timer_feature.test
Labels: language-definitions, new language

#3344 Command Line: Add support for command termination chars
  plugins/command-line/index.html
  plugins/command-line/prism-command-line.js
  plugins/command-line/prism-command-line.min.js
Labels: enhancement, plugins, website, needs changes
