Repository PrismJS/prism, pull requests merged in 2022-06, with the labels that each got.

#3465 Add support for METAFONT
  components.js
  components.json
  components/prism-metafont.js
  components/prism-metafont.min.js
  examples/prism-metafont.html
  package-lock.json
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/identifier-test.js
  tests/languages/metafont/boolean_feature.test
  tests/languages/metafont/command_feature.test
  tests/languages/metafont/constant_feature.test
  tests/languages/metafont/internal_quantity_feature.test
  tests/languages/metafont/keywords_feature.test
  tests/languages/metafont/macro_feature.test
  tests/languages/metafont/number_feature.test
  tests/languages/metafont/operator_feature.test
  tests/languages/metafont/ponctuation_feature.test
  tests/languages/metafont/primitive_feature.test
  tests/languages/metafont/string_and_comment_feature.test
  tests/languages/metafont/type_feature.test
  tests/languages/metafont/variable_feature.test
Labels: language-definitions, needs changes, new language

#3467 Normalize Whitespace Plugin: add configuration via attributes
  plugins/normalize-whitespace/demo.html
  plugins/normalize-whitespace/index.html
  plugins/normalize-whitespace/prism-normalize-whitespace.js
  plugins/normalize-whitespace/prism-normalize-whitespace.min.js
Labels: enhancement, plugins, needs changes

#3481 AsciiDoc: Some regexes are too greedy
  components/prism-asciidoc.js
  components/prism-asciidoc.min.js
  tests/languages/asciidoc/issue3480.test
Labels: enhancement, language-definitions, needs review
