Repository PrismJS/prism, pull requests merged in 2022-04, with the labels that each got.

#3421 PHP: added 'never' return type + minor fix of named arguments
  components/prism-php.js
  components/prism-php.min.js
  tests/languages/php/argument-name_feature.test
  tests/languages/php/keyword_feature.test
Labels: enhancement, language-definitions

#3422 Handlebars: Added Mustache alias
  components.js
  components.json
  components/prism-handlebars.js
  components/prism-handlebars.min.js
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
Labels: enhancement, language-definitions, needs review

#3424 Resolved conflicts for "Added support for Odin"
  components.js
  components.json
  components/prism-odin.js
  components/prism-odin.min.js
  examples/prism-odin.html
  tests/languages/odin/boolean_feature.test
  tests/languages/odin/character_feature.test
  tests/languages/odin/comment_feature.test
  tests/languages/odin/constant_parameter_sign_feature.test
  tests/languages/odin/directive_feature.test
  tests/languages/odin/discard_feature.test
  tests/languages/odin/keyword_feature.test
  tests/languages/odin/not_a_number_feature.test
  tests/languages/odin/number_feature.test
  tests/languages/odin/operator_feature.test
  tests/languages/odin/procedure_feature.test
  tests/languages/odin/punctuation_feature.test
  tests/languages/odin/raw_string_feature.test
  tests/languages/odin/string_feature.test
  tests/languages/odin/undefined_feature.test
Labels: language-definitions, new language

#3435 Added support for ReScript
  components.js
  components.json
  components/prism-rescript.js
  components/prism-rescript.min.js
  examples/prism-rescript.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/rescript/attr-value_feature.test
  tests/languages/rescript/boolean_feature.test
  tests/languages/rescript/char_feature.test
  tests/languages/rescript/class-name_feature.test
  tests/languages/rescript/comment_feature.test
  tests/languages/rescript/function_feature.test
  tests/languages/rescript/keyword_feature.test
  tests/languages/rescript/number_feature.test
  tests/languages/rescript/operator_feature.test
  tests/languages/rescript/punctuation_feature.test
  tests/languages/rescript/string_feature.test
  tests/languages/rescript/tag_feature.test
Labels: language-definitions, needs changes, new language

#3427 More documentation for language definitons
  extending.html
Labels: enhancement, docs, needs review

#3425 Added changelog for v1.28.0
  CHANGELOG.md
Labels: needs review

#3438 CSS: Fixed @-rules not accounting for strings
  components/prism-css.js
  components/prism-css.min.js
  prism.js
  tests/languages/css/atrule_feature.test
Labels: enhancement, language-definitions, needs review

#3442 Markup: Fixed quotes in HTML attribute values
  components/prism-markup.js
  components/prism-markup.min.js
  prism.js
  tests/languages/markup!+javascript/javascript_inclusion.test
  tests/languages/markup/issue3441.test
Labels: enhancement, language-definitions, needs review

#3443 Add support for Gradle
  components.js
  components.json
  components/prism-gradle.js
  components/prism-gradle.min.js
  examples/prism-gradle.html
  plugins/autoloader/prism-autoloader.js
  plugins/autoloader/prism-autoloader.min.js
  tests/languages/gradle/annotation_feature.test
  tests/languages/gradle/keyword_feature.test
  tests/languages/gradle/number_feature.test
  tests/languages/gradle/operator_feature.test
  tests/languages/gradle/shebang_feature.test
  tests/languages/gradle/spock-block_feature.test
  tests/languages/gradle/string-interpolation_feature.html.test
  tests/languages/gradle/string_feature.test
Labels: language-definitions, needs changes, new language
