Repository PrismJS/prism, pull requests merged in 2022-01, with the labels that each got.

#3291 Add `node` to known bash commands
  components/prism-bash.js
  components/prism-bash.min.js
Labels: enhancement, language-definitions, needs changes

#3293 Scala: Added support for interpolated strings
  components/prism-scala.js
  components/prism-scala.min.js
  tests/languages/scala/string_feature.test
Labels: enhancement, language-definitions, needs review

#3297 MongoDB: added v5 support
  components/prism-mongodb.js
  components/prism-mongodb.min.js
Labels: enhancement, language-definitions

#3306 systemd: Swap out `operator` for `punctuation`
  components/prism-systemd.js
  components/prism-systemd.min.js
  tests/languages/systemd/boolean_feature.test
  tests/languages/systemd/key_feature.test
  tests/languages/systemd/value_feature.test
Labels: enhancement, language-definitions

#3305 editorconfig: Change alias of `section` from `keyword` to `selector`
  components/prism-editorconfig.js
  components/prism-editorconfig.min.js
Labels: enhancement, language-definitions

#3308 AutoIt: Allow hyphen in directive
  components/prism-autoit.js
  components/prism-autoit.min.js
  tests/languages/autoit/directive_feature.test
Labels: enhancement, language-definitions

#3309 Adding UO Razor Script to available languages
  components.js
  components.json
  components/prism-uorazor.js
  components/prism-uorazor.min.js
  examples/prism-uorazor.html
  plugins/show-language/prism-show-language.js
  plugins/show-language/prism-show-language.min.js
  tests/languages/uorazor/boolean_feature.test
  tests/languages/uorazor/breakdown_script_example_feature.test
  tests/languages/uorazor/commands_feature.test
  tests/languages/uorazor/comment_feature.test
  tests/languages/uorazor/functions_feature.test
  tests/languages/uorazor/keyword_feature.test
  tests/languages/uorazor/source_layers_feature.test
Labels: language-definitions, needs changes, new language
